<div *ngIf="viewContent">

    <div class="p-6 pb-3 pt-0 flex items-center justify-between">
        <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Warehousing
        </div>

        <div class="text-primary">
            <div class="flex items-start justify-between">
                <div style="padding-right: 5px;">
                    <button class="text-primary bg-gray-200" mat-flat-button *ngIf="Editable" [color]="'primary-200'"
                        (click)="projecthubservice.toggleDrawerOpen('WarehousingBulkEdit', '', warehousingBulkEditData, id, true)">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                    </button>
                    <button class="ml-4 text-primary bg-gray-200"
                        *ngIf="Editable" mat-flat-button
                        [color]="'primary-200'"
                        (click)="projecthubservice.toggleDrawerOpen('WarehousingSingleEdit', 'new', warehousingBulkEditData , id)">
                        <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-x-auto mx-6">
        <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
            class="pr-6 material font-medium text-sm text-default whitespace-nowrap cursor-default"
            [rows]="Warehousingngx" #warehousingTable>
            <ngx-datatable-column name="CO2 Intensity" prop="co2intensityFactorValue" [flexGrow]="1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="UoM" prop="co2intensityFactorMeasure" [flexGrow]="0.5">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value}}
                </ng-template>
            </ngx-datatable-column> 
            <ngx-datatable-column name="Shipment Weight (kg)" prop="shipmentWeight" [flexGrow]="1.1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Affected Locations" prop="affectedLocations" [flexGrow]="1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Basis of Estimate" prop="embasisOfEstimate" [flexGrow]="1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value}}
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column [flexGrow]="0.4" [resizeable]="false" [sortable]="false" [draggable]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                    <div class="flex items-center justify-start gap-6">
                        <a href="javascript:void(0)" title="Delete Single" *ngIf="Editable"
                            (click)="deleteDistribution(row.emenvironmentId)">
                            <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                        </a>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>