<div class="grid grid-cols-1 gap-6 w-full min-w-0 p-4">
  <div class="xl:col-span-6 flex flex-col flex-auto bg-card p-6 shadow rounded-2xl overflow-hidden">
    <!-- Enter Content here-->
    <form class="w-full form-general-info" [formGroup]="generalinfoform">
      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

        <div class="sm:col-span-4">

          <label style="font-weight:500;">Is Confidential?</label>

          <div class="sm:col-span-4 flex items-center justify-between">
            <mat-button-toggle-group formControlName="confidential" name="confidential">
              <mat-button-toggle value="true">Yes</mat-button-toggle>
              <mat-button-toggle value="false">No</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Project Name</mat-label>

            <input matInput [(ngModel)]="problemTitle" formControlName="title" name="title">


          </mat-form-field>
        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

        <div class="sm:col-span-4">
          <app-project-single-dropdown [formgroup]="generalinfoform" [label]="'Parent Program'">
          </app-project-single-dropdown>
        </div>
      </div>


      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">



          <mat-form-field class="flex-auto gt-xs:pl-3 w-full">

            <mat-label>Project Type</mat-label>
            <mat-select name="type" formControlName="type">

              <mat-option value="Standard Project / Program">Standard Project / Program</mat-option>
              <mat-option value="SimpleProject">Simple Project</mat-option>

            </mat-select>

          </mat-form-field>

        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>TOPS Group</mat-label>

            <input matInput disabled="disabled" formControlName="tops" name="tops">
          </mat-form-field>
        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Record Creation Date</mat-label>

            <input matInput disabled="disabled" formControlName="createddate" name="createddate">
          </mat-form-field>
        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Submitted By</mat-label>

            <input matInput disabled="disabled" formControlName="submittedby" name="submittedby">
          </mat-form-field>
        </div>
      </div>


      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Sponsor</mat-label>

            <input matInput disabled="disabled" formControlName="sponsor" name="sponsor">
          </mat-form-field>
        </div>
      </div>


      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Project Manager</mat-label>

            <input matInput disabled="disabled" formControlName="pm" name="pm">
          </mat-form-field>
        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Portfolio Owner</mat-label>


            <!-- <select> -->

            <input matInput disabled="disabled" formControlName="portfolioowner" name="portfolioowner">

            <!-- <option *ngFor="let filteroption of filterlist.portfolioOwner" [value]="filteroption">{{filteroption.portfolioOwner}}</option> -->


            <!-- </select> -->
          </mat-form-field>
        </div>
      </div>


      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Primary Product</mat-label>
            <input type="text" placeholder="Select and/or type to search" aria-label="Number" matInput
              [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="value">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectprimaryProduct($event)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.productId">
                {{option.fullProductName}}
              </mat-option>
            </mat-autocomplete>
            <button type="button" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
              (click)="value = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>


      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Other Impacted Products</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let fruit of otherimpactedproducts" (removed)="remove(fruit)">
                {{fruit}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Select and/or type to search" #fruitInput [formControl]="fruitCtrl"
                [matAutocomplete]="fruity" [matChipInputFor]="chipList">
            </mat-chip-list>
            <mat-autocomplete #fruity="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>



      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Problem Description / Present Situation / Submission Description</mat-label>

            <input matInput formControlName="projectdesc" name="projectdesc">
          </mat-form-field>
        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

        <div class="sm:col-span-4">

          <label style="font-weight:500;">OE Project?</label>

          <div class="sm:col-span-4 flex items-center justify-between">
            <mat-button-toggle-group aria-label="OE Project" formControlName="OE" name="OE">
              <mat-button-toggle value="true">Yes</mat-button-toggle>
              <mat-button-toggle value="false">No</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

        <div class="sm:col-span-4">

          <label style="font-weight:500;">Tech Transfer?</label>

          <div class="sm:col-span-4 flex items-center justify-between">
            <mat-button-toggle-group formControlName="techtransfer" name="techtransfer">
              <mat-button-toggle value="true">Yes</mat-button-toggle>
              <mat-button-toggle value="false">No</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">

          <label style="font-weight:500;">CAPS Project?</label>

          <div class="sm:col-span-4 flex items-center justify-between">
            <mat-button-toggle-group formControlName="caps" name="caps">
              <mat-button-toggle value="true">Yes</mat-button-toggle>
              <mat-button-toggle value="false">No</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Environmental Portoflio</mat-label>
            <input type="text" placeholder="Select and/or type to search" aria-label="Number" matInput
              [formControl]="emControl" [matAutocomplete]="autocom" [(ngModel)]="values">
            <mat-autocomplete #autocom="matAutocomplete" (optionSelected)="selectemPortfolio($event)">
              <mat-option *ngFor="let em of filteredEms | async" [value]="em.portfolioOwnerId">
                {{em.portfolioOwner}}
              </mat-option>
            </mat-autocomplete>
            <button type="button" mat-button *ngIf="values" matSuffix mat-icon-button aria-label="Clear"
              (click)="values = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
          <button class="w-full" mat-flat-button [color]="'primary'" type="button" (click)="submitgeneralinfo()">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>