<div class="gap-6 w-full min-w-0 p-6 pt-0">
  <div class="xl:col-span-6 flex flex-col flex-auto bg-card p-6 shadow rounded-2xl overflow-hidden">
    <!-- Enter Content here-->
    <form class="w-full" [formGroup]="generalInfoForm" (ngSubmit)="submitGeneralInfo()">
      <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
        <mat-label>Project Name</mat-label>
        <input matInput [placeholder]="'Project Name'" formControlName="problemTitle" name="problemTitle">
      </mat-form-field>
      <app-project-single-dropdown [formgroup]="generalInfoForm" [label]="'Parent Program'"></app-project-single-dropdown>
      <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto w-full gt-xs:pl-3" [floatLabel]="'always'">
        <mat-label>Project Type</mat-label>
        <mat-select [placeholder]="'Project Type'" formControlName="problemType" name="problemType">
            <mat-option value="Standard Project / Program">Standard Project / Program</mat-option>
            <mat-option value="Simple Project">Simple Project</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
      <mat-label>TOPS Group</mat-label>
      <input matInput [placeholder]="'TOPS Group'" formControlName="topsGroup" name="topsGroup">
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
      <mat-label>Record Creation Date</mat-label>
      <input matInput [placeholder]="'Record Creation Date'" formControlName="recordCreationDate" name="recordCreationDate" [matDatepicker]="picker1">
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
      <mat-label>Submitted by</mat-label>
      <input matInput [placeholder]="'Submitted by'" formControlName="submittedBy" name="submittedBy">
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
      <mat-label>Sponsor</mat-label>
      <input matInput [placeholder]="'Sponsor'" formControlName="sponsor" name="sponsor">
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
      <mat-label>Project Manager</mat-label>
      <input matInput [placeholder]="'Project Manager'" formControlName="projectManager" name="projectManager">
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
      <mat-label>Problem Description / Present Situation / Submission Description</mat-label>
      <textarea matInput [rows]="5" [placeholder]="'Problem Description / Present Situation / Submission Description'" formControlName="projectDescription" name="projectDescription"
            matTextareaAutosize></textarea>
    </mat-form-field>
    <!--<chip-autocomplete></chip-autocomplete>-->
    </form>
  </div>
</div>