<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-6 w-full min-w-0 p-4">
  <div class="xl:col-span-6 flex flex-col flex-auto bg-card p-6 shadow rounded-2xl overflow-hidden">
    <!-- Enter Content here-->


    <div class="sm:col-span-4">

      <label style="font-weight:500;">Is Confidential?</label>

      <div class="sm:col-span-4 flex items-center justify-between">
        <mat-button-toggle-group aria-label="OE Project" value="{{projectdata.projectData.isConfidential}}">
          <mat-button-toggle value="true">Yes</mat-button-toggle>
          <mat-button-toggle value="false">No</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Project Name</mat-label>

          <input matInput value="{{projectdata.projectData.problemTitle}}">


        </mat-form-field>
      </div>
    </div>


    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">



        <mat-form-field class="flex-auto gt-xs:pl-3 w-full">

          <mat-label>Project Type</mat-label>
          <mat-select value="{{projectdata.projectData.problemType}}" name="type">

            <mat-option value="Standard Project / Program">Standard Project / Program</mat-option>
            <mat-option value="Simple Project">Simple Project</mat-option>

          </mat-select>

        </mat-form-field>

      </div>
    </div>

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>TOPS Group</mat-label>

          <input matInput disabled="disabled" value="{{projectdata.pm.tops}}">
        </mat-form-field>
      </div>
    </div>

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Record Creation Date</mat-label>

          <input matInput disabled="disabled" value="{{projectdata.projectData.createdDate| date:'dd/MM/yyyy'}}">
        </mat-form-field>
      </div>
    </div>

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Submitted By</mat-label>

          <input matInput disabled="disabled" value="{{projectdata.projectData.problemOwnerName}}">
        </mat-form-field>
      </div>
    </div>


    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Sponsor</mat-label>

          <input matInput disabled="disabled" value="{{projectdata.sponsor.teamMemberName}}">
        </mat-form-field>
      </div>
    </div>


    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Project Manager</mat-label>

          <input matInput disabled="disabled" value="{{projectdata.pm.pm}}">
        </mat-form-field>
      </div>
    </div>

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Portfolio Owner</mat-label>


          <!-- <select> -->

          <input matInput disabled="disabled" value="{{projectdata.pm.portfolioOwner}}">

          <!-- <option *ngFor="let filteroption of filterlist.portfolioOwner" [value]="filteroption">{{filteroption.portfolioOwner}}</option> -->


          <!-- </select> -->
        </mat-form-field>
      </div>
    </div>

    <!-- <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Primary Product</mat-label>
          <input matInput value="'hello'">
          <mat-autocomplete #prod="matAutocomplete" (optionSelected)="selectoption($event,'Product')">
            <mat-option *ngFor="let produ of filterlist.products" [value]="produ">
              {{produ.fullProductName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div> -->


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Primary Product</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Problem Description / Present Situation / Submission Description</mat-label>

          <input matInput value="{{projectdata.projectData.projectDescription}}">
        </mat-form-field>
      </div>
    </div>

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

      <div class="sm:col-span-4">

        <label style="font-weight:500;">OE Project?</label>

        <div class="sm:col-span-4 flex items-center justify-between">
          <mat-button-toggle-group aria-label="OE Project" value="{{projectdata.projectData.isOeproject}}">
            <mat-button-toggle value="true">Yes</mat-button-toggle>
            <mat-button-toggle value="false">No</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

      </div>
    </div>

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

      <div class="sm:col-span-4">

        <label style="font-weight:500;">Tech Transfer?</label>

        <div class="sm:col-span-4 flex items-center justify-between">
          <mat-button-toggle-group value="{{projectdata.projectData.isTechTransfer}}">
            <mat-button-toggle value="true">Yes</mat-button-toggle>
            <mat-button-toggle value="false">No</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

      </div>
    </div>

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">

        <label style="font-weight:500;">CAPS Project?</label>

        <div class="sm:col-span-4 flex items-center justify-between">
          <mat-button-toggle-group value="{{projectdata.projectData.isCapsProject}}">
            <mat-button-toggle value="true">Yes</mat-button-toggle>
            <mat-button-toggle value="false">No</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

      </div>
    </div>

    <!-- Content End-->
  </div>
</div>