@import '../../../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';
.guidance-link {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(81, 174, 245);
}

.align-icon {
    color: rgb(81, 174, 245);
}
