<ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
    class="pr-6 material font-medium text-sm text-secondary whitespace-nowrap cursor-pointer" [rows]="tableData"
    [sorts]="[{ prop: 'plannedFinish', dir: 'asc' }]" #scheduleTable [rowClass]="getRowClass" [selected]="selected"
    [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="false" (activate)="onActivate($event)"
    (select)="onSelect($event)">
    <ngx-datatable-column name='Status' prop="indicator" [flexGrow]="mode == 'Normal'?0.5:0.7" [resizeable]="false"
        [sortable]="false" [draggable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <mat-icon svgIcon="{{(indicator.getIndicators(value, 'circle')).icontype}}"
                class="{{(indicator.getIndicators(value, 'circle')).iconcolor}}">
            </mat-icon>
            &nbsp;
            &nbsp;
            <mat-icon [matTooltip]="getlinkname(row.scheduleUniqueId)" *ngIf="islink(row.scheduleUniqueId) && mode != 'Link'"
                svgIcon="heroicons_outline:link"></mat-icon>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Milestone" prop="milestone" [flexGrow]="5.5">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p [ngClass]="{'closed': row.completionDate != null}">{{value}}</p>
            <!-- <strong><p *ngIf="value == 'Execution Start - ' || value == 'Execution End - '" class = "nostartName" [ngClass]="{'closed': row.completionDate != null}">{{value}} Insert Milestone Name</p></strong>
          <p *ngIf="value != 'Execution Start - ' && value != 'Execution End - '" [ngClass]="{'closed': row.completionDate != null}">{{value}}</p> -->
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Planned Finish" prop="plannedFinish" [flexGrow]="0.9">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p [ngClass]="{'closed': row.completionDate != null}">{{value | date:'dd-MMM-yyyy'}}</p>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Baseline Finish" prop="baselineFinish" [flexGrow]="0.9">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p [ngClass]="{'closed': row.completionDate != null}">{{value | date:'dd-MMM-yyyy'}}</p>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Completion Date" prop="completionDate" [flexGrow]="0.9">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p [ngClass]="{'closed': row.completionDate != null}">{{value | date:'dd-MMM-yyyy'}}</p>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Variance" prop="variance" [flexGrow]="0.9">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p class = "variance" [ngClass]="{'closed': row.completionDate != null}">{{value}}</p>
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [flexGrow]="0.5" *ngIf="mode == 'Link'" [sortable]="false" [canAutoResize]="false"
        [draggable]="false" [resizeable]="false">
        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-slide-toggle class="overflow-hidden" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-slide-toggle> <br>
            Link        
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-slide-toggle class="overflow-hidden" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-slide-toggle>
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column *ngIf="mode == 'Normal'" [flexGrow]="1" [resizeable]="false" [sortable]="false"
        [draggable]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <div class="flex justify-start items-center gap-6">
                <a href="javascript:void(0)" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                    <mat-icon *ngIf='!expanded' svgIcon="heroicons_outline:chevron-down"></mat-icon>
                    <mat-icon *ngIf='expanded' svgIcon="heroicons_outline:chevron-up"></mat-icon>
                </a>
                <a href="javascript:void(0)" title="Edit Single"
                    *ngIf="projectHubService.roleControllerControl.projectHub.projectBoard.askNeedEdit"
                    (click)="projectHubService.toggleDrawerOpen('AskNeed', row.askNeedUniqueId,askNeedData)">
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
                </a>
                <a href="javascript:void(0)" title="Delete Single"
                    *ngIf="projectHubService.roleControllerControl.projectHub.projectBoard.askNeedEdit"
                    (click)="deleteAskNeed(row.askNeedUniqueId)">
                    <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                </a>
            </div>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-row-detail [rowHeight]="'auto'" *ngIf="mode == 'Normal'" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div class="pb-3 pt-3">
                <div [ngClass]="{'closed': row.closeDate != null}"><strong>Comments:</strong>
                    {{row.comments}}</div>
            </div>
        </ng-template>
    </ngx-datatable-row-detail>

</ngx-datatable>