<ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
    class="material font-medium text-default text-sm whitespace-nowrap cursor-pointer fast-load-table"
    [rows]="tableData" [sorts]="[
        { prop: 'plannedFinish', dir: 'asc' },
        { prop: 'baselineFinish', dir: 'asc' },
        { prop: 'completionDate', dir: 'asc' }
    ]" #scheduleTable [rowClass]="getRowClass" [selected]="selected" [selectionType]="SelectionType.checkbox"
    [selectAllRowsOnPage]="false" (activate)="onActivate($event)" (select)="onSelect($event)">
    <ngx-datatable-column name="Status" prop="indicator" [flexGrow]="callLocation == 'Normal' ? 0.5 : 0.7"
        [resizeable]="false" *ngIf="viewElementChecker('status')" [sortable]="false" [draggable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <mat-icon svgIcon="{{
                    indicator.getIndicators(value, 'circle').icontype
                }}" class="{{ indicator.getIndicators(value, 'circle').iconcolor }}">
            </mat-icon>
            &nbsp; &nbsp;
            <mat-icon [matTooltip]="getlinkname(row.scheduleUniqueId)"
                *ngIf="islink(row.scheduleUniqueId) && callLocation != 'Link'"
                svgIcon="heroicons_outline:link"></mat-icon>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Milestone" prop="milestone" [flexGrow]="4.5" *ngIf="viewElementChecker('milestone')">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p [ngClass]="{ closed: row.completionDate != null }">
                {{ value }}
            </p>
            <!-- <strong><p *ngIf="value == 'Execution Start - ' || value == 'Execution End - '" class = "nostartName" [ngClass]="{'closed': row.completionDate != null}">{{value}} Insert Milestone Name</p></strong>
          <p *ngIf="value != 'Execution Start - ' && value != 'Execution End - '" [ngClass]="{'closed': row.completionDate != null}">{{value}}</p> -->
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Functional Owner" prop="funtionalOwnerId" [flexGrow]="1.5"
        *ngIf="viewElementChecker('functionalOwner')">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p>{{ getLookUpName(value) }}</p>
            <!-- <strong><p *ngIf="value == 'Execution Start - ' || value == 'Execution End - '" class = "nostartName" [ngClass]="{'closed': row.completionDate != null}">{{value}} Insert Milestone Name</p></strong>
          <p *ngIf="value != 'Execution Start - ' && value != 'Execution End - '" [ngClass]="{'closed': row.completionDate != null}">{{value}}</p> -->
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Comment" prop="comment" [flexGrow]="3.0" *ngIf="viewElementChecker('comment')">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p class="comment">{{ value }}</p>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Planned Finish" prop="plannedFinish" [flexGrow]="0.9"
        *ngIf="viewElementChecker('plannedFinish')">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p [ngClass]="{ closed: row.completionDate != null }">
                {{ value | date : "dd-MMM-yyyy" }}
            </p>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Baseline Finish" prop="baselineFinish" [flexGrow]="0.9"
        *ngIf="viewElementChecker('baselineFinish')">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p [ngClass]="{ closed: row.completionDate != null }">
                {{ value | date : "dd-MMM-yyyy" }}
            </p>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Completion Date" prop="completionDate" [flexGrow]="0.9"
        *ngIf="viewElementChecker('completionDate')">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p [ngClass]="{ closed: row.completionDate != null }">
                {{ value | date : "dd-MMM-yyyy" }}
            </p>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Variance" prop="variance" [flexGrow]="0.9" *ngIf="viewElementChecker('variance')">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <p class="variance" [ngClass]="{ closed: row.completionDate != null }">
                {{ value }}
            </p>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Include in {{ includeInText }}" prop="includeInReport" [flexGrow]="1.5"
        *ngIf="viewElementChecker('includeInReport')">
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a>
                <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                    *ngIf="value == true"></mat-icon>
            </a>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="0.5" *ngIf="viewElementChecker('link')" [sortable]="false" [canAutoResize]="false"
        [draggable]="false" [resizeable]="false">
        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-slide-toggle class="h-full min-h-[2pc] overflow-hidden" [checked]="allRowsSelected"
                (change)="selectFn(!allRowsSelected)"></mat-slide-toggle>
            Link
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-slide-toggle class="h-full min-h-[2pc] overflow-hidden" [checked]="isSelected"
                (change)="onCheckboxChangeFn($event)"></mat-slide-toggle>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="0.5" *ngIf="viewElementChecker('addStandardMilestone') && callLocation == 'StandardMilestones'" [sortable]="false"
    [canAutoResize]="false" [draggable]="false" [resizeable]="false" prop="milestoneId">
    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
        let-selectFn="selectFn">
        <mat-slide-toggle class="h-full min-h-[2pc] overflow-hidden" [checked]="allRowsSelected"
            (change)="selectFn(!allRowsSelected)"></mat-slide-toggle>
        Add
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
        let-onCheckboxChangeFn="onCheckboxChangeFn">
        <mat-slide-toggle class="h-full min-h-[2pc] overflow-hidden" [checked]="isSelected"
            (change)="onCheckboxChangeFn($event)" [disabled]="isToggleDisabled(value)">
        </mat-slide-toggle>
    </ng-template>
</ngx-datatable-column>


    <ngx-datatable-column [flexGrow]="0.2" *ngIf="viewElementChecker('addStandardMilestone') && callLocation == 'CAPEX'" [sortable]="false"
    [canAutoResize]="false" [draggable]="false" [resizeable]="false" name="Add" prop="milestoneId">
    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
        let-onCheckboxChangeFn="onCheckboxChangeFn">
        <mat-slide-toggle class="h-full min-h-[2pc] overflow-hidden" [checked]="isToggleChecked(value)"
            (change)="onToggleChange(value, $event)" [disabled]="isToggleDisabled(value)">
        </mat-slide-toggle>
    </ng-template>
</ngx-datatable-column>


    <!--    <ngx-datatable-column *ngIf="callLocation == 'Normal'" [flexGrow]="1" [resizeable]="false" [sortable]="false" *ngIf="viewElementChecker('delete')"-->
    <!--        [draggable]="false">-->
    <!--        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>-->
    <!--            <div class="flex justify-start items-center gap-6">-->
    <!--                <a href="javascript:void(0)" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">-->
    <!--                    <mat-icon *ngIf='!expanded' svgIcon="heroicons_outline:chevron-down"></mat-icon>-->
    <!--                    <mat-icon *ngIf='expanded' svgIcon="heroicons_outline:chevron-up"></mat-icon>-->
    <!--                </a>-->
    <!--                <a href="javascript:void(0)" title="Edit Single"-->
    <!--                    *ngIf="projectHubService.roleControllerControl.projectHub.projectBoard.askNeedEdit"-->
    <!--                    (click)="projectHubService.toggleDrawerOpen('AskNeed', row.askNeedUniqueId,askNeedData)">-->
    <!--                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>-->
    <!--                </a>-->
    <!--                <a href="javascript:void(0)" title="Delete Single"-->
    <!--                    *ngIf="projectHubService.roleControllerControl.projectHub.projectBoard.askNeedEdit"-->
    <!--                    (click)="deleteAskNeed(row.askNeedUniqueId)">-->
    <!--                    <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>-->
    <!--                </a>-->
    <!--            </div>-->
    <!--        </ng-template>-->
    <!--    </ngx-datatable-column>-->
    <!--    <ngx-datatable-row-detail [rowHeight]="'auto'" *ngIf="callLocation == 'Normal'" #myDetailRow>-->
    <!--        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>-->
    <!--            <div class="pb-3 pt-3">-->
    <!--                <div [ngClass]="{'closed': row.closeDate != null}"><strong>Comments:</strong>-->
    <!--                    {{row.comments}}</div>-->
    <!--            </div>-->
    <!--        </ng-template>-->
    <!--    </ngx-datatable-row-detail>-->
</ngx-datatable>