@import '../../../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';
.customIconSize {
    font-size: 10px;
    height: 10px ;
    width: 10px ;
}
.datatable-body-cell-label .datatable-tree-button.ng-star-inserted{
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
}
.datatable-body-cell {
    .datatable-body-cell-label{
        vertical-align: middle;
    }
}
