<ng-container *ngIf="viewContent">
    <div class="w-full min-w-0 p-8 pt-0">
        <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
            <div class="pb-3 pl-2 font-medium tracking-tight leading-6 truncate">
                <h3 class="text-xl text-primary">Associated Projects</h3>
            </div>


            <div class="flex flex-row justify-between">
                <div>
                    <button mat-flat-button class="min-w-26" [color]="'primary'" (click)="onProgramReport()">
                        Program Report
                    </button>
                    <button mat-flat-button [color]="'primary'" class="min-w-26 ml-5" (click)="exportToExcel()">
                        Program Gantt Chart
                    </button>
                </div>
                <div>
                    <button class="min-w-26 text-primary bg-gray-200 mr-5" mat-flat-button [color]="'primary-200'"
                        (click)="
                            projecthubservice.toggleDrawerOpen(
                                'LinkProject',
                                'new',
                                [],
                                id,
                                false
                            )
                        ">
                        <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Link Child Project(s)
                    </button>
                    <button class="min-w-26 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" (click)="
                            projecthubservice.toggleDrawerOpen(
                                'UpdateParent',
                                'new',
                                [],
                                id,
                                false
                            )
                        ">
                        <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Update Parent Project
                    </button>
                </div>
            </div>
        </div>

        <div class="mxflex flex-col flex-auto bg-card mt-6 shadow rounded-2xl overflow-hidden">
            <div>
                <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [rowClass]="getRowClass" columnMode="flex"
                    class=" material font-medium text-sm text-default cursor-default"
                    [rows]="rows" [treeFromRelation]="'parentId'" [treeToRelation]="'problemUniqueId'" #table>
                    <ngx-datatable-column name="Program / Project Name" prop="projectName" [flexGrow]="6" [resizeable]="false" [headerClass]="alignHeaderMiddleClass"
                        [isTreeColumn]="true" [treeLevelIndent]="20" [cellClass]="getCellClass" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="flex flex-row ...">
                                <button mat-icon-button [disabled]="row.treeStatus === 'disabled'"
                                    (click)="onTreeAction(row)">
                                    <ng-container *ngIf="row.treeStatus === 'loading'">
                                        ...
                                    </ng-container>
                                    <ng-container *ngIf="row.treeStatus === 'collapsed'">
                                        ↑
                                    </ng-container>
                                    <ng-container *ngIf="row.treeStatus === 'expanded'">
                                        ↓
                                    </ng-container>
                                    <ng-container *ngIf="row.treeStatus === 'disabled'">
                                        ⃠
                                    </ng-container>
                                </button>
                                <a class="cursor-pointer" (click)="sendToProject(row)">{{value}} </a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Phase (Project-Capital-OE)" prop="projectCapitalOe" [flexGrow]="3" [resizeable]="false"
                        [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="PM Sponsor" prop="pm" [flexGrow]="2" [sortable]="false" [resizeable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value }} <br> {{ row.sponsor }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Overall status" prop="overallStatus" [headerClass]="getHeaderClass" [resizeable]="false"
                        [flexGrow]="1" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <mat-icon svgIcon="{{(indicator.getIndicators(value, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(value, 'overall')).iconcolor}} ">
                            </mat-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Schedule" prop="scheduleIndicator" [headerClass]="getHeaderClass" [resizeable]="false"
                        [flexGrow]="1" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <mat-icon svgIcon="{{(indicator.getIndicators(value, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(value, 'overall')).iconcolor}} ">
                            </mat-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Risk/Issues" prop="riskIndicator" [headerClass]="getHeaderClass" [resizeable]="false"
                        [flexGrow]="1" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <mat-icon svgIcon="{{(indicator.getIndicators(value, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(value, 'overall')).iconcolor}} ">
                            </mat-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Ask/Needs" prop="askNeedIndicator" [headerClass]="getHeaderClass" [resizeable]="false"
                        [flexGrow]="1" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <mat-icon svgIcon="{{(indicator.getIndicators(value, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(value, 'overall')).iconcolor}} ">
                            </mat-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Budget" prop="budgetIndicator" [headerClass]="getHeaderClass" [resizeable]="false"
                        [flexGrow]="1" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <mat-icon svgIcon="{{(indicator.getIndicators(value, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(value, 'overall')).iconcolor}} ">
                            </mat-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Spend" prop="budgetSpendIndicator" [headerClass]="getHeaderClass" [resizeable]="false"
                        [flexGrow]="1" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <mat-icon svgIcon="{{(indicator.getIndicators(value, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(value, 'overall')).iconcolor}} ">
                            </mat-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Milestone / Progression" prop="progression" [resizeable]="false" [headerClass]="alignHeaderMiddleClass"
                        [cellClass]="getGraphCellClass" [flexGrow]="4" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <apx-chart [chart]="{
                                    type: 'bar',
                                    toolbar: {
                                        show: false,
                                        tools: {
                                            download: false
                                        }
                                    },
                                    height: 75
                                }" [series]="[
                                    {
                                        name: 'Completed',
                                        data: [
                                            {
                                                x: '',
                                                y: row.actualCompletedMilestones,
                                                goals: [
                                                    {
                                                        name: 'Target',
                                                        value: row.targetToComplete,
                                                        strokeWidth: 5,
                                                        strokeColor: '#775DD0'
                                                    },
                                                    {
                                                        name: 'Total',
                                                        value: row.totalMilestone,
                                                        strokeWidth: 5,
                                                        strokeColor: 'rgba(255,255,255,0)'
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]" [dataLabels]="{ enabled: false}"
                                [xaxis]="{ labels:{ show:false}, max: row.totalMilestone ?  row.totalMilestone : row.targetToComplete }"
                                [yaxis]="{ labels:{ show:true}}" [tooltip]="{
                                    x: {
                                        show:false
                                    },
                                    y:{
                                        formatter: tootlipFormatter
                                    },
                                    intersect: false
                                }" [plotOptions]="{
                                    bar: {
                                        horizontal: true
                                        }
                                        }"></apx-chart>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [cellClass]="alignRight"  [headerClass]="getTotalCapexHeaderClass"  name="Total CAPEX Approved / Forecast" [resizeable]="false"
                                          [flexGrow]="3" [sortable]="false">
                        <ng-template   let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="grid grid-cols-1 text-right">
                                {{
                                row.totalApprovedCapex ? row.totalApprovedCapex.toLocaleString() : 0
                                }} &nbsp; {{this.localCurrency.localCurrencyAbbreviation}}
                            </div>
                            <br />
                            <div class="text-right">
                                {{ row.forecast ? row.forecast.toLocaleString() : 0 }} &nbsp; {{this.localCurrency.localCurrencyAbbreviation}}
                            </div>

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Next Milestone" prop="nextMilestone" [flexGrow]="3" [sortable]="false" [resizeable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Next Milestone Planned Finish Date" prop="nextMilestoneFinishDate" [resizeable]="false"
                        [flexGrow]="2.5" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Planned Project Complete Date" prop="projectPlannedFinishDate" [resizeable]="false"
                        [flexGrow]="2.5" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</ng-container>
