<div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0 team-pad flex flex-col flex-auto">
    <div *ngIf="!isGrid" class="xl:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="p-6 flex items-start justify-between">
            <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate text-primary">Project Teams</div>
            <div class="text-primary">
                <div class="flex items-start justify-between">
                    <div style="padding-right: 5px;">
                        <button class="ml-4 text-primary" mat-flat-button [color]="'primary-200'">
                            <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                        </button>
                    </div>
                    <div>
                        Table&nbsp;&nbsp;<mat-slide-toggle class="primary slider-adjust"></mat-slide-toggle>&nbsp;&nbsp;Grid
                    </div>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto mx-6">
            <ngx-datatable [headerHeight]="64" [rowHeight]="64" [scrollbarV]="false" columnMode="force"
                class="pr-6 font-medium text-sm text-secondary whitespace-nowrap" [rows]="teamMembers"
                #projectTeamsTable>
                <ngx-datatable-column name="userName" [width]="600">
                    <ng-template let-column="column" ngx-datatable-header-template>Team Member</ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="userEmail" [width]="600">
                    <ng-template let-column="column" ngx-datatable-header-template>Email Address</ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="roleName" [width]="600">
                    <ng-template let-column="column" ngx-datatable-header-template>Role</ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    
    
    
    
    
    
    
    
    <div *ngIf="isGrid">
        <div *ngFor="let member of data.teamMembers">
            <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden h-full">
                <!-- Avatar & Info -->
                <div class="flex flex-col flex-auto w-full p-8 text-center">
                    <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                        <img class="w-full h-full object-cover" src="assets/images/avatars/default.png">
                    </div>
                    <div class="mt-6 font-medium">{{member.userName}}</div>
                    <div class="text-secondary">{{member.roleName}}</div>
                </div>
                <!-- Email & Phone -->
                <div class="flex items-center w-full border-t divide-x">
                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                        [href]="'mailto:' + member.userEmail">
                        <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    </a>
                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                        [href]="'https://teams.microsoft.com/l/chat/0/0?users=' + member.userEmail" target="_blank">
                        <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_outline:chat'"></mat-icon>

                    </a>
                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                        [href]="'mailto:' + member.userEmail">
                        <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                        <span class="ml-2">Edit</span>
                    </a>
                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-warn-400 bg-warn text-on-warn"
                        [href]="'https://teams.microsoft.com/l/chat/0/0?users=' + member.userEmail" target="_blank">
                        <mat-icon class="icon-size-5 text-on-warn " [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        <span class="ml-2">Delete</span>
                    </a>
                </div>
            </div>
        </div>
        <div
            class="flex flex-col flex-auto items-center border-2 border-dashed border-gray-300 rounded-2xl justify-center">
            <!-- Avatar & Info -->
            <mat-icon class="icon-size-20 text-hint" [svgIcon]="'heroicons_outline:user-add'"></mat-icon>
            <br>
            ADD NEW
        </div>
    </div>
</div>