<div class=" w-full min-w-0 p-8 pt-0">
    <div *ngIf="!isGrid" class="p-3 bg-card shadow rounded-2xl overflow-hidden">
        <div class="p-6 pb-3 pt-0 flex items-center justify-between">
            <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Project Team</div>
            <div class="text-primary" *ngIf="projecthubservice.roleControllerControl.projectTeam">
                <div class="flex items-start justify-between">
                    <div class=" flex gap-2">
                        <button class="text-primary" mat-flat-button [color]="'primary-200'" (click)="projecthubservice.toggleDrawerOpen('ProjectTeamBulkEdit', 'new', teamMembers, id, true)">
                            <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                        </button>
                        <button class="text-primary" mat-flat-button [color]="'primary-200'" (click)="projecthubservice.toggleDrawerOpen('ProjectTeamAddSingle', 'new', teamMembers, id)">
                            <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                        </button>
                    </div>
                    <!-- <div>
                        Table&nbsp;&nbsp;<mat-slide-toggle class="primary slider-adjust"></mat-slide-toggle>
                        &nbsp;&nbsp;Grid
                    </div> -->
                </div>
            </div>
        </div>
        <div class="overflow-x-auto mx-6">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="pr-6 font-medium text-sm text-secondary whitespace-nowrap" [rows]="teamMembers"
                #projectTeamsTable>
                <ngx-datatable-column name="Team Member" prop="userName" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email Address" prop="userEmail" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Location" prop="userOfficeLocation" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Role" prop="roleName" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" [resizeable]="false" [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                        <div class="flex items-center justify-end gap-6">
                            <a [href]="'mailto:' + row.userEmail" title=" Email" target="_blank">
                                <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                            </a>
                            <a [href]="'https://teams.microsoft.com/l/chat/0/0?users=' + row.userEmail" title="Chat" target="_blank">
                                <mat-icon svgIcon="heroicons_outline:chat"></mat-icon>

                            </a>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>

    <!--[href]="'https://teams.microsoft.com/l/chat/0/0?users=' + member.userEmail"-->
</div>