<div *ngIf="viewContent">

    <div class="p-6 pb-3 pt-0 flex items-center justify-between">
        <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Funding</div>
    
        <div class="text-primary">
            <div class="flex items-start justify-between">
                <div style="padding-right: 5px;">
                    <button class="text-primary bg-gray-200" mat-flat-button *ngIf="editable" [color]="'primary-200'" (click)="projecthubservice.toggleDrawerOpen(fundingbulkEditType, 'new', [], id, true)">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                    </button>
                    <!-- <button class="ml-4 text-primary bg-gray-200" *ngIf="editable" mat-flat-button [color]="'primary-200'"
                        (click)="projecthubservice.toggleDrawerOpen(addSingle, 'new', fundingdata , projectid)">
                        <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                    </button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-x-auto mx-6">
        <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
            class="pr-6 material font-medium text-sm text-default whitespace-nowrap cursor-default"
            [rows]="fundingdata" [sorts]="[{ prop: 'fundingSourceName', dir: 'asc' }]"
            #fundingTable>
            <!--  -->

            <ngx-datatable-column name="Funding Type" prop="fundingTypeId" [flexGrow]="1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p *ngIf="value == '512e284b-eb1c-4184-aa26-685fefa2bc8c'">CAPEX</p>
                    <p *ngIf="value == 'c30f2902-757d-4e89-b91f-7577cd46b5ab'">OPEX</p>
                </ng-template>
            </ngx-datatable-column>
            <!-- <spot-input formControlName="portfolioOwner" name="portfolioOwner" [label]="'Portfolio Owner'"
            [showHint]="true"
            [hint]="'The group which is responsible for the oversight and process adherence of the record'"
            class="w-full read-only" *ngIf="viewElementChecker('portfolioOwner')">
          </spot-input> -->
            <ngx-datatable-column name="Funding Source" prop="fundingSourceName" [flexGrow]="1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="In the Plan" prop="fundingIntheplan" [flexGrow]="1" >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p *ngIf="value == true">Yes</p>
                <p *ngIf="value == false">No</p>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Amount ({{Amount}})" prop="fundingAmount" [flexGrow]="1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p class="amount">{{value | number:'1.0-0'}}</p>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Notes" prop="fundingNotes" [flexGrow]="1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column [flexGrow]="0.4" [resizeable]="false" [sortable]="false" [draggable]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    
                    <div class="flex items-center justify-start gap-6">
                        <!-- <a href="javascript:void(0)" *ngIf="editable" title="Edit Single"
                            (click)="projecthubservice.toggleDrawerOpen(addSingle, row.fundingUniqueId, fundingdata, projectid)">
                            <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
    
                        </a> -->
                        <a href="javascript:void(0)" title="Delete Single" *ngIf="editable"
                            (click)="deleteFunding(row.fundingUniqueId)">
                            <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                        </a>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
    </div>
