<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 w-full min-w-0 mt-12">
    <div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden bg-card shadow rounded-2xl" style="margin-right: 10px; margin-left: 10px;height: 125vh;">
        <div class="flex flex-col flex-auto  overflow-hidden p-6 w-full">
            <div>
                
                <div class="pb-3 pt-2.5 flex items-center justify-between overflow-hidden bg-card shadow rounded-2xl" *ngIf="showContent">
                    <form class="grid-cols-2 grid" style="width: 80vw;" [formGroup]="ForecastForm">
                        <spot-multiselect-autocomplete class="custom" formControlName="Reference"
                            name="Reference" [label]="'Reference'" [placeholder]="'Reference'"
                            [valuePointer]="'periodName'" [dropDownArray]="LookupDataLBE">
                        </spot-multiselect-autocomplete>
                        <spot-select class="custom" formControlName="DataType" name="DataType" [showNoneOption]="false" [label]="'Data For'" [placeholder]="'Data For'" [dropDownArrayType]="'string'"
                        [dropDownArray]="Type"></spot-select>
                        <app-spot-multiselect-project-autocomplete class="custom" formControlName="ProjectId" [placeholder]="'Project Ids'" [label]="'Project Ids'" name="ProjectId" [showLabel]="true">
                        </app-spot-multiselect-project-autocomplete>
                        <spot-select class="custom" formControlName="BudgetId" name="BudgetId" [label]="'Budget Ids'" [placeholder]="'Budget Ids'" [dropDownArrayType]="'string'"
                        [dropDownArray]="LookupDataBudget">
                        </spot-select>
                    </form>
                    <div class="flex items-center justify-center" style="bottom: 45px; position: relative;">
                        <button style="margin-right: 10px;" class="text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" (click)="getData()"> Get Data
                        </button>
                    </div>
                </div>

                
        </div>
    </div>
</div>