<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Bulk Edit Carbon</div>
        <div style="padding-top: 2px">
            <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)" href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <div class="w-full bg-card rounded-2xl">
        <div class="p-3  flex items-center justify-between">
            <div>
            </div>
            <button class="ml-4 text-primary bg-gray-200"
                *ngIf="projecthubservice.roleControllerControl.projectBenefits" mat-flat-button [color]="'primary-200'"
                (click)="addCarbon()">
                <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
            </button>
        </div>
        <div class="h-[80vh] overflow-y-hidden pl-3">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="w-full datatable-op-80 material font-medium text-sm text-default whitespace-nowrap cursor-default"
                [rows]="Carbon" #carbonTable>
                <ngx-datatable-column name="Emission Source" prop="emissionSource" [flexGrow]="1.8">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Units" prop="units" [flexGrow]="0.25"
                    [headerClass]="getNgxDatatableNumberHeader">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!carbonTableEditStack.includes(rowIndex)" (click)="carbonTableEditRow(rowIndex)">
                            <p *ngIf="!value && value!=0">&nbsp;</p>
                            <p style="text-align:right">{{value}}</p>
                        </a>
                        <form [formGroup]="carbonForm.controls[rowIndex]" *ngIf="carbonTableEditStack.includes(rowIndex)">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <input matInput formControlName="units" type="number" max="100" min="0" placeholder="0"
                                    pattern="\d*" />
                            </mat-form-field>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="UoM" prop="UoM" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Unit Cost" prop="unitCost" [flexGrow]="0.25"
                    [headerClass]="getNgxDatatableNumberHeader">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!carbonTableEditStack.includes(rowIndex)" (click)="carbonTableEditRow(rowIndex)">
                            <p *ngIf="!value && value!=0">&nbsp;</p>
                            <p style="text-align:right">{{value}}</p>
                        </a>
                        <form [formGroup]="carbonForm.controls[rowIndex]" *ngIf="carbonTableEditStack.includes(rowIndex)">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <input matInput formControlName="units" type="number" max="100" min="0" placeholder="0" pattern="\d*" />
                            </mat-form-field>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Basis of Estimate"
                    prop="basisOfEstimate" [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!carbonEditStack.includes(rowIndex)"
                            (click)="carbonTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="carbonForm.controls[rowIndex]"
                            *ngIf="carbonEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="basisOfEstimate" [showLabel]="false"
                                [label]="'Basis of Estimate'" [placeholder]="'Basis of Estimate'" [rows]="3">
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                
                
            </ngx-datatable>
        </div>
    </div>
    <div class="flex items-start justify-between mt-6 px-6">
        <a class="min-w-26" mat-flat-button [color]="'primary'" type="button"
            (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" (click)="submitCarbon()" type="button">
            Submit
        </button>
    </div>
</div>