<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Bulk Edit Carbon</div>
        <div style="padding-top: 2px">
            <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)" href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <div class="px-0 relative">
        <div class="flex items-center justify-end gap-3 pt-3 pr-3 ">
            <form class="date" [formGroup]="CAPSform" (ngSubmit)="submitCAPS()">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
                    <mat-label>Impact Realization Date</mat-label>
                    <input matInput [matDatepicker]="picker1" [max]="today" [placeholder]="'Choose a date'"
                           formControlName="impactRealizationDate" name="impactRealizationDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </form>

        </div>
        <div class="m-2">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                           class="material font-medium text-sm text-default whitespace-nowrap cursor-default w-[94vw]"
                           style="height: calc(100vh - 215px); overflow-y:visible"
                           [rows]="Carbon" #carbonTable>
                <ngx-datatable-column name="Emission Source" prop="emsourceName" [flexGrow]="0.8">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <div (click)="carbonTableEditRow(rowIndex)">{{value}}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Units" prop="emunit" [flexGrow]="0.18"
                                      [headerClass]="getNgxDatatableNumberHeader">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <ng-container>
                            <div>
                                {{column.name}}
                                <mat-icon class="pe" style="font-size: 17px;"
                                          matTooltip="Input gross change in emissions type here in the unit provided using whole numbers. Positive values for increase, negative values for decrease.">
                                    help
                                </mat-icon>
                            </div>
                        </ng-container>
                    </ng-template>
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value"
                                 (click)="carbonTableEditRow(rowIndex)" ngx-datatable-cell-template>
                        <a *ngIf="!carbonTableEditStack.includes(rowIndex)" (click)="carbonTableEditRow(rowIndex)">
                            <p class="unit" *ngIf="value">{{value | number:'1.0-0'}}</p>
                            <p *ngIf="!value">&nbsp;</p>
                        </a>
                        <form [formGroup]="carbonForm.controls[rowIndex]"
                              *ngIf="carbonTableEditStack.includes(rowIndex)">
                            <spot-input class="w-full" formControlName="emunit" name="emunit" [decimalCount]="0"
                                        [inputType]="'Number'"
                                        [autoAddDecimal]="false" [placeholder]="units" [allowNegativeValues]=true>
                            </spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="UoM" prop="localInputUoM" [flexGrow]="0.25">
                    <ng-template let-row="row" let-value="value" (click)="carbonTableEditRow(rowIndex)"
                                 ngx-datatable-cell-template>
                        {{ value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name={{unitCost}} prop="unitCost" [flexGrow]="0.5"
                                      [headerClass]="getNgxDatatableNumberHeader">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <ng-container>
                            <div>
                                {{column.name}}
                                <mat-icon class="pe" style="font-size: 17px;"
                                          matTooltip="Input the cost of each energy unit using up to 4 decimal places, positive values only.">
                                    help
                                </mat-icon>
                            </div>
                        </ng-container>
                    </ng-template>
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <p *ngIf="!editCarbonBiogenic">{{ value}}</p>
                        <a *ngIf="!carbonTableEditStack.includes(rowIndex) && editCarbonBiogenic"
                           (click)="carbonTableEditRow(rowIndex)">
                            <p class="unit" *ngIf="value">{{value | number:'1.4-4'}}</p>
                            <p class="unit" *ngIf="!value">&nbsp;</p>
                        </a>
                        <form [formGroup]="carbonForm.controls[rowIndex]"
                              *ngIf="carbonTableEditStack.includes(rowIndex) && editCarbonBiogenic">
                            <spot-input class="w-full" formControlName="unitCost" name="unitCost" [decimalCount]="4"
                                        [inputType]="'Number'"
                                        [autoAddDecimal]="true" [placeholder]="unitCost">
                            </spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Basis of Estimate"
                                      prop="embasisOfEstimate" [flexGrow]="0.8">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!carbonTableEditStack.includes(rowIndex)"
                           (click)="carbonTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="carbonForm.controls[rowIndex]"
                              *ngIf="carbonTableEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="embasisOfEstimate" [showLabel]="false"
                                           [label]="'Basis of Estimate'" [placeholder]="'Basis of Estimate'" [rows]="3">
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>
        </div>
    </div>
    <div class="w-full pr-4 m-2 flex items-start justify-between">
        <a class="min-w-26" mat-flat-button [color]="'primary'" type="button"
           (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" (click)="submitCarbon()" type="button">
            Submit
        </button>
    </div>
</div>
