.unit {
    text-align: right;
    right: 58%;
    padding-right: 5%;
}

.date{
    width: 12%;
    display: flex;
    position: relative;
    left: -1526px;
}

::ng-deep .ngx-datatable.datatable-carbon-80 .datatable-body .datatable-scroll {
    height: 65vh !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}