
.bookmarks-datatable .visible .datatable-header .datatable-header-inner .datatable-row-center {
    height: auto !important;
    margin-block: 2px;
}
.bookmarks-datatable .visible .datatable-header .datatable-header-inner .datatable-row-left {
    height: auto !important;
}
.bookmarks-datatable .visible .datatable-body .datatable-row-wrapper .datatable-row-left {
    height: auto !important;
}
.bookmarks-datatable .visible .datatable-body .datatable-row-wrapper .datatable-row-center {
    height: auto !important;
}
