.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
  .mat-form-field {
    display: grid;
    position: relative;
    text-align: left;
  }
  .valuefill {
    color: #ff0202c2;
    margin-left: 6px;
    font-size: 14px;
    margin-top: -10px;
    padding-bottom: 10px;
  }
  .custLabel {
    top: -25px;
    font-weight: 500;
    height: auto;
    padding-top: 0;
    overflow: visible;
    pointer-events: auto;
  }
  .btnclas {
    width: 130px;
    height: 33px;
    background: 59a2d2;
    border: 4c8fbb;
    font: 16pt;
    background-color: rgb(76,155,207);
  }
