<div class="flex-auto border-t -mt-px pt-4 sm:pt-6 flex-auto p-6 sm:p-10">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 w-full min-w-0 mt-12" style="min-height: auto;">
        <div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden bg-card shadow rounded-2xl">
            <div class="flex flex-col flex-auto  overflow-hidden p-6">
                <!-- <div class="text-lg font-medium tracking-tight leading-6 truncate"><b>Standard Project/Program Capture Form</b></div> -->
                <div class="flex items-start justify-between bg-primary sidepanel-header">
                    <div class="text-on-primary" style="padding-top: 6px">Standard Project/Program Capture Form</div>
                    <div style="padding-top: 2px"><a (click)="callCreateProject()" href="javascript:void(0)"
                            title="Close">
                            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <mat-stepper linear #stepper>
                            <mat-step>
                                <div class="CreateForm">
                                <form [formGroup]="createProjectForm">
                                    <ng-template style="width: 50px;height: 50px" ;
                                        matStepLabel><span>Basics</span></ng-template>
                                    <app-general-info-single-edit [callLocation]="'CreateNew'" [viewType]="'Form'" (formValue)="captureValue(0,$event)" [viewElements]="['problemTitle', 'parentProject', 'portfolioOwner', 'excecutionScope', 'owningOrganization', 'SubmittedBy', 'primaryProduct', 'otherImpactedProducts', 'projectDescription', 'targetGoalSituation', 'localCurrency']"></app-general-info-single-edit>

                                    <p>*Required</p>
                                    <div style="text-align: right;">
                                        <label (click)="RouteBack()"
                                            style="color: rgba(76,155,207);margin-right: 10px">Cancel</label>
                                        &nbsp;
                                        <button style="background-color: rgba(76,155,207);" mat-button
                                            matStepperNext>Next</button>
                                    </div>
                                </form>
                                </div>
                            </mat-step>
                            <mat-step>
                                <div class="CreateForm">
                                <form>
                                    <ng-template matStepLabel>Details</ng-template>
                                    <h2><b>Project Details</b></h2>
                                    <app-general-info-single-edit [callLocation]="'CreateNew'" [viewType]="'Form'" (formValue)="captureValue(1,$event)"
                                        [viewElements]="['problemType','enviornmentalPortfolio', 'isCapsProject']"></app-general-info-single-edit>
                                    <app-oe-project-single-edit [callLocation]="'CreateNew'" [viewType]="'Form'" (formValueOE)="captureValue(2,$event)"></app-oe-project-single-edit>
                                    <app-tech-transfer-single-edit [callLocation]="'CreateNew'" [viewType]="'Form'" (formValueTech)="captureValue(3,$event)"></app-tech-transfer-single-edit>
                                    <app-quality-ref-bulk-edit [qualityType] = "qualityType" [callLocation]="'CreateNew'" [viewType]="'Form'" (formValueQuality)="captureValue(4,$event)"></app-quality-ref-bulk-edit>
                                    <h2><b>Strategic Drivers</b></h2>
                                    <app-strategic-drivers [callLocation]="'CreateNew'" [viewType]="'Form'" (formValueStrategic)="captureValue(5,$event)"></app-strategic-drivers>
                                    <p>*Required</p>
                                    <div style="text-align: right;">
                                        <label (click)="RouteBack()"
                                            style="color: rgba(76,155,207);margin-right: 10px">Cancel</label>
                                        <button mat-button matStepperPrevious
                                            style="background-color: rgba(76,155,207);">Back</button>
                                        <button mat-button matStepperNext class="Primary"
                                            style="background-color: rgb(76,155,207);">Next</button>
                                    </div>
                                </form>
                            </div>
                            </mat-step>

                            <mat-step>
                                <div class="CreateForm">
                                <form>
                                    <ng-template matStepLabel>Review</ng-template>
                                    <div class="row">
                                        <!-- <label><b>Basic Info</b></label>
                                        <br /><br />
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Project Name * </label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[0].problemTitle}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Project Type *</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[1].problemType}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Parent Program * </label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[0].projectsingle}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Portfolio Owner * </label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[0].portfolioOwner.portfolioOwner}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Execution Scope * </label>
                                            </div>
                                            <div class="child">
                                                <span *ngFor="let item of capturedValues[0].excecutionScope; let i = index">
                                                    <label class="reviewText" *ngIf="i > 0 && i<capturedValues[0].excecutionScope.length">,</label>
                                                    <label class="reviewText">{{item.portfolioOwner}}</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Owning Organization * </label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[0].owningOrganization}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Submitted By * </label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[0].SubmittedBy.userDisplayName}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Primary Product * </label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[0].primaryProduct.fullProductName}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Other Impacted Products</label>
                                            </div>
                                            <div class="child">
                                                <span *ngFor="let item of capturedValues[0].otherImpactedProducts; let i = index">
                                                    <label class="reviewText"
                                                        *ngIf="i > 0 && i<capturedValues[0].otherImpactedProducts.length">,</label>
                                                    <label class="reviewText">{{item.fullProductName}}</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Problem Description / Present Situation *</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[0].projectDescription}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Target End State</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[0].targetGoalSituation}}</label>
                                            </div>
                                        </div>
                                        <br />
                                        <label><b>Project Details</b></label>
                                        <br /><br />
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Environmental Portfolio</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[1].enviornmentalPortfolio.portfolioOwner}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">CAPS Project *</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[1].isCapsProject}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">OE Project</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[2].isOeproject}}</label>
                                            </div>
                                        </div>
                                        <div class="test" *ngIf="capturedValues[2].isOeproject">
                                            <div class="child">
                                                <label class="reviewLabel">OE Project Type</label>
                                            </div>
                                            <div class="child">
                                                <span *ngFor="let item of capturedValues[2].oeprojectType; let i = index">
                                                    <label class="reviewText" *ngIf="i > 0 && i<capturedValues[2].oeprojectType.length">,</label>
                                                    <label class="reviewText">{{item.lookUpName}}</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Tech Transfer or Clinical Campaign</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[3].isTechTransfer}}</label>
                                            </div>
                                        </div>
                                        <div *ngIf="capturedValues[3].isTechTransfer">
                                            <div class="test">
                                                <div class="child">
                                                    <label class="reviewLabel">Campaign Phase</label>
                                                </div>
                                                <div class="child">
                                                    <label class="reviewText">{{capturedValues[3].campaignPhaseId.lookUpName}}</label>
                                                </div>
                                            </div>
                                            <div class="test">
                                                <div class="child">
                                                    <label class="reviewLabel">Production Steps</label>
                                                </div>
                                                <div class="child">
                                                    <label class="reviewText">{{capturedValues[3].productionStepId.lookUpName}}</label>
                                                </div>
                                            </div>
                                            <div class="test">
                                                <div class="child">
                                                    <label class="reviewLabel">Campaign Type</label>
                                                </div>
                                                <div class="child">
                                                    <label class="reviewText">{{capturedValues[3].campaignTypeId.lookUpName}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Quality Reference #</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[4].qualityReference}}</label>
                                            </div>
                                        </div>
                                        
                                        <div class="flex justify-between items-start gap-6">
                                            <div class="flex flex-col flex-auto w-2/5 bg-card p-6 mt-6 shadow rounded-2xl overflow-hidden">
                                        <div class="mt-3">
                                            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                                                class="pr-6 material font-medium text-sm text-secondary whitespace-nowrap"
                                                [rows]="qualityForm" >
                                                <ngx-datatable-column name="Quality Reference Type" prop="qualityReferenceTypeId" [resizeable]="false"
                                                    [sortable]="false" [flexGrow]="1">
                                                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                                                        <p>{{value.lookUpName}}</p>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Quality Reference #" prop="qualityReference1" [resizeable]="false"
                                                    [sortable]="false" [flexGrow]="1">
                                                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                                                        <p>&nbsp;</p>
                                                        <p>{{value}}</p>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                        </div>
                                        </div>

                                        <br />
                                        <label><b>Strategic Drivers</b></label>
                                        <br /><br />
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Primary KPI</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[5].primaryKPI.kpiname}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Agile Project</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[5].isAgile}}</label>
                                            </div>
                                        </div>
                                        <div *ngIf="capturedValues[5].isAgile">
                                            <div class="test">
                                                <div class="child">
                                                    <label class="reviewLabel">AGILE Primary Workstream</label>
                                                </div>
                                                <div class="child">
                                                    <label class="reviewText">{{capturedValues[5].agilePrimaryWorkstream.lookUpName}}</label>
                                                </div>
                                            </div>
                                            <div class="test">
                                                <div class="child">
                                                    <label class="reviewLabel">AGILE Secondary Workstream</label>
                                                </div>
                                                <div class="child">
                                                    <span *ngFor="let item of capturedValues[5].agileSecondaryWorkstream; let i = index">
                                                        <label class="reviewText">{{item.lookUpName}}</label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="test">
                                                <div class="child">
                                                    <label class="reviewLabel">AGILE Wave</label>
                                                </div>
                                                <div class="child">
                                                    <label class="reviewText">{{capturedValues[5].agileWave.lookUpName}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">POBOS</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[5].isPobos}}</label>
                                            </div>
                                        </div>
                                        <div class="test" *ngIf="capturedValues[5].isPobos">
                                            <div class="child">
                                                <label class="reviewLabel">POBOS Type</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[5].pobosCategory.lookUpName}}</label>
                                            </div>
                                        </div>
                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Site Assessment</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[5].isSiteAssessment}}</label>
                                            </div>
                                        </div>

                                        <div class="test" *ngIf="capturedValues[5].isSiteAssessment">
                                            <div class="child">
                                                <label class="reviewLabel">Site Assessment Type</label>
                                            </div>
                                            <div class="child">
                                                <span *ngFor="let item of capturedValues[5].siteAssessmentCategory; let i = index">
                                                    <label class="reviewText" *ngIf="i > 0 && i<capturedValues[5].siteAssessmentCategory.length">,</label>
                                                    <label class="reviewText">{{item.lookUpName}}</label>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="test">
                                            <div class="child">
                                                <label class="reviewLabel">Strategic Deployment Annual Initiative</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[5].isGmsgqltannualMustWin}}</label>
                                            </div>
                                        </div>
                                        <div class="test" *ngIf="capturedValues[5].isGmsgqltannualMustWin">
                                            <div class="child">
                                                <label class="reviewLabel">Strategic Year</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[5].StrategicYear.lookUpName}}</label>
                                            </div>
                                        </div>
                                        <div class="test" *ngIf="capturedValues[5].isGmsgqltannualMustWin">
                                            <div class="child">
                                                <label class="reviewLabel">GMSGQ LT Annual Must Win?</label>
                                            </div>
                                            <div class="child">
                                                <label class="reviewText">{{capturedValues[5].annualMustWinID.lookUpName}}</label>
                                            </div>
                                        </div> -->
                                    </div>
                                    <p>*Required</p>
                                    <div style="text-align: right;">
                                        <!-- <button (click) = "RouteBack()" style="background-color: rgba(76,155,207);" mat-button
                                            >Cancel</button> -->
                                        <label (click)="RouteBack()"
                                            style="color: rgba(76,155,207);margin-right: 10px">Cancel</label>
                                        <button style="background-color: rgba(76,155,207);" mat-button
                                            matStepperPrevious>Back</button>
                                        <button style="background-color: rgba(76,155,207);" mat-button (click)="
                                            createProject()" type="button">Submit</button>
                                    </div>
                                </form>
                            </div>
                            </mat-step>
                        </mat-stepper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>