<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Tech Transfer Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <form class="w-full p-[20px]" [formGroup]="generalInfoForm" (ngSubmit)="techTransfer()">
        <div class="h-[84vh] overflow-hidden">
        <div class="flex justify-between items-center">
            <div>Tech Transfer</div>
            <mat-slide-toggle formControlName="isTechTransfer"></mat-slide-toggle>
        </div>
        <div class="mt-6" *ngIf="generalInfoForm.controls['isTechTransfer'].value">
            <spot-select class="w-full" formControlName="campaignTypeId" name="campaignTypeId" [label]="'Campaign Type'"
                [placeholder]="'Campaign Type'" [valuePointer]="'lookUpName'" [idPointer]="'lookUpId'" 
                [showNoneOption]="true" [dropDownArrayType]="'object'" [dropDownArray]="getCampaignType()" [customSortPointer]="'lookUpOrder'" [sortByType]="'custom'">
            </spot-select>
            <spot-select class="w-full" formControlName="campaignPhaseId" name="campaignPhaseId"
                [label]="'Campaign Phase'" [placeholder]="'Campaign Phase'" [valuePointer]="'lookUpName'"
                [idPointer]="'lookUpId'" [showNoneOption]="true" [dropDownArrayType]="'object'"
                [dropDownArray]="getCampaignPhase()" [customSortPointer]="'lookUpOrder'" [sortByType]="'custom'">
            </spot-select>
            <spot-select class="w-full" formControlName="productionStepId" name="productionStepId"
                [label]="'Production Step'" [placeholder]="'Production Step'" [valuePointer]="'lookUpName'" 
                [idPointer]="'lookUpId'" [showNoneOption]="true" [dropDownArrayType]="'object'" [customSortPointer]="'lookUpOrder'" [sortByType]="'custom'"
                [dropDownArray]="getProductionStep()">
            </spot-select>
        </div>
    </div>
        <div class="flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'"
                (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>