<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">CAPS Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <form class="pl-3 w-full overflow-hidden" [formGroup]="CAPSform" (ngSubmit)="submitCAPS()">
        <div [ngClass]="{'overflow-y-scroll overflow-x-hidden h-[86.5vh] pt-3 pr-3': viewType == 'SidePanel'}">
            
            <div class="w-25">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
                    <mat-label>Impact Realization Date</mat-label>
                    <input matInput [matDatepicker]="picker1" [max]="today" [placeholder]="'Choose a date'"
                        formControlName="impactRealizationDate" name="impactRealizationDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <spot-input class="w-full" formControlName="EnergyCost" name="EnergyCost" [decimalCount]="0" [inputType]="'Number'"
                [autoAddDecimal]="false" [placeholder]="'0'" [label]="energyLabel" [allowNegativeValues]="true">
            </spot-input>
            <spot-input class="w-full" formControlName="WaterCost" name="WaterCost" [decimalCount]="0" [inputType]="'Number'"
                [autoAddDecimal]="false" [placeholder]="'0'" [label]="waterLabel" [allowNegativeValues]="true">
            </spot-input>
            <spot-input class="w-full" formControlName="WasteCost" name="WasteCost" [decimalCount]="0" [inputType]="'Number'"
                [autoAddDecimal]="false" [placeholder]="'0'" [label]="wasteLabel" [allowNegativeValues]="true">
            </spot-input>
        </div>
        <div *ngIf="viewType == 'SidePanel'" class="pr-3 flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'"
                (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>