<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Overall Status</div>
    <div style="padding-top: 2px"><a (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')"
            href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a></div>
</div>
<form class="w-full form-ask-need" [formGroup]="overallStatusform" style="overflow-y: scroll; height: 80vh;">
    <mat-form-field [ngClass]="formFieldHelpers" class="w-25" [floatLabel]="'always'">
        <mat-label>Status Through</mat-label>
        <input matInput [matDatepicker]="picker1" [max]="today" [placeholder]="'Choose a date'"
            formControlName="logDate" name="logDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pl-3 w-full">
        <mat-label>Status Indicator</mat-label>
        <mat-select>
            <mat-option value="select2-1">Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1
            </mat-option>
            <mat-option value="select2-2">Select 2-2</mat-option>
            <mat-option value="select2-3">Select 2-3</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
        <mat-label>Overall Status</mat-label>
        <textarea matInput [rows]="5" [placeholder]="'Overall Status'" formControlName="askNeed1"
            name="askNeed1"></textarea>
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
        <mat-label>Recent Accomplishments</mat-label>
        <textarea matInput [rows]="5" [placeholder]="'Recent Accomplishments'" formControlName="comments"
            name="comments" matTextareaAutosize></textarea>
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
        <mat-label>Next Priorities</mat-label>
        <textarea matInput [rows]="5" [placeholder]="'Next Priorities'" formControlName="comments" name="comments"
            matTextareaAutosize></textarea>
    </mat-form-field>
    <div class="flex items-start justify-between">
        <div></div>
        <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>