<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header" *ngIf="viewType == 'SidePanel'">
        <div class="text-on-primary" style="padding-top: 6px">Scope Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                                         href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
        </div>
    </div>
    <form class="overflow-auto m-2" style="height: calc(calc(100vh/ var(--custom-zoom)) - 120px)" [formGroup]="scopeForm">
            <spot-textarea class="w-full read-only" formControlName="projectDescription" name="projectDescription"
                           [label]="'Problem Description'" [placeholder]="'Problem Description'">
            </spot-textarea>

            <spot-textarea class="w-full read-only" formControlName="targetEndState" name="targetEndState"
                           [label]="'Target End State'" [placeholder]="'Target End State'">
            </spot-textarea>

            <spot-textarea class="w-full read-only" formControlName="proposalStatement" name="proposalStatement"
                           [label]="'Proposal Statement'" [placeholder]="'Proposal Statement'" [showHint]="true"
                           [hint]="'Single summary statement of what, how, cost and by when'">
            </spot-textarea>

            <spot-textarea class="w-full read-only" formControlName="detailedDescription" name="detailedDescription"
                           [label]="'Detailed Description'" [placeholder]="'Detailed Description'" [showHint]="true"
                           [hint]="'More detailed information of how to execute proposal'">
            </spot-textarea>
            <spot-textarea class="w-full read-only" formControlName="inScope" name="inScope"
                           [label]="'In Scope'" [placeholder]="'In scope'" [showHint]="true"
                           [hint]="'List/Statements of critical In Scope elements'">
            </spot-textarea>
            <spot-textarea class="w-full read-only" formControlName="outOfScope" name="outOfScope"
                           [label]="'Out of Scope'" [placeholder]="'Out of Scope'" [showHint]="true"
                           [hint]="'List/Statements of critical Out of Scope elements'">
            </spot-textarea>
    </form>
    <div class="w-full px-3 pr-3 flex items-start justify-between">
        <a class="min-w-26" mat-flat-button [color]="'primary'"
           (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit" (click)="submitScope()">
            Submit
        </button>
    </div>

</div>
