<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Option Info Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'',true)"
                href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <form class="w-full p-[20px]" [formGroup]="optionInfoForm" (ngSubmit)="submitOptionInfo()">
        <div class="h-[84vh] overflow-hidden">
            <!--Enter Element here-->
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="pr-6 material font-medium text-sm text-secondary whitespace-nowrap" [rows]="feasibilityData"
                #qualityRefTable>
                <ngx-datatable-column name="Component" prop="component" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.6">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Rating" prop="rating" [resizeable]="false" [sortable]="false"
                    [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-singleselect-autocomplete formControlName="{{value}}" [showLabel]="false"
                            [valuePointer]="'lookUpName'" [dropDownArray]="getDropDownValue(value)"
                            [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
                        </spot-singleselect-autocomplete>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Justification" prop="justification" [resizeable]="false" [sortable]="false"
                    [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input [showLabel]="false" formControlName="{{value}}">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <!-- Submit Actions here-->
        <div class="flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'"
                (click)="projectHubService.toggleDrawerOpen('', '',[],'',true)">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>