<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SharepointSiteUrl" value=""/>
    <add key="SPUserName" value=""/>
    <add key="SPPassword" value="
    <add key="SPListName" value="Migration Premier List"/>
    <add key="DocumnetLibraryName" value="Migration Premier Document Library"/>
    <add key="ConnectionTimeout" value="3000" />
    <add key="CommandTimeout" value="3000" />
    <add key="KEY" value="sP6ma7aE"/>
    <add key="IV" value="UmfK/ICS"/>
    <add key="LogFileName" value="ErrorLog.log"/>
    <add key="ErrorLogFilePath" value=""/>
    <add key="LogLevel" value="-1"/>
    <add key="DeleteExisting" value="1"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>