<fuse-drawer [name]="'rightDrawer'" [opened]="adminService.drawerOpenedright"
    (openedChanged)="adminService.drawerOpenedChanged($event)" [mode]="'over'" [position]="'right'"
    [ngClass]="{'fuse-drawer-large':adminService.fuseDrawerLarge}">
    <div>
        <app-manage-users-edit *ngIf="adminService.itemtype == 'AdminManageUserRoles'"></app-manage-users-edit>
        <app-global-message-edit *ngIf="adminService.itemtype == 'GlobalMessageEdit'"></app-global-message-edit>
    </div>
</fuse-drawer>

<div class="w-full pt-20" [ngStyle]="{ 'position' : adminService.drawerOpenedright ? 'fixed' : 'relative'}">
    <div class="flex flex-col bg-card p-6 pt-3 pb-4 m-6 mb-5 mt-0 shadow rounded-2xl">
        <div class="flex justify-between items-start w-full">
            <div class="w-[73%]">
                <span class="font-bold text-primary text-2xl">Admin Tools
                    <!-- <ng-container *ngIf="navItem"> -
                        {{navItem?.title}}
                    </ng-container> -->
                </span>
            </div>
           
        </div>
        <div class="flex justify-between items-center w-full">
            <div class="w-5/6">
                <div class="pt-3 flex w-full justify-start gap-3 items-center" *ngIf="navItem?.children.length>0">
                    <button *ngFor="let item of  navItem.children" mat-flat-button
                        [ngClass]="isNavActive(item.link)?'bg-primary text-on-primary':'bg-gray-200 text-primary'"
                        routerLink="{{'../'+item.link}}">
                        {{item.title}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>