<fuse-drawer [name]="'rightDrawer'" [opened]="adminService.drawerOpenedright"
    (openedChanged)="adminService.drawerOpenedChanged($event)" [mode]="'over'" [position]="'right'"
    [ngClass]="{'fuse-drawer-large':adminService.fuseDrawerLarge}">
    <div>
        <app-manage-users-edit *ngIf= "adminService.itemtype == 'AdminManageUserRoles'"></app-manage-users-edit>
    </div>
</fuse-drawer>

<div class="w-full pt-20">
    <div class="flex flex-col bg-card p-6 pt-3 pb-4 m-6 mb-5 mt-0 shadow rounded-2xl">
        <div class="flex justify-between items-start w-full">
            <div class="w-[73%]">
                <span class="font-bold text-primary text-2xl">Admin Tools
                    <!-- <ng-container *ngIf="navItem"> -
                        {{navItem?.title}}
                    </ng-container> -->
                </span>
            </div>
        </div>
    </div>
    <div class="flex flex-col flex-auto w-full min-w-0 scroll-fixed"
        [ngStyle]="{ 'position' : adminService.drawerOpenedright ? 'fixed' : 'relative'}">
        <div class="flex flex-col min-w-0 overflow-hidden p-6 pr-3 pt-0 w-full">
            <div class="p-6 bg-card rounded-2xl shadow w-full mb-6 flex justify-between items-center">
                <p class="font-bold">Role Assignment</p>
                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                    (click)="adminService.toggleDrawerOpen('AdminManageUserRoles', '' , '' , '')">
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                </button>
            </div>
    </div>
</div>