<div class="p-6 pb-3 pt-0 flex items-center justify-between">
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Carbon</div>

    <div class="text-primary">
        <div class="flex items-start justify-between">
            <div style="padding-right: 5px;">
                <button style="margin-right: 12px;" *ngIf="Editable" class="text-primary bg-gray-200" mat-flat-button
                    [color]="'primary-200'"
                    (click)="projecthubservice.toggleDrawerOpen('CarbonBulkEdit', '', carbonngx, id, true)">
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                </button>
            </div>
        </div>
    </div>
</div>
<div class="overflow-x-auto mx-6">
    <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
        class=" font-medium text-sm text-default whitespace-nowrap" [rows]="carbonngx" #carbonTable>
        <ngx-datatable-column name="Emission Source" prop="emissionSource" [flexGrow]="1.8">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Units" prop="units" [flexGrow]="2">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="UoM" prop="UoM" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Unit Cost" prop="unitCost" [flexGrow]="1.4">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Basis of Estimate" prop="basisOfEstimate" [flexGrow]="1.8">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p>{{value}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="Editable" [flexGrow]="1.4" [resizeable]="false" [sortable]="false"
            [draggable]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                <div class="flex items-center justify-start gap-6">
                    <a href="javascript:void(0)" title="Edit Single"
                        (click)="projecthubservice.toggleDrawerOpen('CarbonSingleEdit', row.lessonLearnedId, lessonLearned, id)">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
                    </a>
                </div>
            </ng-template>
        </ngx-datatable-column>
        
    </ngx-datatable>
</div>
<!-- </div> -->
<!-- </div> -->