.unit {
    text-align: right;
    right: 58%;
    padding-right: 59%;
}

.cost {
    text-align: right;
    right: 58%;
    padding-right: 41%;
}

.material-icons {
    font-size: 14px !important;
    font-weight: 100 !important;
    color: lightslategrey !important;
}

