<form [formGroup]="form" class="form w-full" [ngClass]="{'custom-label-with-hint': showHint && hintPostion == 'tooltip'}">
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
        <mat-label class="items-center flex" *ngIf="showLabel">{{label}}<mat-icon class="pe"
                *ngIf="showHint && hintPostion == 'tooltip'" matTooltip="{{hint}}">help</mat-icon>
        </mat-label>
        <h1 *ngIf="Required; then ifBlock else elseBlock"></h1>
        <ng-template #ifBlock>
            <input #input (focusout)="onFocusout($event.target.value)" required="true" matInput (focus)="changeInput()"
                formControlName="control" [placeholder]="placeholder" [matAutocomplete]="singleSelect">
        </ng-template>
        <ng-template #elseBlock>
            <input #input matInput (focus)="changeInput()" formControlName="control" [placeholder]="placeholder"
                [matAutocomplete]="singleSelect" (focusout)="onFocusout($event.target.value)">
        </ng-template>
        <mat-autocomplete autoActiveFirstOption #singleSelect="matAutocomplete"
            (optionSelected)="onFunctionSelect($event)">
            <mat-option *ngFor="let function of resultSets" [value]="function">
                {{function[valuePointer]}}
            </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="showHint && hintPostion == 'mat-hint'">{{hint}}</mat-hint>
    </mat-form-field>
</form>