<div class="p-6 pb-3 pt-0 flex items-center justify-between">
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Operational Performance</div>

    <div class="text-primary">
        <div class="flex items-start justify-between">
            <div style="padding-right: 5px;">
                <button class="text-primary bg-gray-200" mat-flat-button *ngIf="editable" [color]="'primary-200'" (click)="projecthubservice.toggleDrawerOpen(bulkEditType, 'new', [], projectid, true)">
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                </button>
                <button class="ml-4 text-primary bg-gray-200" *ngIf="editable" mat-flat-button [color]="'primary-200'"
                    (click)="projecthubservice.toggleDrawerOpen(addSingle, 'new', projectViewDetails.overallPerformace , projectid)">
                    <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                </button>
            </div>
        </div>
    </div>
</div>
<div class="overflow-x-auto mx-6">
    <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
        class="pr-6 material font-medium text-sm text-default whitespace-nowrap cursor-default"
        [rows]="projectViewDetails.overallPerformace" [sorts]="[{ prop: 'kpiid', dir: 'asc' }]"
        #operationalPerformanceTable>
        <ngx-datatable-column name="Status" prop="status" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="flex items-center justify-start gap-6">
                    <mat-icon svgIcon="{{(indicator.getIndicators(getIndicator(value), 'circle')).icontype}}"
                        class="{{(indicator.getIndicators(getIndicator(value), 'circle')).iconcolor}}">
                    </mat-icon>
                    {{ getLookUpName(value)}}
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="KPI" prop="kpiid" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{getKPIName(value)}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Metric" prop="metric" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Baseline" prop="currentState" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Target Performance" prop="targetPerformance" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actual Performance" prop="actualPerformance" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="0.4" [resizeable]="false" [sortable]="false" [draggable]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                <div class="flex items-center justify-start gap-6">
                    <a href="javascript:void(0)" *ngIf="editable" title="Edit Single"
                        (click)="projecthubservice.toggleDrawerOpen(addSingle, row.keySuccessUniqueId, projectViewDetails.overallPerformace, projectid)">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>

                    </a>
                    <a href="javascript:void(0)" title="Delete Single" *ngIf="editable"
                        (click)="deleteOperationPerformance(row.keySuccessUniqueId)">
                        <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                    </a>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>