<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">General Info Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <form class="pl-3 w-full overflow-hidden" [formGroup]="generalInfoForm" (ngSubmit)="submitGI()">
        <div class="overflow-y-scroll overflow-x-hidden h-[86.5vh] pr-3">
        <div *ngIf="projectHubService.roleControllerControl.generalInfo.porfolioOwner"
            class="flex justify-between items-center mt-6 mb-6">
            <div class="flex justify-start gap-1 items-center">Is Archived?
            </div>
            <div>
                <mat-slide-toggle formControlName="isArchived"></mat-slide-toggle>
            </div>
        </div>
        <spot-input class="w-full" formControlName="problemTitle" name="problemTitle" [label]="'Project Name'"
            [placeholder]="'Project Name'">
        </spot-input>
        <app-project-single-dropdown class="w-full" [formgroup]="generalInfoForm" [label]="'Parent Program'"
            [showHint]="true"
            [hint]="'Select a Parent Program if this project is associated or part of an overall program (Program Record must exist within SPOT already, a project can only have 1 parent but can have multiple children)'">
        </app-project-single-dropdown>
        <spot-singleselect-autocomplete formControlName="portfolioOwner" class="w-full" name="portfolioOwner"
            [label]="'Portfolio Owner'" [placeholder]="'Portfolio Owner'" [valuePointer]="'portfolioOwner'"
            [dropDownArray]="getPortfolioOwner()" [showHint]="true" [sortByType]="'custom'" [customSortPointer]="'pfid'"
            [hint]="'The group which is responsible for the oversight and process adherence of the record'">
        </spot-singleselect-autocomplete>
        <spot-multiselect-autocomplete formControlName="excecutionScope" class="w-full" name="excecutionScope"
            [label]="'Execution Scope'" [placeholder]="'Execution Scope'" [valuePointer]="'portfolioOwner'"
            [idPointer]="'portfolioOwnerId'" [dropDownArray]="getExcecutionScope()" [showHint]="true"
            [sortByType]="'custom'" [customSortPointer]="'pfid'"
            [hint]="'Any impacted groups which will need to provide resources (People, facilities, etc) throughout the life of the project'">
        </spot-multiselect-autocomplete>
        <spot-select class="w-full" formControlName="owningOrganization" name="owningOrganization" [label]="'Owning Organization'"
             [placeholder]="'Owning Organization'" [showNoneOption]="true" [dropDownArrayType]="'string'"
             [dropDownArray]="owningOrganizationValues" [showHint]="true"
             [hint]="'Owning Organization is the TET-level organization sponsoring or accountable for the project outcomes (Only Portfolio Managers can edit after project creation).'">
        </spot-select>
        <spot-singleselect-autocomplete class="w-full" formControlName="enviornmentalPortfolio"
            name="enviornmentalPortfolio" [label]="'Environmental Portfolio'" [placeholder]="'Environmental Portfolio'"
            [valuePointer]="'portfolioOwner'" [dropDownArray]="getEnviornmentPortfolio()" [showHint]="true"
            [sortByType]="'custom'" [customSortPointer]="'pfid'"
            [hint]="'An environmental portfolio is the site or functional group to which the environmental impact of the project will be attributed (i.e. where the project will have an affect)'">
        </spot-singleselect-autocomplete>
        <div class="flex justify-between items-center w-full pt-4 pb-6">
            <div class="flex justify-start gap-1 items-center">CAPS Project <mat-icon class="pe icon-size-4"
                    matTooltip="'CAPS Project (YES) — Projects initiated and executed with the primary focus of directly reducing scope 1 or 2 carbon emissions, water withdrawal, or waste to landfill (e.g. LED lighting upgrade
            CAPS Project (NO) — All other projects, even those that have an indirect impact on emissions, water, and waste (e.g. capacity expansion or asset replacement). Environmental impacts must be captured in the SPOT record for these projects.'">
                    help</mat-icon>
            </div>
            <div>
                <mat-slide-toggle formControlName="isCapsProject"></mat-slide-toggle>
            </div>
        </div>
        <spot-singleselect-autocomplete class="w-full" formControlName="primaryProduct" name="primaryProduct"
            [label]="'Primary Product'" [placeholder]="'Primary Product'" [valuePointer]="'fullProductName'"
            [dropDownArray]="filterCriteria.products" [showHint]="true"
            [hint]="'Select the product which is most impacted by the project. If multiple products without an obvious primary, select one out of the group'">
        </spot-singleselect-autocomplete>
        <spot-multiselect-autocomplete class="w-full" formControlName="otherImpactedProducts"
            name="otherImpactedProducts" [label]="'Other Impacted Products'" [placeholder]="'Other Impacted Products'"
            [valuePointer]="'fullProductName'" [idPointer]="'productId'" [dropDownArray]="filterCriteria.products"
            [showHint]="true" [hint]="'Any additional products which are impacted by the project execution'">
        </spot-multiselect-autocomplete>
        <spot-select class="w-full" formControlName="problemType" name="problemType" [label]="'Project Type'"
            [placeholder]="'Project Type'" [showNoneOption]="false" [dropDownArrayType]="'string'"
            [dropDownArray]="projectTypeDropDrownValues">
        </spot-select>
        <spot-textarea formControlName="projectDescription" name="projectDescription"
            [label]="'Problem Description / Present Situation / Submission Description'"
            [placeholder]="'Problem Description / Present Situation / Submission Description'">
        </spot-textarea>
    </div>
        <div class="pr-3 flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'"
                (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
