<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Schedule</div>
    <div style="padding-top: 2px"><a (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')"
            href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
    </div>
</div>
<form class="w-full form-ask-need" [formGroup]="scheduleForm" (ngSubmit)="submitschedule()"
    style="overflow-y: scroll; height: 87vh;">
            <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
                <mat-label>Milestone</mat-label>
                <textarea matInput [rows]="5" [placeholder]="'Milestone'" formControlName="milestone"
                    name="milestone"></textarea>
            </mat-form-field>
            <mat-form-field [ngClass]="formFieldHelpers" class="w-25" [floatLabel]="'always'">
                <mat-label>Planned Finish</mat-label>
                <input matInput [matDatepicker]="picker1" [placeholder]="'Choose a date'" formControlName="plannedFinish"
                    name="plannedFinish">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <app-user-single-dropdown [formgroup]="scheduleForm" [label]="'Responsible Person'"></app-user-single-dropdown>
            <mat-form-field class="w-full" [floatLabel]="'always'">
                <mat-label>Function Owner</mat-label>
                <input matInput [placeholder]="'Function'" formControlName="function" name="function"
                    [matAutocomplete]="function">
                <mat-autocomplete autoActiveFirstOption #function="matAutocomplete" (optionSelected)="onFunctionSelect($event)">
                    <mat-option *ngFor="let function of functionSets | async" [value]="function">
                        {{function.lookUpName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
                <mat-label>Comments</mat-label>
                <textarea matInput [rows]="5" [placeholder]="'Comments'" formControlName="comments"
                    name="comments"></textarea>
            </mat-form-field>
            <mat-form-field [ngClass]="formFieldHelpers" class="w-25" [floatLabel]="'always'">
                <mat-label>Completion Date</mat-label>
                <input matInput [matDatepicker]="picker2" [max]="today" [placeholder]="'Choose a date'" formControlName="completionDate"
                    name="completionDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

    <div class="flex items-start justify-between incuded-in-dash">
        <mat-slide-toggle
            [matTooltip]="this.scheduleForm.controls['includeInReport'].disabled ? 'Only 8 can be selected at a time for dashboard report display' : null"
            formControlName="includeInReport">Include in Project Dashboard</mat-slide-toggle>
    </div>

    <br>
    <div class="flex items-start justify-between">
        <a class="w-25" mat-flat-button [color]="'primary'"
            (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>