@import '../../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';
.example-chip-list {
    width: 100%;
}

.w-half {
    width: 50vw;
}

.w-3qua {
    width: 75vw;
}

.w-1qua {
    width: 25vw;
}
.w-2qua {
    width: 55vw;
}
.dashboard-chip-list {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin-left: 10px !important;
    border-radius: 20px !important;
}
.apply-button{
    margin: 20px 0px 175px 0px !important;
    width: 100%;
}

.tile-title{
    font-size: 20px;
}

::ng-deep .ngx-datatable .datatable-PO-80 .datatable-body .datatable-scroll {
    height: 80vh !important;
    width: 100vw !important;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
}

.frozen-header-class {
    top: 73px !important;
}

.frozen-header-classID {
    top: 52px !important;
}
.datatable-body{
    height: 72vh !important;
}

.datatable-row-left{
    background: white !important;
}

.datatable-body-cell{
    cursor: pointer;
}

.datatable-header{
    top: 10px;
    position: relative;
}

.columnFilter{
    top: 12px !important;
    position: relative !important;
    display: flex;
    width: 50%;
    left: 21px;
}

.checkbox{
        width: 50%;
        position: relative;
        left: 30%;
}

ul {
    columns: 2;
    -webkit-columns: 4;
    -moz-columns: 2;
     background-color: white;
        border-style: solid;
        border-color: lightgray;
        border-width: 2px;
        border-radius: 15px;
}

li{
    padding: 4px;
    font-weight: 500;
}