<div class="flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full" [ngStyle] = "{ 'position' : matDrawer.opened ? 'fixed' : 'relative'}">
        <!-- Drawer -->
        <mat-drawer class="absolute inset-0 w-1qua dark:bg-gray-900 overflow-hidden" [autoFocus]="false" [mode]="'over'"
            #matDrawer>
            <div class="p-4">
                <!-- Portfolio Owner -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Portfolio Owner</mat-label>
                    <mat-chip-list #portownList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #portownInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="portownList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- People -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>People</mat-label>
                    <mat-chip-list #peopleList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #peopleInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="peopleList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Excecution Scope -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Excecution Scope</mat-label>
                    <mat-chip-list #exscList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #exscInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                            [matChipInputFor]="exscList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Phase -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Phase</mat-label>
                    <mat-chip-list #phaseList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #phaseInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                            [matChipInputFor]="phaseList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Products -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Product(s)</mat-label>
                    <mat-chip-list #productList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #productInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="productList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Project State -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Project State</mat-label>
                    <mat-chip-list #projstateList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #projstateInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="projstateList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Total Capex -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Total CAPEX</mat-label>
                    <mat-chip-list #totcapList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #totcapInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="totcapList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Total Capex -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Total CAPEX</mat-label>
                    <mat-chip-list #totcapList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #totcapInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="totcapList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- GMS Budget Owner -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>GMS Budget Owner</mat-label>
                    <mat-chip-list #gmsbowList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #gmsbowInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="gmsbowList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- OE Project Type -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>OE Project Type</mat-label>
                    <mat-chip-list #oeptList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #oeptInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                            [matChipInputFor]="oeptList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Project Type -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Project Type</mat-label>
                    <mat-chip-list #projtypeList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #projtypeInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="projtypeList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Funding Status -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Funding Status</mat-label>
                    <mat-chip-list #fundstatList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #fundstatInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="fundstatList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- AGILE -->
                <!-- AGILE Workstream -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>AGILE Workstream</mat-label>
                    <mat-chip-list #agileworkstList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #agileworkstInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="agileworkstList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- AGILE Wave -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>AGILE Wave</mat-label>
                    <mat-chip-list #agilewaveList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #agilewaveInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="agilewaveList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!--AGILE END-->
                <!-- Primary KPI -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Primary KPI</mat-label>
                    <mat-chip-list #primarykpiList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #primarykpiInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="primarykpiList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Strategic Year -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Strategic Year</mat-label>
                    <mat-chip-list #stratyrList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #stratyrInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="stratyrList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Annual Initiatives -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Annual Initiatives</mat-label>
                    <mat-chip-list #annualinList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #annualinInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="annualinList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- TOPS Group -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>TOPS Group</mat-label>
                    <mat-chip-list #topsgpList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #topsgpInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="topsgpList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- CAPS Project -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>CAPS Project</mat-label>
                    <mat-chip-list #capsprojList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #capsprojInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="capsprojList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Project / Program -->
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Project / Program</mat-label>
                    <mat-chip-list #projprogList aria-label="Fruit selection" class="chiplist">
                        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New fruit..." #projprogInput [formControl]="fruitCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="projprogList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,'Priority')">
                        <mat-option *ngFor="let fruit of allFruits" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button class="apply-button" mat-flat-button [color]="'primary'" (click)="matDrawer.toggle()">
                    Apply Filters
                </button>
            </div>
        </mat-drawer>
        <mat-drawer class="w-3qua dark:bg-gray-900 overflow-hidden" [autoFocus]="false" [mode]="'over'"
            [position]="'end'" #matDrawerRight>
            <div class="p-4">
                Hello I am new
            </div>
        </mat-drawer>
        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col" style="width: 100vw;">

            <!-- Header -->
            <div [hidden]='!showContent' class="flex-auto border-t -mt-px pt-4 sm:pt-6 flex-auto p-6 sm:p-10">
                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="matDrawer.toggle()">
                    Filters
                </button>
                <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)" class="dashboard-chip-list">
                    {{fruit}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <div *ngIf='showContent'
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-6 w-full min-w-0 mt-8 " @slideInRight>
                    <div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden bg-card shadow rounded-2xl"
                        @slideInRight>
                        <div class="flex flex-col flex-auto  overflow-hidden p-6">
                            <div class="flex items-start justify-between">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Priority Distribution
                                </div>
                            </div>
                            <div class="flex flex-col flex-auto mt-6 h-60">
                                <apx-chart class="w-full h-50 mt-4" [chart]="chartNewVsReturning.chart"
                                    [colors]="chartNewVsReturning.colors" [labels]="chartNewVsReturning.labels"
                                    [legend]="chartNewVsReturning.legend"
                                    [plotOptions]="chartNewVsReturning.plotOptions"
                                    [series]="chartNewVsReturning.series" [states]="chartNewVsReturning.states"
                                    [tooltip]="chartNewVsReturning.tooltip"></apx-chart>
                            </div>
                            <!--  <div class="mt-8">
                                <div class="-my-3 divide-y">
                                    <ng-container *ngFor="let dataset of data.newVsReturning.series; let i = index">
                                        <div class="grid grid-cols-3 py-3">
                                            <div class="flex items-center">
                                                <div
                                                    class="flex-0 w-2 h-2 rounded-full"
                                                    [style.backgroundColor]="chartNewVsReturning.colors[i]"></div>
                                                <div class="ml-3 truncate">{{data.newVsReturning.labels[i]}}</div>
                                            </div>
                                            <div class="font-medium text-right">{{data.newVsReturning.uniqueVisitors * dataset / 100 | number:'1.0-0'}}</div>
                                            <div class="text-right text-secondary">{{dataset}}%</div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>-->
                        </div>
                        <div class="p-4 text-right">
                            <button class="ml-4" mat-button [color]="'primary'" (click)="matDrawerRight.toggle()">
                                View Details <mat-icon svgIcon="heroicons_solid:arrow-sm-right"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden bg-card shadow rounded-2xl"
                        @slideInLeft>
                        <div class="sm:col-span-3 lg:col-span-2 flex flex-col flex-auto p-6 overflow-hidden">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate mb-8">Phase Distribution
                            </div>
                            <div class="flex flex-col flex-auto h-60">
                                <apx-chart class="flex-auto w-full h-50" [chart]="chartBudgetDistribution.chart"
                                    [colors]="chartBudgetDistribution.colors" [series]="chartBudgetDistribution.series"
                                    [plotOptions]="chartBudgetDistribution.plotOptions"
                                    [tooltip]="chartBudgetDistribution.tooltip" [xaxis]="chartBudgetDistribution.xaxis"
                                    [legend]="chartBudgetDistribution.legend" [grid]="chartBudgetDistribution.grid"
                                    [yaxis]="chartBudgetDistribution.yaxis"
                                    [dataLabels]="chartBudgetDistribution.dataLabels"></apx-chart>
                            </div>
                        </div>
                        <div class="p-4 text-right">
                            <button class="ml-4" mat-button [color]="'primary'" (click)="matDrawerRight.toggle()">
                                View Details <mat-icon svgIcon="heroicons_solid:arrow-sm-right"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="sm:col-span-3 lg:col-span-2 flex flex-col p-6 flex-auto overflow-hidden">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate mb-8">Milestones</div>

                            <ng-container *ngFor="let dataset of data.milstoneTile">
                                <div class="grid grid-cols-2 py-3">
                                    <div class="flex items-center">
                                        <div class="ml-3">{{dataset.title}}</div>
                                    </div>
                                    <div class="text-right text-secondary">{{dataset.value}}%</div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="p-4 text-right">
                            <button class="ml-4" mat-button [color]="'primary'" (click)="matDrawerRight.toggle()">
                                View Details <mat-icon svgIcon="heroicons_solid:arrow-sm-right"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- Milestones -->
                    <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="sm:col-span-3 lg:col-span-2 flex flex-col p-6 flex-auto overflow-hidden">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate mb-2">Budget</div>

                            <div class="flex flex-col mt-2">
                                <div class="grid grid-cols-3 py-3">
                                    <div class="flex items-center"></div>
                                    <div class="text-right font-medium">CAPEX</div>
                                    <div class="text-right font-medium">OPEX</div>
                                </div>
                                <ng-container *ngFor="let dataset of data.budgetTile">
                                    <div class="grid grid-cols-3 py-3">
                                        <div class="flex items-center">
                                            <div class="ml-3">{{dataset.title}}</div>
                                        </div>
                                        <div class="text-right text-secondary">{{dataset.value}}</div>
                                        <div class="text-right text-secondary">{{dataset.value2}}</div>
                                    </div>
                                </ng-container>
                            </div>

                        </div>
                        <div class="p-4 text-right">
                            <button class="ml-4" mat-button [color]="'primary'" (click)="matDrawerRight.toggle()">
                                View Details <mat-icon svgIcon="heroicons_solid:arrow-sm-right"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- Ask Needs -->
                    <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="sm:col-span-3 lg:col-span-2 flex flex-col p-6 flex-auto overflow-hidden">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate mb-8">Next 3 Months</div>
                            <div class="flex flex-col mt-2">
                                <ng-container *ngFor="let dataset of data.nextThreeTile">
                                    <div class="grid grid-cols-2 py-3">
                                        <div class="flex items-center">
                                            <div class="ml-3">{{dataset.title}}</div>
                                        </div>
                                        <div class="text-right text-secondary">{{dataset.value}}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="p-4 text-right">
                            <button class="ml-4" mat-button [color]="'primary'" (click)="matDrawerRight.toggle()">
                                View Details <mat-icon svgIcon="heroicons_solid:arrow-sm-right"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- Risk/Issues -->
                    <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="sm:col-span-3 lg:col-span-2 flex flex-col p-6 flex-auto overflow-hidden">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate mb-2">Next 3 Months</div>

                            <div class="flex flex-col mt-2">
                                <ng-container *ngFor="let dataset of data.lastThreeTile">
                                    <div class="grid grid-cols-2 py-3">
                                        <div class="flex items-center">
                                            <div class="ml-3">{{dataset.title}}</div>
                                        </div>
                                        <div class="text-right text-secondary">{{dataset.value}}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="p-4 text-right">
                            <button class="ml-4" mat-button [color]="'primary'" (click)="matDrawerRight.toggle()">
                                View Details <mat-icon svgIcon="heroicons_solid:arrow-sm-right"></mat-icon>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full mt-8">
                    <!-- Recent transactions table -->
                    <div class="xl:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
                        @slideInLeft>
                        <div class="p-6">
                            <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Your Projects</div>
                            <div class="text-secondary font-medium">1 initiated, 1 completed, 2 excecuting</div>
                        </div>
                        <div class="overflow-x-auto mx-6">
                            <table class="w-full bg-transparent" mat-table matSort [dataSource]="projects"
                                [trackBy]="trackByFn" #recentTransactionsTable>

                                <!-- Transaction ID -->
                                <ng-container matColumnDef="overallStatus">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Overall<br>Status
                                    </th>
                                    <td mat-cell *matCellDef="let project">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            <mat-icon
                                                svgIcon="{{(indicator.getIndicators(project.overallStatus, 'overall')).icontype}}"
                                                class="{{(indicator.getIndicators(project.overallStatus, 'overall')).iconcolor}}">
                                            </mat-icon>
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- Date -->
                                <ng-container matColumnDef="problemTitle">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Title
                                    </th>
                                    <td mat-cell *matCellDef="let project">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            <a [routerLink]="['/project-hub',project.projectUid]">
                                                {{project.problemTitle}}</a>
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- Name -->
                                <ng-container matColumnDef="phase">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Phase
                                    </th>
                                    <td mat-cell *matCellDef="let project">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            {{project.phase}}
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- Amount -->
                                <ng-container matColumnDef="PM">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        PM /Sponsor
                                    </th>
                                    <td mat-cell *matCellDef="let project">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            {{project.pm}}<br>
                                            {{project.sponsor}}
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- Status -->
                                <ng-container matColumnDef="schedule">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Schedule
                                    </th>
                                    <td mat-cell *matCellDef="let project">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            <mat-icon
                                                svgIcon="{{(indicator.getIndicators(project.scheduleIndicator, '')).icontype}}"
                                                class="{{(indicator.getIndicators(project.scheduleIndicator, '')).iconcolor}}">
                                            </mat-icon>
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="risk">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Risk/<br>
                                        Issues
                                    </th>
                                    <td mat-cell *matCellDef="let project">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            <mat-icon
                                                svgIcon="{{(indicator.getIndicators(project.riskIndicator, '')).icontype}}"
                                                class="{{(indicator.getIndicators(project.riskIndicator, '')).iconcolor}}">
                                            </mat-icon>
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="ask">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Ask/<br>
                                        Needs
                                    </th>
                                    <td mat-cell *matCellDef="let project">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            <mat-icon
                                                svgIcon="{{(indicator.getIndicators(project.askNeedIndicator, '')).icontype}}"
                                                class="{{(indicator.getIndicators(project.askNeedIndicator, '')).iconcolor}}">
                                            </mat-icon>
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="budget">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Budget/<br>
                                        Spend
                                    </th>
                                    <td mat-cell *matCellDef="let project">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            <mat-icon
                                                svgIcon="{{(indicator.getIndicators(project.budgetIndicator, '')).icontype}}"
                                                class="{{(indicator.getIndicators(project.budgetIndicator, '')).iconcolor}}">
                                            </mat-icon>
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="capex">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Total Capex<br>
                                        Approved/<br>
                                        Forecast
                                    </th>
                                    <td mat-cell *matCellDef="let project">
                                        <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                            {{project.currentYrCapExBudget}} USD<br>
                                            {{project.currentYrCapExForecast}} USD
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- Footer -->
                                <ng-container matColumnDef="recentOrdersTableFooter">
                                    <td class="py-6 px-0 border-0" mat-footer-cell *matFooterCellDef colspan="6">
                                        <button mat-stroked-button>See all Projects</button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="recentTransactionsTableColumns"></tr>
                                <tr class="order-row h-16" mat-row
                                    *matRowDef="let row; columns: recentTransactionsTableColumns;"></tr>
                                <tr class="h-16 border-0" mat-footer-row *matFooterRowDef="['recentOrdersTableFooter']">
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
