.example-chip-list {
    width: 100%;
}

/*.chiplist {
    padding: 10px;
}*/

.w-half {
    width: 50vw;
}

.w-3qua {
    width: 75vw;
}

.w-1qua {
    width: 25vw;
}
.dashboard-chip-list {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin-left: 10px !important;
    border-radius: 20px !important;
}
.apply-button{
    margin: 20px 0px 175px 0px !important;
    width: 100%;
}

.tile-title{
    font-size: 20px;
}