<div  *ngIf="viewContent" class="h-[100vh] bg-default">
   
    <div class="flex items-start justify-between bg-primary sidepanel-header" style="margin-bottom: 10px">
        <div class="text-on-primary" style="padding-top: 6px">Link Milestones</div>
        <div style="padding-top: 2px">
            <a (click)="
                    this.projectHubService.toggleDrawerOpen('', '', [], '', true)
                " href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
<!-- <div class="pr-6 pl-6 flex justify-end items-center w-full">
    <div class="pl-3 font-medium text-secondary text-md italic mt-2">
        <form [formGroup]="localIncludedItems">
        <mat-slide-toggle class="primary slider-adjust" formControlName="toggle"
        (checked)="projecthubservice.includeClosedItems.schedule.value" (change)="toggleSchedule($event)">
          Include Closed Items</mat-slide-toggle>
        </form>
      </div>
    </div> -->
    <div class="overflow-x-auto mx-6">
      <mat-accordion multi>
          <div *ngFor="let linkDatum of linkData">
              <mat-expansion-panel class="my-6" [expanded]="true">
                  <mat-expansion-panel-header class="pt-10 pb-10">
                      <mat-panel-title class="font-bold">
                          {{"&nbsp;".repeat(linkDatum.level*2)}}{{linkDatum.projectId}} - {{linkDatum.projectName}}
                      </mat-panel-title>
                  </mat-expansion-panel-header>

                  <app-schedule-table [milestoneData]="linkDatum.milestones" [tableData]="linkDatum.milestones"
                      [linksProblemCapture]="linkDatum.milestoneLinkProjectDetails" [links]="linkDatum.milestoneLink" [mode]="'Link'" [projectId]="linkDatum.projectUId" [parentProjectId]="projectHubService.projectid" >
                  </app-schedule-table>
              </mat-expansion-panel>
          </div>
      </mat-accordion>
  </div>
  <div class="pr-6 pl-6 flex justify-between items-center w-full">

        <button class="min-w-26" mat-flat-button [color]="'primary'"
          (click)="this.projecthubservice.toggleDrawerOpen('', '', [], '',true)">
          Cancel
        </button>
  
        <button class="min-w-26" mat-flat-button [color]="'primary'" type="button" (click)="submitlink()">
          Submit
        </button>
  
      </div>

</div>