<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Risk Issues</div>
    <div style="padding-top: 2px"><a (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')"
            href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
    </div>
</div>
<form class="w-full form-ask-need" [formGroup]="riskIssueForm" (ngSubmit)="submitriskissue()"
    style="overflow-y: scroll; height: 80vh;">
    <div class="flex items-start justify-between">
        <div class="w-25">
            <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto w-full gt-xs:pl-3" [floatLabel]="'always'">
                <mat-label>Type</mat-label>
                <mat-select [placeholder]="'Type'" formControlName="type" name="type">
                    <mat-option value="">None</mat-option>
                    <mat-option *ngFor="let option of getissuetype()" value="option.lookUpId">{{option.lookUpName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-25">
            <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
                <mat-label>Log Date</mat-label>
                <input matInput [matDatepicker]="picker1" [max]="today" [placeholder]="'Choose a date'"
                    formControlName="logDate" name="logDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
        <mat-label>If This Happens</mat-label>
        <textarea matInput [rows]="5" [placeholder]="'If This Happen'" formControlName="ifThisHappens"
            name="ifThisHappens"></textarea>
    </mat-form-field>
    
    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto w-full gt-xs:pl-3" [floatLabel]="'always'">
        <mat-label>Probability</mat-label>
        <mat-select [placeholder]="'Probability'" formControlName="type" name="type">
            <mat-option value="">None</mat-option>
            <mat-option *ngFor="let option of getissuetype()" value="option.lookUpId">{{option.lookUpName}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <div class="flex items-start justify-between">
        <a class="w-25" mat-flat-button [color]="'primary'"
            (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>