<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="SERVER" value=""/>
    <add key="DATABASE" value=""/>
    <add key="USERNAME" value=""/>
    <add key="PASSWORD" value=""/>
    <add key="PWA_Url" value=""/>
    <add key="PWA_UserName" value=""/>
    <add key="PWA_Password" value=""/>
    <add key="LocalFilePath" value=""/>
    <add key="ConnectionTimeout" value="3000" />
    <add key="CommandTimeout" value="3000" />
    <add key="KEY" value="sP6ma7aE"/>
    <add key="IV" value="UmfK/ICS"/>
    <add key="LogFileName" value="ErrorLog.log"/>
    <add key="ErrorLogFilePath" value=""/>
    <add key="LogLevel" value="-1"/>
  </appSettings>
</configuration>