<div class="w-full min-w-0 p-8 pt-0" #container>
    <!-- <div class="flex justify-between items-start gap-6 w-full"> -->
    <div class="flex flex-col flex-auto gap-6 w-full" *ngIf="viewContent">
        <div class="flex bg-card rounded-2xl p-3 pb-0 justify-between items-start">
            <app-cost class="w-full" [optionType]="option"></app-cost>
        </div>
    </div>

    <div class="flex flex-col flex-auto gap-6 pt-6 w-full" *ngIf="viewContent">
        <div class="flex bg-card rounded-2xl p-3 pb-0 justify-between items-start">
            <app-funding class="w-full" [optionType]="option"></app-funding>
        </div>
    </div>
</div>
