.unit {
    text-align: right;
    right: 58%;
    padding-right: 5%;
}

.cost {
    text-align: right;
    right: 58%;
    padding-right: 10%;
}

.date {
    width: 12%;
    display: flex;
    position: relative;
    left: -1365px;
}