<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Bulk Edit Transportation</div>
        <div style="padding-top: 2px">
            <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)" href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <div class="w-full bg-card rounded-2xl">
        <div class="flex items-center justify-end gap-3 pt-3 pr-3 grid-cols-2">
            <button class="ml-4 text-primary bg-gray-200"
                *ngIf="projecthubservice.roleControllerControl.projectHub.CAPS" mat-flat-button [color]="'primary-200'"
                (click)="addTransportation()">
                <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
            </button>

        </div>
        <div class="h-[83vh] w-[94vw] overflow-y-hidden pl-3">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="force"
                class="w-full datatable-op-80 material font-medium text-sm text-default whitespace-nowrap cursor-default"
                [rows]="Transportation" #transportationTable>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Mode" prop="transportationMode"
                    [width]="50">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!transportationTableEditStack.includes(rowIndex)"
                            (click)="transportationTableEditRow(rowIndex)">
                            <p *ngIf="value==''">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="transportationForm.controls[rowIndex]"
                            *ngIf="transportationTableEditStack.includes(rowIndex)">
                            <spot-select formControlName="transportationMode" name="transportationMode"
                                [placeholder]="'Transportation Mode'" [dropDownArrayType]="'string'"
                                [dropDownArray]="modeDropDownValues" [showNoneOption]="false">
                            </spot-select>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Type" prop="transportationType"
                    [width]="80">Type
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!transportationTableEditStack.includes(rowIndex)"
                            (click)="transportationTableEditRow(rowIndex)">
                            <p *ngIf="value==''">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <div>
                            <form [formGroup]="transportationForm.controls[rowIndex]"
                                *ngIf="transportationTableEditStack.includes(rowIndex)">
                                <spot-select formControlName="transportationType" name="transportationType"
                                    [placeholder]="'Type'" [dropDownArrayType]="'string'"
                                    [dropDownArray]="transportationForm.controls[rowIndex].get('transportationMode').value == '' ? typeDropDrownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Road freight' ? roadTypeDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Air freight' ? airTypeDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Sea freight' ? seaTypeDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Train' ? trainTypeDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Courier' ? courierTypeDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Parcel/ Express' ? parcelTypeDropDownValues : []" [showNoneOption]="false">
                                </spot-select>
                            </form>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Fuel" prop="fuelType"
                    [width]="100">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!transportationTableEditStack.includes(rowIndex)"
                            (click)="transportationTableEditRow(rowIndex)">
                            <p *ngIf="value==''">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <div>
                            <form [formGroup]="transportationForm.controls[rowIndex]"
                                *ngIf="transportationTableEditStack.includes(rowIndex)">
                                <spot-select formControlName="fuelType" name="fuelType"
                                    [placeholder]="'Fuel'" [dropDownArrayType]="'string'"
                                    [dropDownArray]="transportationForm.controls[rowIndex].get('transportationMode').value == '' ? fuelDropDrownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Road freight' && (transportationForm.controls[rowIndex].get('transportationType').value == 'LTL / RDC - Reefer' || transportationForm.controls[rowIndex].get('transportationType').value == 'Partial Load Reefer (Truck load fill rate <60%)'
                                    || transportationForm.controls[rowIndex].get('transportationType').value == 'Standard - Reefer (if truck load fill rate > 60%)' || transportationForm.controls[rowIndex].get('transportationType').value == 'Van - Ambiant' || transportationForm.controls[rowIndex].get('transportationType').value == 'Van - Reefer') ? roadFuelDropDownValues2 :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Road freight' && (transportationForm.controls[rowIndex].get('transportationType').value == 'Ambient (truck load fill rate > 60%)' || transportationForm.controls[rowIndex].get('transportationType').value == 'LTL / RDC - Ambient'
                                    || transportationForm.controls[rowIndex].get('transportationType').value == 'Partial Load Ambiant (Truck load fill rate <60%)') ? roadFuelDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Air freight' ? airFuelDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Sea freight' && (transportationForm.controls[rowIndex].get('transportationType').value == 'Standard 20 Ft - Reefer' || transportationForm.controls[rowIndex].get('transportationType').value == 'Standard 40 Ft - Reefer') ? seaFuelDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Sea freight' && (transportationForm.controls[rowIndex].get('transportationType').value == 'Standard 20 Ft - Ambiant' || transportationForm.controls[rowIndex].get('transportationType').value == 'Standard 40 Ft - Ambiant') ? seaFuelDropDownValues2 :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Train' ? trainFuelDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Courier' ? courierFuelDropDownValues :
                                    transportationForm.controls[rowIndex].get('transportationMode').value == 'Parcel/ Express' ? parcelFuelDropDownValues : []" [showNoneOption]="false">
                                </spot-select>
                            </form>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="CO2 Intensity (Factor Value)" prop="co2intensityFactorValue" [width]="30">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="getData(rowIndex) == 'air1'" class="cost">
                        0.920
                    </div>
                    <div *ngIf="getData(rowIndex) == 'air2'" class="cost">
                        0.690
                    </div>
                    <div *ngIf="getData(rowIndex) == 'air3'" class="cost">
                        0.680
                    </div>
                    <div *ngIf="getData(rowIndex) == 'air4'" class="cost">
                        0.184
                    </div>
                    <div *ngIf="getData(rowIndex) == 'air5'" class="cost">
                        0.138
                    </div>
                    <div *ngIf="getData(rowIndex) == 'air6'" class="cost">
                        0.136
                    </div>
                    <div *ngIf="getData(rowIndex) == 'courier1'" class="cost">
                        0.708
                    </div>
                    <div *ngIf="getData(rowIndex) == 'courier2'" class="cost">
                        0.892
                    </div>
                    <div *ngIf="getData(rowIndex) == 'courier3'" class="cost">
                        0.708
                    </div>
                    <div *ngIf="getData(rowIndex) == 'courier4'" class="cost">
                        0.700
                    </div>
                    <div *ngIf="getData(rowIndex) == 'parcel1'" class="cost">
                        0.708
                    </div>
                    <div *ngIf="getData(rowIndex) == 'parcel2'" class="cost">
                        0.892
                    </div>
                    <div *ngIf="getData(rowIndex) == 'parcel3'" class="cost">
                        0.708
                    </div>
                    <div *ngIf="getData(rowIndex) == 'parcel4'" class="cost">
                        0.700
                    </div>
                    <div *ngIf="getData(rowIndex) == 'road1'" class="cost">
                        0.078
                    </div>
                    <div *ngIf="getData(rowIndex) == 'road2'" class="cost">
                        0.063
                    </div>
                    <div *ngIf="getData(rowIndex) == 'road3'" class="cost">
                        0.071
                    </div>
                    <div *ngIf="getData(rowIndex) == 'road4'" class="cost">
                        0.137
                    </div>
                    <div *ngIf="getData(rowIndex) == 'road5'" class="cost">
                        0.154
                    </div>
                    <div *ngIf="getData(rowIndex) == 'road6'" class="cost">
                        0.087
                    </div>
                    <div *ngIf="getData(rowIndex) == 'road7'" class="cost">
                        0.204
                    </div>
                    <div *ngIf="getData(rowIndex) == 'road8'" class="cost">
                        0.230
                    </div>
                    <div *ngIf="getData(rowIndex) == 'sea1'" class="cost">
                        0.002
                    </div>
                    <div *ngIf="getData(rowIndex) == 'sea2'" class="cost">
                        0.001
                    </div>
                    <div *ngIf="getData(rowIndex) == 'sea3'" class="cost">
                        0.003
                    </div>
                    <div *ngIf="getData(rowIndex) == 'sea4'" class="cost">
                        0.002
                    </div>
                    <div *ngIf="getData(rowIndex) == 'train1'" class="cost">
                        0.025
                    </div>
                    <div *ngIf="getData(rowIndex) == 'train2'" class="cost">
                        0.028
                    </div>

                    <div *ngIf="getData(rowIndex) == '0'" class="cost">
                        {{value}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="UoM" prop="co2intensityFactorMeasure" [width]="20">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <div>
                            kg CO2e/t-km 
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Shipment Distance (km)" prop="shipmentDistance" [width]="30">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <p *ngIf="!editTransportation">{{value}}</p>
                        <a *ngIf="!transportationTableEditStack.includes(rowIndex)"
                            (click)="transportationTableEditRow(rowIndex)">
                            <p class="cost" *ngIf="value">{{value}}</p>
                            <p class="cost" *ngIf="!value">&nbsp;</p>
                        </a>
                        <form [formGroup]="transportationForm.controls[rowIndex]"
                            *ngIf="transportationTableEditStack.includes(rowIndex)">
                            <spot-input class="w-full" formControlName="shipmentDistance" name="shipmentDistance"
                                [decimalCount]="0" [inputType]="'Number'" [autoAddDecimal]="false" [placeholder]="0">
                            </spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Shipment Weight (kg)" prop="shipmentWeight" [width]="30">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <p *ngIf="!editTransportation">{{value}}</p>
                        <a *ngIf="!transportationTableEditStack.includes(rowIndex) && editTransportation"
                            (click)="transportationTableEditRow(rowIndex)">
                            <p class="cost" *ngIf="value">{{value}}</p>
                            <p class="cost" *ngIf="!value">&nbsp;</p>
                        </a>
                        <form [formGroup]="transportationForm.controls[rowIndex]"
                            *ngIf="transportationTableEditStack.includes(rowIndex) && editTransportation">
                            <spot-input class="w-full" formControlName="shipmentWeight" name="shipmentWeight"
                                [decimalCount]="0" [inputType]="'Number'" [autoAddDecimal]="false" [placeholder]="0">
                            </spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Shipment Frequency" prop="shipmentFrequency" [width]="30">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <p *ngIf="!editTransportation">{{value}}</p>
                        <a *ngIf="!transportationTableEditStack.includes(rowIndex) && editTransportation"
                            (click)="transportationTableEditRow(rowIndex)">
                            <p class="cost" *ngIf="value">{{value}}</p>
                            <p class="cost" *ngIf="!value">&nbsp;</p>
                        </a>
                        <form [formGroup]="transportationForm.controls[rowIndex]"
                            *ngIf="transportationTableEditStack.includes(rowIndex) && editTransportation">
                            <spot-input class="w-full" formControlName="shipmentFrequency" name="shipmentFrequency"
                                [decimalCount]="0" [inputType]="'Number'" [autoAddDecimal]="false" [placeholder]="0">
                            </spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Basis of Estimate"
                    prop="embasisOfEstimate" [width]="120">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!transportationTableEditStack.includes(rowIndex)"
                            (click)="transportationTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="transportationForm.controls[rowIndex]"
                            *ngIf="transportationTableEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="embasisOfEstimate" [showLabel]="false"
                                [label]="'Basis of Estimate'" [placeholder]="'Basis of Estimate'" [rows]="3">
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [width]="1" [resizeable]="false"
                    [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded"
                        ngx-datatable-cell-template>

                        <div class="flex items-center justify-start">
                            <a href="javascript:void(0)" title="Delete Single"
                                *ngIf="this.projecthubservice.roleControllerControl.projectHub.CAPS"
                                (click)="deleteTransportation(rowIndex)">
                                <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                            </a>
                        </div>
                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>
        </div>
    </div>
    <div class="flex items-start justify-between mt-6 px-6">
        <a class="min-w-26" mat-flat-button [color]="'primary'" type="button"
            (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" (click)="submitTransportation()" type="button">
            Submit
        </button>
    </div>
</div>