<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   
    
    <add key="ProjectServerUrl" value="/"/>
    <add key="UserNamePWA" value=""/>
    <add key="PasswordPWA" value=""/>    
    <add key="SPListName" value="GMS Product Master"/>
  
    
    <!--Project Widgets-->
    <add key="SERVER" value=""/>
    <add key="DATABASE" value=""/>
    <add key="USERNAME" value="PWSQL"/>
    <add key="PASSWORD" value=""/>
  

   <add key="sharepointColumnsSequence" value="ID;Title;ProductStatus;OpU;Franchise;ShireCode;MoleculeName;BrandName;Partnership;Comments;ProductImportanceFuture;DrugSubstance;DrugProduct;Packaging;Devices;ProductID;ProductOrder;ClinicalPhase;Indication;Strategic_x0020_Growth_x0020_Pro;Product_x0020_Operating_x0020_Mo" />

    <add key="databaseColumnsSequence" value="ID;FullProductName;ProductStatus;OpU;TherapeuticArea;ShireCode;MoleculeName;BrandName;Partnership;Comments;ProductImportanceNew;DrugSubstance(DS);DrugProduct(DP);Package&amp;Label;Devices;ProductID;ProductOrder;ProgramPhase;Indication;StrategicGrowthProduct;ProductoperatingmodelSupportedBrand" />
    
    <add key="multiSelectColumns" value="DrugSubstance;DrugProduct;Packaging;Devices" />

    <add key="ConnectionTimeout" value="3000" />
    <add key="CommandTimeout" value="3000" />
    <add key="KEY" value="sP6ma7aE"/>
    <add key="IV" value="UmfK/ICS"/>
    <add key="LogFileName" value="ErrorLog.log"/>
    <add key="ErrorLogFilePath" value=""/>
    <add key="LogLevel" value="-1"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>