@import '~@swimlane/ngx-datatable/assets/icons.css';
.overall-shrink{
    max-height: 150px;
    transition-timing-function: ease-in-out;
}
.overall-expand{
    max-height: 100%;
    transition-timing-function: ease-in-out;

}
.row-color1 {
    background-color: #F6F6F6;
}