<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Budget Details Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                                         href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
        </div>
    </div>
    <form class="pl-3 w-full overflow-hidden" [formGroup]="budgetInfoForm" (ngSubmit)="submitBudgetInfo()">
        <div [ngClass]="'overflow-y-scroll overflow-x-hidden h-[86.5vh] pt-3 pr-3'">
            <p style="color:red;" *ngIf="showMessage">Error: Some of the
                required fields are missing. Please review and correct your data below</p>
            <spot-select class="w-full" formControlName="capexRequired" [label]="'CAPEX Required'"
                         [placeholder]="'CAPEX Required'" [showNoneOption]="false" [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                         [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'"
                         [dropDownArray]="getYesNo()">
            </spot-select>
            <spot-select class="w-full" formControlName="opexRequired" [label]="'OPEX Required'"
                         [placeholder]="'OPEX Required'" [showNoneOption]="false" [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                         [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'"
                         [dropDownArray]="getYesNo()">
            </spot-select>
            <spot-input class="w-full read-only" formControlName="parentProgram" [label]="'Parent Program'">
            </spot-input>
            <spot-input class="w-full read-only" formControlName="localCurrency" [label]="'Local Currency'" >
            </spot-input>
            <spot-input-date class="w-full read-only" formControlName="assetPlaced"
                             [label]="'Asset Placed In Service (Estimate)'" [placeholder]="'Asset Placed In Service (Estimate)'">
            </spot-input-date>

            <div class="flex justify-between items-center mt-3">
                <spot-input class="w-full read-only" id="budgetId"  formControlName="budgetId" [label]="'Budget ID'" [Required]="true">
                </spot-input>
                <div>
                    <button *ngIf="showBudgetIdButton" class="min-w-26" mat-flat-button [color]="'primary'" type="submit">
                        Request a new Budget ID
                    </button>
                </div>
            </div>
            <spot-singleselect-autocomplete class="w-full" formControlName="gmsBudgetowner" [label]="'GMS Budget Owner'"  [Required]="true"
                                            [valuePointer]="'portfolioOwner'"
                                            [dropDownArray]="getPortfolioOwner()" [sortByType]="'custom'"
                                            [customSortPointer]="'pfid'">
            </spot-singleselect-autocomplete>
            <spot-singleselect-autocomplete class="w-full" formControlName="predefinedInvestmentId"
                                            [label]="'Global/Regional Predefined Investment '" [placeholder]="'Global/Regional Predefined Investment '" [valuePointer]="'lookUpName'"  [Required]="true"
                                            [dropDownArray]="getPredifinedInvestment()" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
            </spot-singleselect-autocomplete>
            <spot-select  class="w-full" formControlName="where" [label]="'Where'"  [Required]="true"
                          [placeholder]="'Where'" [showNoneOption]="false" [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                          [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'"
                          [dropDownArray]="getWhereLookup()">
            </spot-select>
            <spot-select  class="w-full" formControlName="why" [label]="'Why'"  [Required]="true"
                          [placeholder]="'Why'" [showNoneOption]="false" [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                          [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'"
                          [dropDownArray]="getWhyLookup()">
            </spot-select>
            <spot-input-date class="w-full read-only" formControlName="fundingApprovalNeedDate"
                             [label]="'Funding Approval Need Date'" [placeholder]="'Funding Approval Need Date'">
            </spot-input-date>
            <spot-textarea formControlName="budgetCommentary"
                           [label]="'Budget Commentary'"
                           [placeholder]="'Budget Commentary'">
            </spot-textarea>
        </div>
        <div class="pr-3 flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'"
               (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit" [disabled]="budgetInfoForm.invalid">
                Submit
            </button>
        </div>
    </form>
</div>
