<div *ngIf="viewContent" [hidden]="viewStandardMilestonesSets">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Budget CAPEX Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                                         href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
        </div>
    </div>
    <form class="overflow-auto m-2"  style="height: calc(calc(100vh/ var(--custom-zoom)) - 120px)" [formGroup]="budgetInfoForm" >
            <div class="flex justify-between items-center mt-3 mb-6">
                <div class="flex justify-start gap-1 items-center font-medium">CAPEX Required
                </div>
                <div>
                    <mat-slide-toggle formControlName="capexRequired"></mat-slide-toggle>
                </div>
            </div>
            <div class="flex justify-between items-center mt-3">
                <spot-textarea class="w-full read-only" [rows]="1" formControlName="budgetId" [showLabel]="true" [label]="'Budget ID'" [Required]="required">
                </spot-textarea>
                <div>
                    <button *ngIf="showBudgetIdButton" class="min-w-26" mat-flat-button [color]="'primary'"  (click)="requestBudgetId()">
                        Request a new Budget ID
                    </button>
                </div>
            </div>
            <spot-singleselect-autocomplete class="w-full" formControlName="gmsBudgetowner" [label]="'GMS Budget Owner'"  [Required]="required"
                                            [valuePointer]="'portfolioOwner'"
                                            [dropDownArray]="gmsBudgetOwnerList" [sortByType]="'custom'"
                                            [customSortPointer]="'pfid'">
            </spot-singleselect-autocomplete>
            <spot-singleselect-autocomplete class="w-full" formControlName="predefinedInvestmentId"
                                            [label]="'Global/Regional Predefined Investment '" [placeholder]="'Global/Regional Predefined Investment '" [valuePointer]="'lookUpName'"  [Required]="required"
                                            [dropDownArray]="getPredifinedInvestment()" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'" >
            </spot-singleselect-autocomplete>
            <spot-select  class="w-full" formControlName="where" [label]="'Where'"  [Required]="required" [showNoneOption]="true"
                          [placeholder]="'Where'"  [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                          [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'"
                          [dropDownArray]="getWhereLookup()">
            </spot-select>
            <spot-select  class="w-full" formControlName="why" [label]="'Why'"  [Required]="required" [showNoneOption]="true"
                          [placeholder]="'Why'" [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                          [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'"
                          [dropDownArray]="getWhyLookup()">
            </spot-select>
            <!-- <spot-input-date class="w-full read-only" formControlName="fundingApprovalNeedDate" [Required]="required"
                             [label]="'Funding Approval Need Date'" [placeholder]="'Funding Approval Need Date'">
            </spot-input-date> -->
    </form>
    <div class="w-full px-3 pr-3 flex items-start justify-between">
        <a class="min-w-26" mat-flat-button [color]="'primary'" *ngIf="mode == 'Normal'"
           (click)="this.projectHubService.toggleDrawerOpen('', '',[],'',true)">
            Cancel
        </a>
        <a class="min-w-26" mat-flat-button [color]="'primary'" *ngIf="mode == 'CAPEX'"
           (click)="cancelBudgetInfo()">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit" 
        *ngIf="mode == 'CAPEX'" (click)="submitBudgetInfo()">
            Submit
        </button>
        <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit" 
        *ngIf="mode == 'Normal'" (click)="submitBudgetInfo()">
            Submit
        </button>
    </div>
</div>
<div *ngIf="viewContent && mode == 'CAPEX'" [hidden]="!viewStandardMilestonesSets">
    <app-schedule-view-bulk-edit [callLocation] = "'CAPEX'" [viewStandardMilestonesSets] = "viewStandardMilestonesSets" [hidden]="!viewStandardMilestonesSets"></app-schedule-view-bulk-edit>
    
</div>
