<div *ngIf="viewContent" class="w-full">
    <div class="flex flex-col justify-between  items-center bg-card p-6 pt-3 pb-4 m-8 mb-5 mt-0 shadow rounded-2xl">
        <div class="flex justify-between items-start w-full">
            <div class="w-[73%]">
                <span class="font-bold text-primary text-2xl">
                    {{navItem?.title}}
                </span>
            </div>
            <div class="w-[27%]">
                <div class="flex flex-auto w-full text-center">
                    <div class="w-full">
                        <p class="text-md">Last Generated</p>
                        <span *ngIf="reportInfoData.charterLastReportDate" class="font-bold text-primary">
                            {{reportInfoData.charterLastReportDate | date:'dd-MMM-yyyy'}}
                        </span>
                        <span *ngIf="!reportInfoData.charterLastReportDate" class="font-bold text-primary">
                            -
                        </span>
                    </div>
                    <div class="w-full">
                        <p class="text-md">Last Updated</p>
                        <span *ngIf="reportInfoData.charterModifiedDate" class="font-bold text-primary">
                            {{reportInfoData.charterModifiedDate | date:'dd-MMM-yyyy'}}
                        </span>
                        <span *ngIf="!reportInfoData.charterModifiedDate" class="font-bold text-primary">
                            -
                        </span>

                    </div>
                    <div class="w-full">
                        <p class="text-md">Date Approved</p>
                        <span *ngIf="reportInfoData.charterApprovedDate" class="font-bold text-primary">
                            {{reportInfoData.charterApprovedDate | date:'dd-MMM-yyyy'}}
                        </span>
                        <span *ngIf="!reportInfoData.charterApprovedDate" class="font-bold text-primary">
                            -
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-between items-center w-full gap-3">
            <div class="w-5/6">
                <div class="pt-3 flex w-full justify-start gap-3 items-center" *ngIf="navItem?.children.length>0">
                    <button *ngFor="let item of  navItem.children" mat-flat-button
                        [ngClass]="isNavActive(item.link)?'bg-primary text-on-primary':'bg-gray-200 text-primary'"
                        routerLink="{{'../'+item.link}}">
                        {{item.title}}
                    </button>
                </div>
            </div>
            <div class="w-1/6">
                <button class="min-w-26 mt-3 w-full" mat-flat-button [color]="'primary'" type="button">
                    Generate Document
                </button>
            </div>
        </div>
    </div>
    <div class="w-full">
        <router-outlet></router-outlet>
    </div>
</div>