<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">OE Project Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <form class="w-full p-[20px] overflow-y-scroll h-[95vh]" [formGroup]="generalInfoForm" (ngSubmit)="OE()">
        <div class="flex justify-between items-center">
            <div>OE Project</div>
            <mat-slide-toggle formControlName="isOeproject"></mat-slide-toggle>
        </div>
        <div class="mt-6" *ngIf="generalInfoForm.controls['isOeproject'].value">
            <spot-multiselect-autocomplete formControlName="oeprojectType" name="oeprojectType"
                [label]="'OE Project Type'" [placeholder]="'OE Project Type'" [valuePointer]="'lookUpName'"
                [idPointer]="'lookUpId'" [customSortPointer]="'lookUpOrder'" [sortByType]="'custom'"
                [dropDownArray]="getoeprojectType()">
            </spot-multiselect-autocomplete>
        </div>
        <div class="flex items-start justify-between mt-6">
            <a class="w-25" mat-flat-button [color]="'primary'"
                (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>