<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Project Team Add New</div>
    <div style="padding-top: 2px"><a (click)="projecthubservice.toggleDrawerOpen('', '',[],'')"
            href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
    </div>
</div>
<form class="w-full form-ask-need" [formGroup]="projectTeamAddForm" (ngSubmit)="submitProjectTeam()"
    style="overflow-y: scroll; height: 95vh;">

    <spot-singleselect-user-autocomplete formControlName="usersingle" name="usersingle" [label]="'Team Member(s)'"
        [placeholder]="'Type Last, First Name or e-Mail Address and hit enter'">
    </spot-singleselect-user-autocomplete>
    <spot-singleselect-autocomplete formControlName="role" name="role" [label]="'Role'" [placeholder]="'Role'"
        [valuePointer]="'lookUpName'" [dropDownArray]="getRoles()">
    </spot-singleselect-autocomplete>

    <spot-select formControlName="permission" name="permission" [label]="'Project Permission'"
        [placeholder]="'Project Permission'" [valuePointer]="'lookUpName'" [idPointer]="'lookUpId'"
        [showNoneOption]="false" [dropDownArrayType]="'object'" [dropDownArray]="getPermissions()">
    </spot-select>

    <div *ngIf="Urlval === 'project-charter-project-teams'">
        <spot-input class="w-full" formControlName="percentTime" [max]="true" [len]="3" name="percentTime"
            [label]="'%Time'" [placeholder]="'Time'"
            onInput="event.target.value = event.target.value.replace(/[^0-9]*/g,'')">
        </spot-input>
    
    
        <spot-input class="w-full" formControlName="duration" (change)="processMyValue($event)" name="duration"
            [label]="'Duration'" [placeholder]="'Duration'"
            onInput="event.target.value = event.target.value.replace(/[^0-9]*/g,'')"
            >
        </spot-input>
    
    
        <div class="flex justify-between items-center w-full pt-4 pb-6">
            <div class="flex justify-start gap-1 items-center">Include in Charter(Max-10)
                <!-- <mat-icon class="pe icon-size-4">help</mat-icon> -->
            </div>
            <div>
                <mat-slide-toggle formControlName="includeInCharter"></mat-slide-toggle>
            </div>
        </div>
    </div>

    <div class="flex items-start justify-between mt-6">
        <a class="w-25" mat-flat-button [color]="'primary'"
            (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>