/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
$circle-size: 10px;
$square-size: 10px;
.text-red-green{
    color: linear-gradient(to right, red 0%, red 50%, green 50%);

}
.hit-miss-false{
    color: #808080
}
.hit-miss-true{
    color: #000000
}
.hit-miss {
    div::before{
        content: '';
        display: inline-block;
        width: $circle-size;
        height: $circle-size;
        -moz-border-radius: 50%px;
        -webkit-border-radius: 50%px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: text-top
    }
    &.complete div::before{
        background-color: #008000;

    }
    &.incomplete div::before{
        background-color: #ff0000;

    }
}
.vertical-header-class {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    left:10px;
}
.right-aligned-header-class {
    text-align: right;
}
.total-capex-header-class {
    text-align: end;
}
.align-header-middle-class {
    text-align: center;
}
.current-project{
    background-color: var(--fuse-primary-200);
}
.first-column-datatable{
    margin-left: 10px;
}
.align-right{
    .datatable-body-cell-label {
        float: right !important;
    }
}
.graph-cell-datatable{
    overflow-x: visible !important;
    &.ngx-datatable .datatable-header-cell {
        overflow-x: visible !important;
    }
}
.ngx-number-header{
    text-align: right;
}

.ngx-icon-header {
    text-align: center;
}
.fast-load-table{
    datatable-scroller {
        width: 100% !important;
    }
}

