.unit {
    text-align: right;
    right: 58%;
    padding-right: -2%;
}

.emission {
    text-align: right;
    right: 58%;
    padding-right: 1%;
}

.cost {
    text-align: right;
    right: 58%;
    padding-right: 5%;
}

