<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Bulk Edit Biogenics</div>
        <div style="padding-top: 2px">
            <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)" href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <div class="w-full bg-card rounded-2xl">
        <div class="flex items-center justify-end gap-3 pt-3 pr-3 grid-cols-2">
            <form style="width:23%;display: flex;" [formGroup]="CAPSform" (ngSubmit)="submitCAPS()">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
                    <mat-label>Impact Realization Date</mat-label>
                    <input matInput [matDatepicker]="picker1" [max]="today" [placeholder]="'Choose a date'"
                        formControlName="impactRealizationDate" name="impactRealizationDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <div class="w-full mt-4 mb-6" style="margin-left: 47px;padding-left: 12px; padding-top: 19px;">
                    <spot-toggle class="w-full" formControlName="NoCarbonImpact" [mode]="'toggle'" [label]="'No Carbon Impact'">
                    </spot-toggle>
                </div>
            </form>
            <button class="ml-4 text-primary bg-gray-200" *ngIf="projecthubservice.roleControllerControl.projectHub.CAPS && !CAPSform.controls.NoCarbonImpact.value"
                mat-flat-button [color]="'primary-200'" (click)="addBiogenics()">
                <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
            </button>

        </div>
        <div class="h-[70vh] overflow-y-hidden pl-3">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="force"
                class="w-full datatable-op-80 material font-medium text-sm text-default whitespace-nowrap cursor-default"
                [rows]="Biogenics" #biogenicsTable>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Emission Source" prop="biogenicMasterUniqueId" [width]="100">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!biogenicsTableEditStack.includes(rowIndex)" (click)="biogenicsTableEditRow(rowIndex)">
                            <p *ngIf="value==''">&nbsp;</p>
                            <p>{{getLookUpName(value)}}</p>
                        </a>
                        <form [formGroup]="biogenicsForm.controls[rowIndex]" *ngIf="biogenicsTableEditStack.includes(rowIndex)">
                            <spot-select formControlName="biogenicMasterUniqueId" name="biogenicMasterUniqueId" [placeholder]="'Emission Source'"
                                [dropDownArrayType]="'object'" [dropDownArray]="getSource()" [idPointer]="'lookUpId'"
                                [valuePointer]="'lookUpName'" [showNoneOption]="false">
                            </spot-select>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Emission Factor (kg CO2/kWh)" prop="biogenicEmissionFactor"
                    [width]="60">Emission Factor (kg CO2/kWh)
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!biogenicsTableEditStack.includes(rowIndex)" (click)="biogenicsTableEditRow(rowIndex)">
                            <p *ngIf="!value && value!=0">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="biogenicsForm.controls[rowIndex]" *ngIf="biogenicsTableEditStack.includes(rowIndex)">
                            <spot-input class="w-full" formControlName="biogenicEmissionFactor" name="biogenicEmissionFactor" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" [placeholder]="'Emission Factor (kg CO2/kWh)'">
                            </spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" name="Units" prop="biogenicUnit" [width]="30">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!biogenicsTableEditStack.includes(rowIndex)" (click)="biogenicsTableEditRow(rowIndex)">
                            <p *ngIf="!value && value!=0">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="biogenicsForm.controls[rowIndex]"
                            *ngIf="biogenicsTableEditStack.includes(rowIndex)">
                            <spot-input class="w-full" formControlName="biogenicUnit" name="biogenicUnit"
                                [decimalCount]="0" [inputType]="'Number'" [autoAddDecimal]="false"
                                [placeholder]="'Units'" [allowNegativeValues] = true>
                            </spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="UoM" prop="standardUoM" [width]="30">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <div (click)="biogenicsTableEditRow(rowIndex)">{{ value}}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name={{unitCost}} prop="biogenicUnitCost" [width]="70">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <ng-container>
                            <div>
                                {{column.name}}
                                <mat-icon class="pe" style="font-size: 17px;"
                                    matTooltip="Input the cost of each energy unit using upto 4 decimal places, positive values only.">help</mat-icon>
                            </div>
                        </ng-container>
                    </ng-template>
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!biogenicsTableEditStack.includes(rowIndex)" (click)="biogenicsTableEditRow(rowIndex)">
                            <p *ngIf="!value && value!=0">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="biogenicsForm.controls[rowIndex]"
                            *ngIf="biogenicsTableEditStack.includes(rowIndex)">
                            <spot-input class="w-full" formControlName="biogenicUnitCost" name="biogenicUnitCost" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" [placeholder]="'Unit Cost'">
                            </spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Basis of Estimate"
                    prop="biogenicBasisOfEstimate" [width]="100">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!biogenicsTableEditStack.includes(rowIndex)" (click)="biogenicsTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="biogenicsForm.controls[rowIndex]" *ngIf="biogenicsTableEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="biogenicBasisOfEstimate" [showLabel]="false"
                                [label]="'Basis of Estimate'" [placeholder]="'Basis of Estimate'" [rows]="3">
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [width]="20" [resizeable]="false" [sortable]="false"
                    [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template>
                
                        <div class="flex items-center justify-start">
                            <a href="javascript:void(0)" title="Delete Single"
                                *ngIf="this.projecthubservice.roleControllerControl.projectHub.CAPS"
                                (click)="deleteBio(rowIndex)">
                                <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                            </a>
                        </div>
                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>
        </div>
    </div>
    <div class="flex items-start justify-between mt-6 px-6">
        <a class="min-w-26" mat-flat-button [color]="'primary'" type="button"
            (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" (click)="submitBiogenics()" type="button">
            Submit
        </button>
    </div>
</div>