.unit {
    text-align: right;
    right: 58%;
    padding-right: 59%;
}

.emission {
    text-align: right;
    right: 58%;
    padding-right: 15%;
}

.cost {
    text-align: right;
    right: 58%;
    padding-right: 39%;
}

.date {
    width: 12%;
    display: flex;
    position: relative;
    left: -1364px;
}

// style="width:23%;display: flex;"