.unit {
    text-align: right;
    right: 58%;
    padding-right: -2%;
}

.emission {
    text-align: right;
    right: 58%;
    padding-right: 1%;
}

.cost {
    text-align: right;
    right: 58%;
    padding-right: 5%;
}

.date {
    width: 12%;
    display: flex;
    position: relative;
    left: -1364px;
}