.ngx-datatable .datatable-CX-80 .datatable-body .datatable-scroll {
    height: 50vh !important;
    width: 100vw !important;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
}

.custom {
    width: 80% !important;
}

.customIcon {
    top: 31px;
    position: relative;
    right: -25px;
    height: 40px;
    width: 25px;
}

// .datatable-header {
//     /* Set the background color with a linear gradient effect */
//     background-image: linear-gradient(to bottom, #FF0000 50%, transparent 50%) !important;
// }
.w-1qua {
    width: 55vw;
}

.apply-button {
    width: 10% !important;
}

.datatable-row-left {
    background: white !important;
    height: 59px !important;
}

.datatable-row-center {
    height: 57px !important;
}

.frozen-header-classID {
    top: 36px !important;
}

.frozen-header-class {
    top: 36px !important;
}

.blueBg {
    background: #89B4E0 !important;
}

.greenBg {
    background: #81FD84 !important;
}

.pinkBg {
    background-color: #FCC2C2 !important;
}

.headBgHeight {
    display: block !important;
    height: 28px !important;
    margin: -.5em -.6em .4em -.6em !important;
}