.font-bold {
    font-size: 16px;
}
.variance {
    text-align: right;

  padding-right: 40%;

}
.logID {
text-align: right;
 color: rgba(var(--fuse-primary-rgb), var(--tw-bg-opacity));
  padding-right: 55%;

}
.logID1 {
  text-align: right;
 
  padding-right: 55%;
}
.logID:hover {
  text-decoration: underline;
}
.count {
  text-align: right;

padding-right: 55%;

}
.row-color1 {
  background-color: var(--fuse-bg-default);
}
.nostartName {
  color : #E1242a
  //font-weight : bold
}
.red {
  color : #E1242a
}
