.font-bold {
  font-size: 16px;
}
.variance {
  text-align: right;

padding-right: 58%;

}
.variancecloseout {
text-align: right;

padding-right: 65%;

}
.logID {
text-align: right;
color: rgba(var(--fuse-primary-rgb), var(--tw-bg-opacity));
padding-right: 55%;

}
.logID1 {
text-align: right;

padding-right: 55%;
}
.logID:hover {
text-decoration: underline;
}
.count {
text-align: right;

padding-right: 55%;

}
.countbaseline {
text-align: right;

padding-right: 68%;
}
.row-color1 {
background-color: var(--fuse-bg-default);
}
.nostartName {
color : #E1242a
//font-weight : bold
}
.red {
color : #E1242a
}
.blue {
color : #4C9BCF
}
.baselineChange
{
color : #4C9BCF
}
.plannedchange
{
color : #4C9BCF
}
.completionchange
{
color : #4C9BCF
}
.indicatorchange
{
color : #4C9BCF
}
.noplanned
{
background-color: #4C9BCF;
}
.nobaselined {
background-color: #4C9BCF;
}
.nocompleted {
background-color: #4C9BCF;
}
.noindicator {
background-color: #4C9BCF;
}
.noplanned1
{
color : #4C9BCF;
}
.nobaselined1 {
color : #4C9BCF;
}
.nocompleted1 {
color : #4C9BCF;
}
.noindicator1 {
color : #4C9BCF;
}