<div *ngIf="viewContent" [hidden]="viewBaseline && viewBaselineLogs">
  <div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Bulk Edit Milestones</div>
    <div style="padding-top: 2px">
      <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'', true)" href="javascript:void(0)" title="Close">
        <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
      </a>
    </div>
  </div>
  <div>

    <div class="flex justify-between gap-8 mt-2">
      <div *ngIf="baselineCount.baselineCount > 0; else zero">
      <h6 class="font-medium text-secondary text-md italic ml-4 mt-2">
        Baseline : {{baselineCount.baselineCount}}
      </h6>
    </div>
    <ng-template #zero>
      <h6 class="font-medium text-secondary text-md italic ml-4 mt-2">
      Baseline : 0
    </h6>
    </ng-template>
      <!-- <div class="flex items-center">
        <div class="w-full pr-3 text-right whitespace-pre">
          <button class="w-auto" style="margin-right: 1.5rem; padding:0px 140px!important;" mat-flat-button
            [color]="'primary'" type="button" (click)="addMilestoneRecord()">
            Add New
          </button>
        </div>
      </div> -->
      <div class="flex items-start justify-between">
        <div style="padding-right: 5px;">
          <button *ngIf="projecthubservice.roleControllerControl.projectHub.projectBoard.baselineedit"
            style="margin-left: 2rem; padding:0px 28px!important" class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
            (click)="baselineLogs()">
            Baseline Log
          </button>
        </div>
        <div style="padding-right: 5px;">
          <button *ngIf="projecthubservice.roleControllerControl.projectHub.projectBoard.baselineedit"
            style="margin-left: 2rem; padding:0px 28px!important" class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
            (click)="baselineProject()">
            Baseline Project
          </button>
        </div>
        <div style="margin-right:22px">
          <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" (click)="addMilestoneRecord()">
            <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
          </button>
        </div>

      </div>
      <!-- <div class="flex items-start justify-between">
        <div style="padding-right: 5px;">
          <button *ngIf="projecthubservice.roleControllerControl.projectHub.projectBoard.baselineedit"
            style="margin-left: 2rem; padding:0px 28px!important" class="ml-4 text-primary" mat-flat-button [color]="'primary-200'"
            (click)="baselineProject()">
            Baseline Project
          </button>
        </div>
        <div style="margin-right:22px">
          <button class="ml-4 text-primary" mat-flat-button [color]="'primary-200'" (click)="addMilestoneRecord()">
            <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
          </button>
        </div>

      </div> -->
    </div>






    <!-- <div class="mt-4 flex justify-end items-center w-full">
   
    </div>

  <div class="mt-4 flex justify-end items-center w-full">
    
    &nbsp;
  </div>
</div> -->

    <div class="overflow-x-auto mt-3 p-3 h-[80vh] overflow-y-scroll">
      <ngx-datatable class="pr-6 pl-2 material font-medium text-sm text-secondary whitespace-nowrap"
        [rows]="scheduleData.scheduleData" #scheduleTable columnMode="flex" [headerHeight]="'auto'" [rowHeight]="'auto'"
        [scrollbarV]="false">
        <ngx-datatable-column name="Status" prop="indicator" [resizeable]="false" [sortable]="false" [flexGrow]="0.3">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <mat-icon svgIcon="{{(indicator.getIndicators(value, 'circle')).icontype}}"
              class="{{(indicator.getIndicators(value, 'circle')).iconcolor}}" *ngIf="row.scheduleUniqueId != 'new'">
            </mat-icon>
            &nbsp;
            &nbsp;
            <mat-icon [matTooltip]="getlinkname(row.scheduleUniqueId)" *ngIf="islink(row.scheduleUniqueId)"
              svgIcon="heroicons_outline:link"></mat-icon>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Milestone" prop="milestone" [resizeable]="false" [sortable]="false" [flexGrow]="1">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)">
              <p *ngIf="value == ''">&nbsp;</p>{{value}}
            </a>
            <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
              <spot-textarea [rows]="3" formControlName="milestone" name="milestone" [showLabel]="false">
                <!-- [placeholder]="'Milestone Name'" -->
              </spot-textarea>
            </form>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Planned Finish" prop="plannedFinish" [resizeable]="false" [sortable]="false"
          [flexGrow]="0.8">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)">
              <p *ngIf="value == ''">&nbsp;</p>{{value | date:'dd-MMM-yyyy'}}
            </a>
            <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
              <spot-input-date formControlName="plannedFinish" name="plannedFinish" [showLabel]="false"></spot-input-date>
            </form>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Baseline Finish" prop="baselineFinish" [resizeable]="false" [sortable]="false"
          [flexGrow]="0.8">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)">
              <p *ngIf="value == ''">&nbsp;</p>{{value | date:'dd-MMM-yyyy'}}
            </a>
            <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
              <spot-input-date formControlName="baselineFinish" name="baselineFinish" [showLabel]="false"></spot-input-date>
            </form>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Variance" prop="variance" [resizeable]="false" [sortable]="false" [flexGrow]="0.5">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <div class="variance">

            {{calculateVariance(row)}}
          </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Responsible Person" prop="responsiblePersonName" [resizeable]="false"
          [sortable]="false" [flexGrow]="0.9">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)">
              <p *ngIf="value == ''">&nbsp;</p>{{value}}
            </a>
            <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
              <spot-singleselect-user-autocomplete formControlName="responsiblePersonName" name="responsiblePersonName" [showLabel]="false">
              </spot-singleselect-user-autocomplete>
            </form>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Function Owner" prop="functionGroupId" [resizeable]="false" [sortable]="false"
          [flexGrow]="1">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)">
              <p *ngIf="value == ''">&nbsp;</p>{{getLookupName(value)}}
            </a>
            <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
              <spot-singleselect-autocomplete formControlName="function" [showLabel]="false" [valuePointer]="'lookUpName'" [dropDownArray]="getFunctionOwner()">
              </spot-singleselect-autocomplete>
            </form>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Completion Date" prop="completionDate" [resizeable]="false" [sortable]="false"
          [flexGrow]="0.8">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)">
              <p *ngIf="value == ''">&nbsp;</p>{{value | date:'dd-MMM-yyyy'}}
            </a>
            <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
              <spot-input-date formControlName="completionDate" name="completionDate" [showLabel]="false" [max]="'today'"></spot-input-date>
            </form>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Comments" prop="comments" [resizeable]="false" [sortable]="false" [flexGrow]="0.8">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)">
              <p *ngIf="value == ''">&nbsp;</p>{{value}}
            </a>
            <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
              <spot-textarea [rows]="3" formControlName="comments" name="comments" [showLabel]="false">
              </spot-textarea>
            </form>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Include in Dashboard (Max 8)" prop="includeInReport" [sortable]="false"
          [resizeable]="false" [flexGrow]="0.50">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)">
              <p *ngIf="!value">&nbsp;</p>
              <mat-icon svgIcon="heroicons_outline:check-circle" *ngIf="value == true"></mat-icon>
            </a>
            <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)"
              class="p-2 overflow-hidden">
              <div class="flex items-center justify-between">
                <mat-slide-toggle name="includeInReport" [showLabel]="false" formControlName="includeInReport">
                </mat-slide-toggle>
              </div>
            </form>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="0.3" [resizeable]="false" [sortable]="false" [draggable]="false">
          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>

            <div class="flex items-center justify-start gap-6">
              <a href="javascript:void(0)" title="Delete" (click)="deleteSchedule(row.scheduleUniqueId, row, rowIndex)"
                *ngIf="row.milestoneType?!row.milestoneType >=1:true">
                <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
              </a>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class="mt-6 flex justify-between items-center w-full">

      <button style="margin-left: 2rem; padding:0px 60px!important" class="w-auto" mat-flat-button [color]="'primary'"
        (click)="this.projecthubservice.toggleDrawerOpen('', '', [], '',true)">
        Cancel
      </button>

      <button style="margin-right: 2rem; padding:0px 60px!important" class="w-auto" mat-flat-button [color]="'primary'"
        type="button" (click)="submitschedule()">
        Submit
      </button>

    </div>
  </div>
</div>

<div *ngIf="viewContent" [hidden]="!viewBaseline">
  <div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Baseline Count Justification</div>
    <div style="padding-top: 2px">
      <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'')" href="javascript:void(0)" title="Close">
        <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
      </a>
    </div>
  </div>
  <form class="w-full form-ask-need" [formGroup]="baselineForm" style="overflow-y: scroll; height: 95vh;">

    <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
      <mat-label>Justification for Re-Baselining</mat-label>
      <textarea matInput [rows]="5" [placeholder]="'Provide an explanation/justification for re-baselining'"
        formControlName="baselineComment" name="baselineComment"></textarea>
    </mat-form-field>
    <div class="flex justify-between items-center">
      <div class="flex justify-start gap-1 items-center">Do you want to increment the baseline counter?
      </div>
      <div>
        <mat-slide-toggle formControlName="counter"></mat-slide-toggle>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="flex items-start justify-between">
      <a class="w-25" mat-flat-button [color]="'primary'" (click)="cancelJustification()">
        Cancel
      </a>
      <button class="w-25" mat-flat-button [color]="'primary'" type="button" (click)="submitjustification()">
        Submit
      </button>
    </div>
  </form>
</div>

<div *ngIf="!viewContent" [hidden]="!viewBaselineLogs">
  <div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Baseline Log</div>
    <div style="padding-top: 2px">
      <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'')" href="javascript:void(0)" title="Close">
        <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
      </a>
    </div>
  </div>
  <form class="w-full">
  <div class="overflow-x-auto mx-6">
    <div class="mt-3 p-3 h-[83vh] overflow-y-scroll">
    <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
        class="pr-6 material font-medium text-sm text-secondary whitespace-nowrap cursor-pointer" [rows]="baselineLogData"
        [sorts]="[{ prop: 'dueDate', dir: 'asc' }]" #riskIssuesTable [rowClass]="getRowClass">

        <ngx-datatable-column name="Include in Slip Chart" prop="includeSlipChart" [sortable]="false"
          [resizeable]="false" [flexGrow]="0.50">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <a>
              <p *ngIf="!value">&nbsp;</p>
              <mat-icon svgIcon="heroicons_outline:check-circle" *ngIf="value == true"></mat-icon>
            </a>
            <form [formGroup]="baselineLogForm.controls[rowIndex]"
              class="p-2 overflow-hidden">
              <div class="flex items-center justify-between p-2 overflow-hidden">
                <mat-slide-toggle name="includeSlipChart" [showLabel]="false" formControlName="includeSlipChart">
                </mat-slide-toggle>
              </div>
            </form>
          </ng-template>
        </ngx-datatable-column>






        <ngx-datatable-column name="Baseline" prop="baselineCount" [flexGrow]="0.5">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p>{{value}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Baseline Date" prop="modifiedDate" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p>{{value | date:'dd-MMM-yyyy'}}</p>
            </ng-template>
        </ngx-datatable-column>

       

        <ngx-datatable-column name="Baseline Set By" prop="teamMemberAdId" [flexGrow]="2">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p>{{value}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Justification" prop="baselineComment" [flexGrow]="4">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p>{{value}}</p>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>
</div>
</form>
<div class="mt-6 flex justify-between items-center w-full">

  <button style="margin-left: 45rem; padding:0px 60px!important" class="w-auto" mat-flat-button [color]="'primary'"
  (click)="submitslipchart()">
    Save changes applied to "Include in Slip Chart"
  </button>

</div>
</div>
