<div class="wrapper">
    <!-- section starts -->
    <section>
        <div class="">
            <!-- Block start -->

            <div class="col-md-12 form-blocks customDlgcont" id="simpleProject">
                <div class="row">
                    <div class="col-xs-12 info">
                        <label>
                            Search and Select a Project to be copied
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="row noPadding">
                                <div id="programGrid">
                                    <div class="control-icon">
                                        <select id="ddl_Copy_Prog" style="width: 100%"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-xs-12 info">
                        The below data will be copied to your new project when you hit Copy Project. You can update/edit this data after project creation.
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-12 info margT23">
                        <div class="row wrap" style="vertical-align:middle" ng-repeat="CopyProjectelement in vm.CopyProjectTempleList">
                            <!--<input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                            <label class="k-checkbox-label" for=CopyProjectelement.LookupUID>CopyProjectelement.LookUpName</label>-->
                            <!--<label><input type="checkbox" ng-model="CopyProjectelement.IsChecked" ng-true-value="'CopyProjectelement.IsChecked'"> {{CopyProjectelement.LookUpMemberName}}</label>-->
                            <label><input type="checkbox" ng-disabled="CopyProjectelement.disable" ng-model="CopyProjectelement.checked"> {{CopyProjectelement.LookUpMemberName}}</label>

                        </div>
                        <!--<ul class="fieldlist">
                            <li>
                                <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                                <label class="k-checkbox-label" for="eq1">Project Title/Name</label>
                            </li>
                            <li>
                                <input type="checkbox" id="eq2" class="k-checkbox" checked="checked" disabled="disabled">
                                <label class="k-checkbox-label" for="eq2">Project Type'(Standard Project)'</label>
                            </li>
                            <li>
                                <input type="checkbox" id="eq3" class="k-checkbox">
                                <label class="k-checkbox-label" for="eq3">Problem Description & Detailed Description</label>
                            </li>
                            <li>
                                <input type="checkbox" id="eq4" class="k-checkbox">
                                <label class="k-checkbox-label" for="eq4">Proposed Statement & Target End State</label>
                            </li>
                            <li>
                                <input type="checkbox" id="eq5" class="k-checkbox">
                                <label class="k-checkbox-label" for="eq5">Key Success Criteria</label>
                            </li>
                            <li>
                                <input type="checkbox" id="eq6" class="k-checkbox">
                                <label class="k-checkbox-label" for="eq6">In/Out of Scope</label>
                            </li>
                            <li>
                                <input type="checkbox" id="eq7" class="k-checkbox" disabled="disabled">
                                <label class="k-checkbox-label" for="eq7">Milestones (Name only, you populate dates after creation)</label>
                            </li>
                            <li>
                                <input type="checkbox" id="eq7" class="k-checkbox" disabled="disabled">
                                <label class="k-checkbox-label" for="eq7">Project Team (People and Functions)</label>
                            </li>
                            <li>
                                <input type="checkbox" id="eq7" class="k-checkbox" disabled="disabled">
                                <label class="k-checkbox-label" for="eq7">Categorical data(OE Type, Tech Transfer Type, Quality Reference, CAPS Project)</label>
                            </li>
                            <li>
                                <input type="checkbox" id="eq7" class="k-checkbox" disabled="disabled">
                                <label class="k-checkbox-label" for="eq7">Strategic Driver Details (Primary KPI, Annual Must Win, AGILE, POBOS, Site Assessment,Good Practice)</label>
                            </li>
                        </ul>-->
                    </div>
                </div>

                <div class="row">
                    <div class="">
                        <div class="form-group">
                            <div class="col-md-12 inputGroupContainer">
                                <div class="col-md-6 bottom-butons-block no-padding">
                                </div>
                                <div class="col-md-6 bottom-butons-block no-padding">

                                    <button id="btnSubmit" tabindex="14" ng-click="vm.CopyProject()" class="k-button btnR">Copy Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

</div>
