<div class="container-fluid">
    <!--open container-->
    <div class="row row-offcanvas row-offcanvas-left">
        <div id="main-section" class="col-xs-12 column">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 tab-panel-box">
                    <span class="panel-box-title"><h4>Edit Overall Status</h4></span>


                    <div class="row column">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 padrl5">
                            <div class="form-horizontal">
                                <div class="box-body">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Status Through<span class="date-format"> (mm/dd/yyyy)</span></label>
                                        <div class="col-sm-6">
                                            <input id="statusDate" ng-model="vm.overAllData.StatusThrough" kendo-date-picker tabindex="1"
                                                   style="width: 100%;" placeholder="{{vm.dateFormatlabel}}" />
                                            <span id="validationStatusDate" style="color:red" ng-show="vm.statusDateError">{{vm.dateErrorMsg}}</span>
                                        </div>
                                    </div>
                                    <!-- -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Status Indicator</label>
                                        <div class="col-sm-6">
                                            <select tabindex="2"
                                                    kendo-combo-box id="overallstatus"
                                                    k-placeholder="'Select and/or Type to Search'"
                                                    k-ng-model="vm.overAllData.OverallStatusID"
                                                    k-data-text-field="'LookUpMemberName'"
                                                    k-data-value-field="'LookUpMemberID'"
                                                    k-data-source="vm.overAllStatus"
                                                    style="width: 100%"></select>

                                        </div>
                                    </div>
                                    <!-- -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            Overall Status<br /><span style="font-weight:normal !important;">Brief Explanation of any Yellow or Red SPOT Lights</span>
                                            <span class="ssk-tooltip" kendo-tooltip k-content="'Provide an explanation/justification for any red stop light status indicator.'">
                                                <span class="k-icon k-i-question"></span>
                                            </span>
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea tabindex="3" ng-model="vm.overAllData.OverallStatusDescription" kendotextbox class="k-textbox form-control" style="width: 100%;" placeholder="Provide an explanation/justification for any red stop light status indicator." />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            Recent Accomplishments
                                            <span class="ssk-tooltip" kendo-tooltip k-content="'Provide a summary/list of major accomplishments since last reporting cycle'">
                                                <span class="k-icon k-i-question"></span>
                                            </span>
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea tabindex="3" ng-model="vm.overAllData.RecentAccomplishments" kendotextbox class="k-textbox form-control" style="width: 100%;" placeholder="Provide a summary/list of major accomplishments since last reporting cycle" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            Next Priorities
                                            <span class="ssk-tooltip" kendo-tooltip k-content="'Provide a summary for what items/actions the project team will be focusing on in the immediate short term'">
                                                <span class="k-icon k-i-question"></span>
                                            </span>
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea tabindex="3" ng-model="vm.overAllData.NextSteps" kendotextbox class="k-textbox form-control" style="width: 100%;" placeholder="Provide a summary for what items/actions the project team will be focusing on in the immediate short term" />
                                        </div>

                                    </div>
                                    <!-- -->
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padrl5">
                            <div class="form-horizontal">
                                <div class="box-body">
                                    <!-- -->
                                    <div class="form-group">
                                        <label class="col-sm-5 col-xs-12 control-label">Last Updated:</label>
                                        <div class="col-sm-7 col-xs-12">
                                            <span class="fixed-date">{{vm.overAllData.StatusLastUpdated}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                    </div>
                    <div class="row margLR5">
                        <label class="">Performance</label>
                        <span style="margin-right: 16px;" class="AddNewRowicon" ng-click="vm.AddNewRowPerfor()">
                            <span class="k-icon k-i-plus"></span>Add New
                        </span>
                        <!--<a ng-click="vm.SetDefaultOverallStatus()" class="k-icon k-i-plus AddNewRowicon" style="margin-right: 16px;"></a>-->
                    </div>
                    <div class="row margLR5">
                        <div id="OverallStatusPerformanceBulkEdit"></div>
                    </div>
                    

                    <div class="row">
                        <div class="col-md-12 bottom-butons-block">

                            <a tabindex="4" class="k-button btnL" ng-click="dialogOverallStatus.close()">Cancel</a>
                            <span style="padding-left:20% !important;">
                                Clicking save overwrites the previous update, the 'Status
                                Through' Date and the 'Last Updated' date
                            </span>
                            <a tabindex="5" ng-click="vm.CreateOverAllData('dialogOverallStatus')" class="k-button btnR">Save</a>
                        </div>
                    </div>

                    <!--Tab Panel-->
                </div>


            </div>

        </div>
        <!--close main column-->
    </div>
    <!--close row-->
</div>
<!--close container-->