<div class="container-fluid">
    <!--open container-->
    <div class="row row-offcanvas row-offcanvas-left">
        <div id="main-section" class="col-xs-12 column">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 tab-panel-box">
                    <span class="panel-box-title"><h4>Edit Phase/State</h4></span>

                     
                    <div class="col-xs-12 padrl5">
                         <div class="row">
                            <!-- -->
                             <div class="col-xs-7 padL0">
                                 <div class="row">
                                     <div class="col-xs-4 padL0">
                                         <div class="form-group">
                                             <label class="control-label padL0">Phase</label>
                                             <div class="padR0">
                                                 <select tabindex="1"
                                                         kendo-combo-box id="pjPhase"
                                                         k-placeholder="'Select and/or Type to Search'"
                                                         k-ng-model="vm.SelectedprojectPhase"
                                                         k-data-text-field="'LookUpMemberName'"
                                                         k-data-value-field="'LookUpMemberID'"
                                                         k-data-source="vm.projectPhase"
                                                         k-on-change="vm.getCapitalPhase()"
                                                         style="width: 100%"></select>
                                                 
                                             </div>
                                         </div>
                                     </div>
                                     <div class="col-xs-4 padR0">
                                         <!-- -->
                                         <div class="">
                                             <div class="row fieldsRow">
                                                 <div class="form-group">
                                                     <label class="control-label padL0">Capital Phase</label>
                                                     <div class="padR0">
                                                         <select tabindex="2"
                                                                 kendo-combo-box id="pjcapitalPhase"
                                                                 k-placeholder="'Select and/or Type to Search'"
                                                                 k-ng-model="vm.SelectedprojectCapitalPhase"
                                                                 k-data-text-field="'CapitalPhaseName'"
                                                                 k-data-value-field="'CapitalPhaseID'"
                                                                 k-data-source="vm.capitalPhase"
                                                                 style="width: 100%"></select>
                                                     </div>
                                                 </div>
                                             </div>
                                             
                                         </div>
                                         <!-- -->
                                     </div>
                                     <div class="col-xs-4 padR0">
                                         <!-- -->
                                         <div class="">
                                             <div class="row fieldsRow">
                                                 <div class="form-group">
                                                     <label class="control-label padL0">OE Phase</label>
                                                     <div class="padR0">
                                                         <select tabindex="2"
                                                                 kendo-combo-box id="pjOEPhase"
                                                                 k-placeholder="'Select and/or Type to Search'"
                                                                 k-ng-model="vm.SelectedprojectOEPhase"
                                                                 k-data-text-field="'CapitalPhaseName'"
                                                                 k-data-value-field="'CapitalPhaseID'"
                                                                 k-data-source="vm.OEPhase"
                                                                 style="width: 100%"></select>
                                                     </div>
                                                 </div>
                                             </div>

                                         </div>
                                         <!-- -->
                                     </div>
                                     
                                 </div>
                                 <!-- grid-->
                                 <div class="row">
                                     <label class="tableHeading">Phase Change Log</label>
                                     <div id="gridPhaseChangeLog"></div>
                                 </div>
                                 <!-- grid-->
                            </div>
                             <!-- -->
                             
                             <!-- -->
                             <div class="col-xs-5 padR0">
                                 <div class="row fieldsRow">
                                     <div class="form-group">
                                         <label class="control-label padL0">Project State</label>
                                             <span class="ssk-tooltip" kendo-tooltip k-content="'Status of the project (Active-Hold-Cancelled-Completed)'">
                                                 <span class="k-icon k-i-question"></span>
                                             </span>
                                         <div class="padR0">
                                             <select tabindex="3"
                                                     kendo-combo-box id="pjState"
                                                     k-placeholder="'Select and/or Type to Search'"
                                                     k-ng-model="vm.SelectedprojectState"
                                                     k-data-text-field="'LookUpMemberName'"
                                                     k-data-value-field="'LookUpMemberID'"
                                                     k-data-source="vm.projectState"
                                                     style="width: 100%"></select>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- grid-->
                                 <div class="row">
                                     <label class="tableHeading">State Change Log</label>
                                     <div id="gridStatusChangeLog"></div>
                                 </div>
                                 <!-- grid-->
                             </div>
                             <!-- -->

                         </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 bottom-butons-block">
                            <a tabindex="4" ng-click="vm.ProjectPhaseStateClose('dialogPhaseHub')" class="k-button btnL">Cancel</a>
                            <a tabindex="5"ng-click="vm.CreateProjectPhaseStateData('dialogPhaseHub')" class="k-button btnR">Save</a>
                        </div>
                    </div>


                    <!--Tab Panel-->
                </div>


            </div>

        </div>
        <!--close main column-->
    </div>
    <!--close row-->
</div>
<!--close container-->
