<div class="container-fluid ProjectProgramTiles" ng-controller="ProgramHubCtrl as vm" ng-init='vm.initProgramHub()'>
    <div class="col-md-6 col-sm-6 col-xs-6 tab-panel-box margT20B0" id="overall-status" ng-show="vm.showOverall">
        <div>
            <span class="panel-box-title"><h4>Overall Status/Accomplishments/Priorities/Performance</h4></span>
            <div class="row column">
                <div class="col-md-6 col-sm-6 col-xs-6 padL0">
                    <div class="left-info">
                        <span class="statusbox {{vm.OverallStatusColor}}"></span>
                        <span>Status Through {{  vm.OverAllDataMain.StatusThrough | date : "dd-MMM-yy" }}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 padL0 padR0">
                    <div class="right-info">
                        <span>Last Updated: {{ vm.OverAllDataMain.StatusLastUpdated}}</span>
                        <span class="k-icon k-i-edit" ng-click="vm.openOverallStatusDialog()" ng-show="vm.Edit"></span>
                    </div>

                </div>
            </div>
            <div class="row column">
                <div id="tabstrip" kendo-tab-strip k-content-urls="[ null, null]">
                    <ul>
                        <li class="k-state-active">Current Status</li>
                        <li>Recent Accomplishments</li>
                        <li>Next Priorities</li>
                        <li>Performance</li>
                    </ul>
                    <div class="textwrap">
                        {{vm.OverAllDataMain.OverallStatusDescription}}
                    </div>
                    <div class="textwrap">
                        {{vm.OverAllDataMain.RecentAccomplishments}}
                    </div>
                    <div class="textwrap">
                        {{vm.OverAllDataMain.NextSteps}}
                    </div>
                    <div class="textwrap" id="overAllStatusPerformanceProgramHub">                        
                    </div>
                </div>
            </div>
            <!--<div class="row tab-panel-column">
        <div class="tab-panel-column-content">
            <p class="textwrap">
                {{vm.OverAllDataMain.OverallStatusDescription}}
            </p>
        </div>
    </div>-->
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 tab-panel-box margT20B0" ng-show="vm.showRiskIssue">
        <div>
            <span class="panel-box-title"><h4>Risks/Issues</h4></span>
            <div class="row column">
                <!-- <div class="col-md-2 col-sm-2 col-xs-2"> -->
                <!-- <div class="left-info">&nbsp;</div> -->
                <!-- </div> -->
                <div class="col-md-12 col-sm-12 col-xs-12 padL0 padR0">
                    <div class="right-info">
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="dialogPrgRiskIssueBulkEdit.open()"><span class="k-icon k-i-edit"></span>&nbsp;Bulk edit</span>
                        <span><input type="checkbox" ng-change="vm.IncludeClosedRiskIssue()" ng-model="vm.riskIssueClosed" />&nbsp;Include closed items</span>
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="vm.openRiskIssueDialog()"><span class="k-icon k-i-plus"></span>Add New Risk or Issue</span>
                    </div>
                </div>
            </div>
            <div class="row tab-panel-column">
                <div id="gridRiskIssuePrgHub"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 tab-panel-box margT20B0" ng-show="vm.showMilestone">
        <div>
            <span class="panel-box-title"><h4>Schedule</h4></span>
            <div class="row column">
                <div class="col-md-2 col-sm-2 col-xs2 padL0">
                    <div class="left-info">Baseline:{{vm.ProjectBaselineCount}}</div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10 padL0 padR0">
                    <div class="right-info">
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="dialogPrgScheduleBulkEdit.open()"><span class="k-icon k-i-edit"></span>&nbsp;Bulk edit</span>
                        <span><input type="checkbox" ng-change="vm.IncludeClosedMilestone()" ng-model="vm.scheduleClosed" />&nbsp;Include completed milestones</span>
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="vm.openScheduleDialog()"><span class="k-icon k-i-plus"></span>Add New Milestone</span>
                    </div>
                </div>
            </div>
            <div class="row tab-panel-column">
                <div id="gridSchedulePrgHub"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 tab-panel-box margT20B0" ng-show="vm.showAskNeed">
        <div>
            <span class="panel-box-title"><h4>Asks &amp; Needs</h4></span>
            <div class="row column">
                <div class="col-md-12 col-sm-12 col-xs-12 padL0 padR0">
                    <div class="right-info">
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="dialogPrgAskNeedBulkEdit.open()"><span class="k-icon k-i-edit"></span>&nbsp;Bulk edit</span>
                        <span><input type="checkbox" ng-change="vm.IncludeClosedAskNeed()" ng-model="vm.askNeedClosed" />&nbsp;Include closed items</span>
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="vm.openAskNeedDialog()"><span class="k-icon k-i-plus"></span>Add New Ask/Need</span>
                    </div>
                </div>
            </div>
            <div class="row tab-panel-column"><div id="gridAskNeedPrgHub"></div></div>
        </div>
    </div>


    <div id="dialogRiskIssueBulkEditPrgHub" kendo-window="dialogRiskIssueBulkEditPrgHub" k-on-close="vm.RiskIssueBulkClose()" k-title="'Link Risk / Issue'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Link Risks & Issues</h4></span>
            <div class="row">
                <div class="col-md-12 bottom-butons-block">
                    <span> <input type="checkbox" ng-change="vm.CheckLinkIncludeClosedRiskIssue('gridPrgHubLinkRiskIssueBulkEdit')" ng-model="vm.riskIssueClosed" />&nbsp;Include closed items</span>
                    <a style="" ng-click="dialogRiskIssueBulkEditPrgHub.close()" class="k-button btnR  btnWhite baselineProject">Cancel</a>
                    <a style="" ng-click="vm.BulkUpdatePrgRiskIssue()" class="k-button btnR margR5 btnWhite baselineProject">Save Changes</a>
                    
                </div>
            </div>

            <div id="gridPrgHubLinkRiskIssueBulkEdit"></div>
        </div>
    </div>
    <div id="dialogAskNeedBulkEditPrgHub" kendo-window="dialogAskNeedBulkEditPrgHub" k-title="'Link Ask and Need'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Link Asks & Needs</h4></span>
            <div class="row">
                <!--<div class="col-md-12 butons-block">
                    <span class="incCloItemsChkBx btnR"><input type="checkbox" ng-change="vm.IncludeClosedAskNeed()" ng-model="vm.askNeedClosed" />&nbsp;Include closed items</span>
                    <div class="col-md-6 padR0" ng-click="vm.BulkUpdatePrgAskNeed()">
                        <a style="" class="k-button btnR btnWhite baselineProject">Save Changes</a>
                    </div>
                 </div>-->
                <div class="col-md-12 bottom-butons-block">
                    <span> <input type="checkbox" ng-change="vm.CheckLinkIncludeClosedAskNeed('gridPrgHubLinkAskNeedBulkEdit')" ng-model="vm.askNeedClosed" />&nbsp;Include closed items</span>
                    <a style="" ng-click="dialogAskNeedBulkEditPrgHub.close()" class="k-button btnR  btnWhite baselineProject">Cancel</a>
                    <a style=""  ng-click="vm.BulkUpdatePrgAskNeed()" class="k-button btnR margR5 btnWhite baselineProject">Save Changes</a>

                </div>
            </div>
            <div id="gridPrgHubLinkAskNeedBulkEdit"></div>
        </div>
    </div>
    <div id="dialogScheduleBulkEditPrgHub" kendo-window="dialogScheduleBulkEditPrgHub" k-title="'Link Milestones'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Link Milestones</h4></span>
            <div class="row">
                <!--<div class="col-md-12 butons-block">
                    <div class="col-md-3 baselineProjectLabel" style="">Baseline : {{vm.ProjectBaselineCount}}</div>
                    <div class="col-md-3 baselineProjectLabel" style="">Last Baseline : {{ vm.ProjectBaselineDate}}</div>
                </div>-->
                <div class="col-md-12 bottom-butons-block">
                    <span> <input type="checkbox" ng-change="vm.CheckLinkIncludeClosedMilestone('gridPrgHubLinkScheduleBulkEdit')" ng-model="vm.scheduleClosed" />&nbsp;Include completed milestones</span>
                    <a style="" ng-click="dialogScheduleBulkEditPrgHub.close()" class="k-button btnR  btnWhite baselineProject">Cancel</a>
                    <a style="" ng-click="vm.BulkUpdatePrgSchedule()" class="k-button btnR margR5 btnWhite baselineProject">Save Changes</a>
                    <!--<a style="" ng-click="vm.SetBaseline()" class="k-button btnR btnWhite margR5 baselineProject">Baseline Project</a>-->

                </div>
            </div>
            <div id="gridPrgHubLinkScheduleBulkEdit"></div>
        </div>
    </div>
    <div id="dialogPrgRiskIssueBulkEdit" kendo-window="dialogPrgRiskIssueBulkEdit" k-on-close="vm.RiskIssueBulkClose()" k-title="'Bulk Edit Risk / Issue'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Bulk Edit Risks & Issues</h4></span>
            <div class="row dialogPanel-right-info">
                <div class="butons-block">
                    <span class="btnR LHeight32 incCloItemsChkBx"><input type="checkbox" ng-change="vm.CheckIncludeClosedRiskIssue('gridPrgRiskIssueBulkEdit')" ng-model="vm.riskIssueClosed" />&nbsp;Include closed items</span>
                    <div class="btnR margR15" ng-click="vm.CheckBulkEditGridUpdate('gridPrgRiskIssueBulkEdit', 'dialogRiskIssueBulkEditPrgHub')">
                        <a class="k-button btnR btnWhite baselineProject">Link Risks & Issues</a>
                    </div>
                </div>
            </div>
            <div id="gridPrgRiskIssueBulkEdit"></div>
        </div>
    </div>
    <div id="dialogPrgAskNeedBulkEdit" kendo-window="dialogPrgAskNeedBulkEdit" k-title="'Bulk Edit Ask and Need'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Bulk Edit Asks & Needs</h4></span>
            <div class="row dialogPanel-right-info">
                <div class="butons-block">
                    <span class="btnR LHeight32 incCloItemsChkBx"><input type="checkbox" ng-change="vm.CheckIncludeClosedAskNeed('gridPrgAskNeedBulkEdit')" ng-model="vm.askNeedClosed" />&nbsp;Include closed items</span>
                    <div class="btnR margR15" ng-click="vm.CheckBulkEditGridUpdate('gridPrgAskNeedBulkEdit', 'dialogAskNeedBulkEditPrgHub')">
                        <a class="k-button btnR btnWhite baselineProject">Link Asks & Needs</a>
                    </div>
                 </div>
            </div>
            <div id="gridPrgAskNeedBulkEdit"></div>
        </div>
    </div>
    <div id="dialogPrgScheduleBulkEdit" kendo-window="dialogPrgScheduleBulkEdit" k-title="'Bulk Edit Milestones'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Bulk Edit Milestones</h4></span>
            <div class="row">
                <div class="col-md-12 butons-block">
                    <div class="col-md-4 baselineProjectLabel" style="">Baseline : {{vm.ProjectBaselineCount}}</div>
                    <div class="col-md-4 baselineProjectLabel" style="">Last Baseline : {{ vm.ProjectBaselineDate}}</div>
                    <div class="col-md-4 incCloItemsChkBx2"><input type="checkbox" ng-change="vm.CheckIncludeClosedMilestone('gridPrgScheduleBulkEdit')" ng-model="vm.scheduleClosed" />&nbsp;Include completed milestones</div>
                    <!--<span style="position:absolute;z-index:99;right:100px;top:30px;" class="btnR"><input type="checkbox" ng-change="vm.IncludeClosedAskNeed()" ng-model="vm.askNeedClosed" />&nbsp;Include closed items</span>-->
                    <div class="padR0" ng-show="vm.ShowBaseline" ng-click="vm.SetBaseline()" style="position: absolute;bottom: -45px;right: 0;z-index: 99;">

                        <a style="" class="k-button btnR btnWhite baselineProject">Baseline Project</a>
                    </div>
                    <div class="padR0"  ng-click="vm.CheckBulkEditGridUpdate('gridPrgScheduleBulkEdit', 'dialogScheduleBulkEditPrgHub')" style="position: absolute;bottom: -45px;right: 130px;z-index: 99;">
                        <a style="" class="k-button btnR btnWhite baselineProject">Link Milestones</a>
                    </div>
                   
                    <div class="padR0" ng-click="dialogPrgScheduleBaselineLog.open()" style="position: absolute;bottom: -45px;right: 255.5px;z-index: 99;">
                        <a style="" class="k-button btnR btnWhite baselineProject">Baseline Log</a>
                    </div>
                    <div class="padR0" ng-click="vm.CheckBulkEditGridUpdate('gridPrgScheduleBulkEdit', 'dialogAddMilestonePrgHub')" style="position: absolute;bottom: -45px;right: 366.5px;z-index: 99;">
                        <a style="" class="k-button btnR btnWhite baselineProject">Standard Milestone Sets</a>
                    </div>
                </div>
            </div>
            <div id="gridPrgScheduleBulkEdit"></div>
        </div>
    </div>
    <div id="dialogPrgScheduleBaselineLog" kendo-window="dialogPrgScheduleBaselineLog" k-title="'Baseline Logs'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Baseline Log</h4></span>
            <div id="gridPrgBaselineLogs"></div>
            </div>
        </div>
    <div id="dialogPrgScheduleBaselineCount" kendo-window="dialogPrgScheduleBaselineCount" k-title="'Baseline Count Justification'" k-modal="true" k-visible="false">
        <directive-baseline-count></directive-baseline-count>
    </div>
    <div id="dialogAddMilestonePrgHub" kendo-window="dialogAddMilestonePrgHub" k-title="'Standard Milestone Sets'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Standard Milestone Sets</h4></span>
            <div class="row">
                
                <div class="col-md-12 bottom-butons-block">
                    <a style="" ng-click="dialogAddMilestonePrgHub.close()" class="k-button btnR  btnWhite baselineProject">Cancel</a>
                    <a style="" ng-click="vm.AddMilestonePrgSchedule()" class="k-button btnR margR5 btnWhite baselineProject">Add Milestones to the Project</a>
                </div>
            </div>
            <div id="gridPrgHubAddMilestones"></div>
        </div>
    </div>
