<div class="col-xs-12">
    <div>
        <div class="row wrap" style="vertical-align:middle" ng-repeat="ProjectType in vm.ProjectTypeSelectorListItems">
            <div class="col-xs-2" style="text-align:center;cursor:pointer;padding:0;">
                <div ng-click="vm.openModel(ProjectType.ProjectTypeUniqueID)">
                    <img src="{{ProjectType.ImageName}}" style="width:60px;height:60px;margin-bottom:5px;" />
                </div>
                <div class="bigFont">
                    {{ProjectType.ProjectTypeTitle}}
                </div>
            </div>
            <div class="col-xs-10 inner">
                <span class="bigFont">
                    {{ProjectType.ProjectTypeDescription}}
                </span>
            </div>
            <div id="{{ProjectType.ProjectTypeUniqueID}}" kendo-window="DialogProblemCapture" k-title="'{{ProjectType.PageTitle}}'"
                 k-modal="true" k-visible="false"
                 k-content="{ url: '{{ProjectType.PageName}}' }"
                 k-on-open="vm.SetDefaultValues(ProjectType.ProjectTypeTitle)"></div>
        </div>
    </div>
  
</div>


