<div class="container-fluid ProjectProgramTiles" ng-controller="ProjectHubCtrl as vm" ng-init='vm.initProjectHub()'>
    <div class="col-md-6 col-sm-6 col-xs-6 tab-panel-box margT20B0" id="overall-status" ng-show="vm.showOverall">
        <div>
            <span class="panel-box-title"><h4>Overall Status/Accomplishments/Priorities/Performance</h4></span>
            <div class="row column">
                <div class="col-md-6 col-sm-6 col-xs-6 padL0">
                    <div class="left-info">
                        <span class="statusbox {{vm.OverallStatusColor}}"></span>
                        <span>Status Through {{  vm.OverAllDataMain.StatusThrough | date : "dd-MMM-yy" }}</span>
                    </div>

                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 padL0 padR0">
                    <div class="right-info">
                        <span>Last Updated: {{ vm.OverAllDataMain.StatusLastUpdated}}</span>
                        <span class="k-icon k-i-edit" ng-click="vm.openOverallStatusDialog()" ng-show="vm.Edit"></span>
                    </div>

                </div>
            </div>
            <div class="row column">
                <div id="tabstrip" kendo-tab-strip k-content-urls="[ null, null]">
                    <ul>
                        <li class="k-state-active">Current Status</li>
                        <li>Recent Accomplishments</li>
                        <li>Next Priorities</li>
                        <li>Performance</li>
                    </ul>
                    <div class="textwrap">
                        {{vm.OverAllDataMain.OverallStatusDescription}}
                    </div>
                    <div class="textwrap">
                        {{vm.OverAllDataMain.RecentAccomplishments}}
                    </div>
                    <div class="textwrap">
                        {{vm.OverAllDataMain.NextSteps}}
                    </div>
                    <div class="textwrap" id="overAllStatusPerformance">                   
                    </div>
                </div>
             </div>

                </div>
        </div>
    <div class="col-md-6 col-sm-6 col-xs-6 tab-panel-box margT20B0" ng-show="vm.showRiskIssue">
        <div>
            <span class="panel-box-title"><h4>Risks/Issues</h4></span>
            <div class="row column">
                <!-- <div class="col-md-2 col-sm-2 col-xs-2"> -->
                <!-- <div class="left-info">&nbsp;</div> -->
                <!-- </div> -->
                <div class="col-md-12 col-sm-12 col-xs-12 padL0 padR0">
                    <div class="right-info">
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="dialogRiskIssueBulkEdit.open()"><span class="k-icon k-i-edit"></span>&nbsp;Bulk edit</span>
                        <span><input type="checkbox" ng-change="vm.IncludeClosedRiskIssue()" ng-model="vm.riskIssueClosed" />&nbsp;Include closed items</span>
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="vm.openRiskIssueDialog()"><span class="k-icon k-i-plus"></span>Add New Risk or Issue</span>
                    </div>
                </div>
            </div>
            <div class="row tab-panel-column">
                <div id="gridRiskIssue"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 tab-panel-box margT20B0" ng-show="vm.showMilestone">
        <div>
            <span class="panel-box-title"><h4>Schedule</h4></span>
            <div class="row column">
                <div class="col-md-2 col-sm-2 col-xs2 padL0">
                    <div class="left-info">Baseline:{{vm.ProjectBaselineCount}}</div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10 padL0 padR0">
                    <div class="right-info">
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="dialogScheduleBulkEdit.open()"><span class="k-icon k-i-edit"></span>&nbsp;Bulk edit</span>
                        <span><input type="checkbox" ng-change="vm.IncludeClosedMilestone()" ng-model="vm.scheduleClosed" />&nbsp;Include completed milestones</span>
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="vm.openScheduleDialog()"><span class="k-icon k-i-plus"></span>Add New Milestone</span>
                    </div>
                </div>
            </div>
            <div class="row tab-panel-column">
                <div id="gridSchedule"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 tab-panel-box margT20B0" ng-show="vm.showAskNeed">
        <div>
            <span class="panel-box-title"><h4>Asks &amp; Needs</h4></span>
            <div class="row column">
                <!-- <div class="col-md-2 col-sm-2 col-xs-2"> -->
                <!-- <div class="left-info">&nbsp;</div> -->
                <!-- </div> -->
                <div class="col-md-12 col-sm-12 col-xs-12 padL0 padR0">
                    <div class="right-info">
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="dialogAskNeedBulkEdit.open()"><span class="k-icon k-i-edit"></span>&nbsp;Bulk edit</span>
                        <span><input type="checkbox" ng-change="vm.IncludeClosedAskNeed()" ng-model="vm.askNeedClosed" />&nbsp;Include closed items</span>
                        <span ng-show="vm.Edit" class="vmEdit" ng-click="vm.openAskNeedDialog()"><span class="k-icon k-i-plus"></span>Add New Ask/Need</span>
                    </div>
                </div>
            </div>
            <div class="row tab-panel-column"><div id="gridAskNeed"></div></div>
        </div>
    </div>
    <!--<div id="dialogRiskIssue" kendo-window="dialogRiskIssue" k-title="'Risk / Issue'" k-modal="true" k-visible="false">
        <directive-risk-issueform></directive-risk-issueform>
    </div>-->
    <div id="dialogRiskIssueBulkEdit" kendo-window="dialogRiskIssueBulkEdit" k-on-close="vm.RiskIssueBulkClose()" k-title="'Bulk Edit Risk / Issue'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Bulk Edit Risks & Issues</h4></span>
            <div class="row dialogPanel-right-info">
                <div class="butons-block">
                    <span class="btnR LHeight32"><input type="checkbox" ng-change="vm.CheckIncludeClosedRiskIssue('gridRiskIssueBulkEdit')" ng-model="vm.riskIssueClosed" />&nbsp;Include closed items</span>
                </div>
            </div>

            <div id="gridRiskIssueBulkEdit"></div>
        </div>
    </div>
    <div id="dialogAskNeedBulkEdit" kendo-window="dialogAskNeedBulkEdit" k-title="'Bulk Edit Ask and Need'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Bulk Edit Asks & Needs</h4></span>
            <div class="row">
                <div class="col-md-12 butons-block">
                    <span class="incCloItemsChkBx btnR"><input type="checkbox" ng-change="vm.CheckIncludeClosedAskNeed('gridAskNeedBulkEdit')" ng-model="vm.askNeedClosed" />&nbsp;Include closed items</span>
                </div>
            </div>
            <div id="gridAskNeedBulkEdit"></div>
        </div>
    </div>
    <div id="dialogScheduleBulkEdit" kendo-window="dialogScheduleBulkEdit" k-title="'Bulk Edit Milestones'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Bulk Edit Milestones</h4></span>
            <div class="row">
                <div class="col-md-12 butons-block">
                    <div class="col-md-4 baselineProjectLabel" style="">Baseline : {{vm.ProjectBaselineCount}}</div>
                    <div class="col-md-4 baselineProjectLabel" style="">Last Baseline : {{ vm.ProjectBaselineDate}}</div>
                    <div class="col-md-4 incCloItemsChkBx2"><input type="checkbox" ng-change="vm.CheckIncludeClosedMilestone('gridScheduleBulkEdit')" ng-model="vm.scheduleClosed" />&nbsp;Include completed milestones</div>
                    <!--<span style="position:absolute;z-index:99;right:100px;top:30px;" class="btnR"><input type="checkbox" ng-change="vm.IncludeClosedAskNeed()" ng-model="vm.askNeedClosed" />&nbsp;Include closed items</span>-->
                    <div class="padR0" ng-show="vm.ShowBaseline" ng-click="vm.SetBaseline()" style="position: absolute;bottom: -45px;right: 0;z-index: 99;">
                        <a style="" class="k-button btnR btnWhite">Baseline Project</a>
                    </div>
                    
                    <div class="padR0" ng-click="dialogScheduleBaselineLog.open()" style="position: absolute;bottom: -45px;right: 130px;z-index: 99;">
                        <a style="" class="k-button btnR btnWhite">Baseline Log</a>
                    </div>
                    <div class="padR0" ng-click="vm.CheckBulkEditGridUpdate('gridScheduleBulkEdit', 'dialogAddMilestoneHub')" style="position: absolute;bottom: -45px;right: 241px;z-index: 99;">
                        <a style="" class="k-button btnR btnWhite">Standard Milestone Sets</a>
                    </div>
                </div>
            </div>
            <div id="gridScheduleBulkEdit"></div>
        </div>
    </div>
    <div id="dialogScheduleBaselineLog" kendo-window="dialogScheduleBaselineLog" k-title="'Baseline Logs'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Baseline Log</h4></span>
            <div id="gridBaselineLogs"></div>
        </div>
    </div>
    <div id="dialogScheduleBaselineCount" kendo-window="dialogScheduleBaselineCount" k-title="'Baseline Count Justification'" k-modal="true" k-visible="false">
            <directive-baseline-count></directive-baseline-count>
    </div>
    <div id="dialogAddMilestoneHub" kendo-window="dialogAddMilestoneHub" k-title="'Standard Milestone Sets'" k-modal="true" k-visible="false">
        <div class="tab-panel-box dialog-panel">
            <span class="panel-box-title"><h4>Standard Milestone Sets</h4></span>
            <div class="row">

                <div class="col-md-12 bottom-butons-block">
                    <a style="" ng-click="dialogAddMilestoneHub.close()" class="k-button btnR  btnWhite baselineProject">Cancel</a>
                    <a style="" ng-click="vm.AddMilestoneSchedule()" class="k-button btnR margR5 btnWhite baselineProject">Add Milestones to the Project</a>
                </div>
            </div>
            <div id="gridHubAddMilestones"></div>
        </div>
    </div>
 </div>

