<div class="container-fluid">
    <!--open container-->
    <div class="row row-offcanvas row-offcanvas-left">
        <div id="main-section" class="col-xs-12 column">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 tab-panel-box">
                    <span class="panel-box-title"><h4>Rename Folder/File</h4></span>
                    <div class="row column">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group" id="folderName" ng-show="true">
                                <label class="control-label">Update the name of the selected item</label>
                                <div class="">
                                    <input type="text" class="form-control" id="renameFolder" placeholder="Enter new name" ng-model="vm.oldName"/>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="bottom-butons-block newFolderActions">
                                <a ng-click="dialogUpdateFolderFile.close()" class="k-button btnR">Cancel</a>
                                <a ng-click="vm.UpdateFileFolderName()" class="k-button btnR margR5">Save</a>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-md-12 bottom-butons-block">
                            <a class="k-button btnL">Cancel</a>
                            <a ng-click="vm.CreateFolder()" class="k-button btnR">Save</a>
                        </div>
                    </div>-->

                    <!--Tab Panel-->
                </div>


            </div>

        </div>
        <!--close main column-->
    </div>
    <!--close row-->
</div>
<!--close container-->