<div class="w-full min-w-0 p-8 pt-0 space-y-6"  *ngIf="viewContent" #container >
    <div class="flex justify-between items-start gap-6 w-full" >
    </div>
    <div class="flex justify-between items-start gap-6 w-full">
        <div class="flex flex-col w-full flex-auto bg-card p-6 shadow rounded-2xl overflow-hidden" #container>
            <app-operational-performance-table *ngIf="viewContent"  class="w-full" [kpi]="kpiMasters" [lookup]="lookupMasters"
                                               [projectViewDetails]="projectViewDetails" [projectid]="id"
                                               [editable]="projecthubservice.roleControllerControl.projectBenefits">
            </app-operational-performance-table>
        </div>
    </div>
    <div class="w-full ">
            <app-project-requirements></app-project-requirements>
    </div>
</div>
