<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Cost</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'',true)"
                href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <form class="w-full p-[20px]" [formGroup]="costForm" (ngSubmit)="submitcost()"  *ngIf="mode=='Project-Charter'">
        <div class="h-[84vh] overflow-hidden">
            <!--Enter Element here-->
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="pr-6 material font-medium text-sm text-default whitespace-nowrap" [rows]="costData"
                #qualityRefTable>
                <ngx-datatable-column name="Category" prop="category" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.6">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <p *ngIf="value == 'Total CAPEX' || value == 'Total non-FTE OPEX'">{{value}} ({{currency}}) </p>
                        <p *ngIf="value != 'Total CAPEX' && value != 'Total non-FTE OPEX'">{{value}}</p>
                    </ng-template> 
                </ngx-datatable-column>
                <ngx-datatable-column name="Base Case" prop="baseCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="1" *ngIf="mode=='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-singleselect-autocomplete formControlName="{{value}}" [showLabel]="false"
                            [valuePointer]="'lookUpName'" [dropDownArray]="getDropDownValue(row.category)"
                            [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'" *ngIf="row.category == '# Functions Required'">
                        </spot-singleselect-autocomplete>
                        <spot-input [showLabel]="false" formControlName="{{value}}" *ngIf="row.category.includes('Total')" [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                        <spot-input [showLabel]="false" formControlName="{{value}}" *ngIf="row.category.includes('Duration') || row.category.includes('People')" [autoAddDecimal]="true" [inputType]="'Number'" [decimalCount]="1">
                        </spot-input>
                        <!-- <spot-input [showLabel]="false" formControlName="{{value}}" *ngIf="row.category != '# Functions Required'">
                        </spot-input> -->
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="High Case" prop="highCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="1" *ngIf="mode=='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <!-- <spot-input [showLabel]="false" formControlName="{{value}}" *ngIf="row.category != '# Functions Required'">
                        </spot-input> -->
                        <spot-input [showLabel]="false" formControlName="{{value}}" *ngIf="row.category.includes('Total') && row.category != '# Functions Required'" [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                        <spot-input [showLabel]="false" formControlName="{{value}}" *ngIf="row.category.includes('Duration') || row.category.includes('People') && row.category != '# Functions Required'" [autoAddDecimal]="true" [inputType]="'Number'" [decimalCount]="1">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
        <!-- Submit Actions here-->
        <div class="flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'"
                (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit">
                Submit
            </button>
        </div>
    </form>



    <form class="w-full p-[20px]" [formGroup]="costForm" (ngSubmit)="submitcost()"  *ngIf="mode=='Business-Case'">
        <div class="h-[84vh] overflow-hidden">
            <!--Enter Element here-->
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="pr-6 material font-medium text-sm text-default whitespace-nowrap" [rows]="costDataBC"
                #qualityRefTable>
                <ngx-datatable-column name="Category" prop="category" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.6">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <p *ngIf="value == 'Total CAPEX' || value == 'Total non-FTE OPEX'">{{value}} ({{currency}}) </p>
                        <p *ngIf="value != 'Total CAPEX' && value != 'Total non-FTE OPEX'">{{value}}</p>
                    </ng-template> 
                </ngx-datatable-column>
                <ngx-datatable-column name="Base Case" prop="baseCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-singleselect-autocomplete formControlName="{{value}}" [showLabel]="false"
                            [valuePointer]="'lookUpName'" [dropDownArray]="getDropDownValue(row.category)"
                            [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'" *ngIf="row.category == '# Functions Required'">
                        </spot-singleselect-autocomplete>
                        <spot-input [showLabel]="false" formControlName="{{value}}" *ngIf="row.category.includes('Total')" [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                        <spot-input-date class="w-full read-only"
                             formControlName="{{value}}" [showLabel]="false" *ngIf="row.category.includes('Project Spend Start') || row.category.includes('Asset in Service')"></spot-input-date>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="High Case" prop="highCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input [showLabel]="false" formControlName="{{value}}" *ngIf="row.category.includes('Total') && row.category != '# Functions Required'" [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Current Year Planned Spend" prop="curryearSpend" [resizeable]="false" [sortable]="false"
                    [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input [showLabel]="false" formControlName="{{value}}" *ngIf="row.category.includes('Total CAPEX') && row.category != '# Functions Required'" [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column> 

            </ngx-datatable>
        </div>
        <!-- Submit Actions here-->
        <div class="flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'"
                (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>