<div *ngIf="viewContent">
    <div *ngIf="viewType == 'SidePanel'" class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Quality Reference Bulk Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <div>
        <form *ngIf = "callLocation == 'CreateNew'" class="pl-3 w-full overflow-hidden" [formGroup]="qualityForm">
            <spot-toggle class="w-full" formControlName="isQualityRef" [mode]="callLocation == 'ProjectHub'?'toggle':'dropDown'"
                [label]="'Quality Reference #'">
            </spot-toggle>
        </form>
        <div *ngIf="callLocation == 'ProjectHub' || qualityForm.controls['isQualityRef'].value" class="flex justify-end items-center mt-2 pr-3">
            <button class="min-w-26 text-primary bg-gray-200" type="button" mat-flat-button [color]="'primary-200'"
                (click)="addQR()">
                <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
            </button>
        </div>
        <div [ngClass]="{'custom': callLocation != 'ProjectHub'}" *ngIf="callLocation == 'ProjectHub' || qualityForm.controls['isQualityRef'].value" style="margin-left:10px;" [style]="viewType === 'SidePanel' ? 'height:calc(100vh - 150px)' : null"
             class="spot-table overflow-y-scroll overflow-x-hidden">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="material font-medium text-sm text-default whitespace-nowrap"
                [rows]="generalInfoData.qualityReferences" #qualityRefTable>
                <ngx-datatable-column name="Quality Reference Type" prop="qualityReferenceTypeId" [resizeable]="false"
                    [sortable]="false" [flexGrow]="0.75">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!qrTableEditStack.includes(rowIndex)" (click)="qrTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{getLookUpName(value)}}</p>
                        </a>
                        <form [formGroup]="qualityRefForm.controls[rowIndex]"
                            *ngIf="qrTableEditStack.includes(rowIndex)">
                            <spot-singleselect-autocomplete formControlName="qualityReferenceTypeId" [showLabel]="false"
                                [placeholder]="'Quality Reference Type'" [valuePointer]="'lookUpName'"
                                [dropDownArray]="getQRType()" [customSortPointer]="'lookUpOrder'" [sortByType]="'custom'">
                            </spot-singleselect-autocomplete>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quality Reference #" prop="qualityReference1" [resizeable]="false"
                    [sortable]="false" [flexGrow]="0.75">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!qrTableEditStack.includes(rowIndex)" (click)="qrTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="qualityRefForm.controls[rowIndex]"
                            *ngIf="qrTableEditStack.includes(rowIndex)">
                            <spot-input formControlName="qualityReference1" [showLabel]="false"
                                [label]="'Quality Reference #'" [placeholder]="'Quality Reference #'">
                            </spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [flexGrow]="0.3">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a href="javascript:void(0)" title="Delete Single" (click)="deleteQR(rowIndex)">
                            <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                        </a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <div *ngIf="viewType == 'SidePanel'" class="w-full px-3 pr-3 flex items-start justify-between">
        <a class="min-w-26" mat-flat-button [color]="'primary'" type="button"
            (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" (click)="submitQR()" type="button">
            Submit
        </button>
    </div>
</div>
