<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Key Assumption Add New</div>
    <div style="padding-top: 2px"><a (click)="projecthubservice.toggleDrawerOpen('', '',[],'')"
                                     href="javascript:void(0)" title="Close">
        <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
    </a>
    </div>
</div>
<form class="w-full form-ask-need" [formGroup]="keyAssumptionForm" (ngSubmit)="submitKeyAssumption()"
      style="overflow-y: scroll; height: 95vh;">

    <spot-textarea class="w-full read-only" formControlName="keyAssumptionName" name="keyAssumptionName" *ngIf="viewElementChecker('keyAssumption')"
                   [label]="'Key Assumption'">
    </spot-textarea>
    <spot-textarea class="w-full read-only" formControlName="assumptionRationale" name="assumptionRationale" *ngIf="viewElementChecker('whyIsThisAssumptionValid')"
                   [label]="'Why Is This Assumption Valid'">
    </spot-textarea>
    <div class="flex items-start justify-between incuded-in-dash" *ngIf="viewElementChecker('includeInCharter')">
        <mat-slide-toggle
            [matTooltip]="this.keyAssumptionForm.controls['includeInCharter'].disabled ? 'Only 5 can be selected at a time for the proposal' : null"
            formControlName="includeInCharter">Include in Charter</mat-slide-toggle>
    </div>
    <div class="flex items-start justify-between incuded-in-dash" *ngIf="viewElementChecker('includeInBusinessCase')">
        <mat-slide-toggle
            [matTooltip]="this.keyAssumptionForm.controls['includeInBusinessCase'].disabled ? 'Only 4 can be selected at a time for the proposal' : null"
            formControlName="includeInBusinessCase">Include in Business Case</mat-slide-toggle>
    </div>
    <div class="flex items-start justify-between mt-6">
        <a class="w-25" mat-flat-button [color]="'primary'"
           (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>
