<button  class="ml-4 floating-button-right-bottom" mat-flat-button [color]="'primary'" (click)="opennewtab()">
    Open in New Tab&nbsp;<mat-icon svgIcon="heroicons_outline:external-link"></mat-icon>
</button>
<iframe src="https://mytakeda.sharepoint.com/sites/PMT-SPOT/SitePages/home.aspx"
            frameborder="0" 
            marginheight="0" 
            marginwidth="0" 
            width="100%" 
            height="100%" 
            scrolling="auto"
            id= "spot-document-new-tab">
  </iframe>
