<form [formGroup]="form" class="form w-full" [ngClass]="{'custom-label-with-hint': showHint && hintPostion == 'tooltip'}">
    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto w-full" [floatLabel]="'always'">
        <mat-label  class="flex items-center" *ngIf="showLabel">{{label}}<mat-icon class="pe" *ngIf="showHint && hintPostion == 'tooltip'"  matTooltip="{{hint}}" >help</mat-icon></mat-label>
        <input  matInput formControlName="control"
        [placeholder]="placeholder"
        [matDatepicker]="picker3" [max]="getMax()"
        (dateChange)="addEvent($event.value)" [required]=true
        >
        <mat-datepicker-toggle *ngIf="!form.controls.control.disabled" matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        <mat-hint *ngIf="showHint && hintPostion == 'mat-hint'">{{hint}}</mat-hint>
    </mat-form-field>
</form>
