<div class="w-full min-w-0 p-8 pt-0" *ngIf="viewContent">
    <div class="space-y-6">
        <form [formGroup]="budgetForm"  class="space-y-6">
            <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
                <div class=" pb-4 pt-0 flex items-center justify-between">
                    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Budget</div>
                    <div class="flex items-start justify-between">
                        <div style="padding-right: 5px;" >
                                <button class="text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                                        (click)="projectHubService.toggleDrawerOpen('BudgetFxRates', '', budgetService.budgetPageInfo, budgetService.id, false, true)">
                                    <mat-icon svgIcon="heroicons_solid:currency-dollar"></mat-icon>&nbsp; FxRates
                                </button>
                            <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf="projectHubService.roleControllerControl.projectHub.projectBoard.riskIssuesEdit"
                                    (click)="projectHubService.toggleDrawerOpen('BudgetAssetPlacedServiceEdit', '', budgetService.budgetPageInfo , budgetService.id)">
                                <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                            </button>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-x-6 gap-y-0 w-full">
                    <spot-input class="w-full" formControlName="parentProgram" [label]="'Parent Program'">
                    </spot-input>
                    <spot-input class="w-full" formControlName="localCurrency" [label]="'Local Currency'" [showHint]="true" [hint]="'Currency Info'">
                    </spot-input>
                    <spot-input-date class="w-full read-only" formControlName="apisdate" [label]="'Asset Placed In Service (Estimate)'" >
                    </spot-input-date>
                </div>
            </div>
            <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
                <div class="pb-4 pt-0 flex items-center justify-between">
                    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Required for CAPEX Project</div>
                    <div class="flex items-start justify-between">
                        <div style="padding-right: 5px;" *ngIf ="projectHubService.roleControllerControl.projectHub.projectBoard.riskIssuesEdit">
                            <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                                    (click)="projectHubService.toggleDrawerOpen('BudgetRequiredForCapexEdit', '', filterCriteria , this.budgetService.id)">
                                <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                            </button>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-x-6 gap-y-0 w-full mb-4">
                    <div
                        class="flex justify-start w-full gap-3 items-center font-medium">
                        CAPEX Required
                        <mat-icon svgIcon="heroicons_outline:x-circle"
                                  *ngIf="!budgetForm.controls.capexRequired.value"></mat-icon>
                        <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                                  *ngIf="budgetForm.controls.capexRequired.value">
                        </mat-icon>
                    </div>
                    <div></div>
                    <div>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-x-6 gap-y-0 w-full">
                    <spot-input class="w-full read-only" formControlName="budgetId" [label]="'Budget ID'">
                    </spot-input>
                    <spot-input class="w-full read-only" formControlName="gmsBudgetowner" [label]="'GMS Budget Owner'">
                    </spot-input>
                    <spot-input class="w-full read-only" formControlName="predefinedInvestmentId" [label]="'Global/Regional Predefined Investment'">
                    </spot-input>
                    <spot-input class="w-full read-only" formControlName="where" [label]="'Where'">
                    </spot-input>
                    <spot-input class="w-full read-only" formControlName="why" [label]="'Why'">
                    </spot-input>
                    <spot-input-date class="w-full read-only" formControlName="fundingApprovalNeedDate" [label]="'Funding Approval Need Date'">
                    </spot-input-date>
                </div>
            </div>
            <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
                <div class="text-primary text-xl mb-4">Funding Information</div>
                <div class="grid grid-cols-3 gap-x-6 gap-y-0 w-full">
                    <spot-input class="w-full" formControlName="projectFundingStatus" [label]="'Project Funding Status'">
                    </spot-input>
                    <spot-input class="w-full" formControlName="totalApprovedCapex" [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"
                                [label]="'Total Approved CAPEX (' + budgetService.localCurrency.localCurrencyAbbreviation + ')'"
                                [hint]="'Enter the total amount or CAPEX approved at the time of Definitive Funding approval. If only Developmental Funding was approved, then enter the total CAPEX estimate endorsed at the time Developmental Funding was approved (adjust later to match total Definitive Funding approved)'">
                    </spot-input>
                    <spot-input class="w-full"  [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0" formControlName="totalApprovedOpex" [label]="'Total Approved OPEX (' + budgetService.localCurrency.localCurrencyAbbreviation + ')'">
                    </spot-input>
                </div>
                <app-budget-funding-information-table [editable]="projectHubService.roleControllerControl.projectHub.projectBoard.riskIssuesEdit" [budgetInfo]="budgetService.budgetPageInfo" [addButtonShow]="showAddNewButton"></app-budget-funding-information-table>
            </div>
            <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
            <div class=" pb-4 pt-0 flex items-center justify-between">
                <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Budget Commentary</div>
                <div class="flex items-start justify-between">
                    <div style="padding-right: 5px;">
                        <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf ="projectHubService.roleControllerControl.projectHub.projectBoard.riskIssuesEdit"
                                (click)="projectHubService.toggleDrawerOpen('BudgetCommentaryEdit', '', budgetService.budgetPageInfo ,'' )">
                            <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid  gap-x-6 gap-y-0 w-full">
                <spot-textarea class="w-full read-only" formControlName="budgetCommentary"  [showLabel]="false">
                </spot-textarea>
            </div>
        </div>
        </form>
        <form [formGroup]="budgetForecastForm" class="space-y-6">
            <div [formGroup]="budgetForecastForm" >
                <h1 *ngIf="capexField; then capexTrueBlock else capexFalseBlock"></h1>
                <ng-template #capexTrueBlock>
                    <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
                        <div class="grid grid-cols-2 gap-x-6 gap-y-0 w-full ">
                            <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">CAPEX</div>
                            <div  class="flex justify-end" >
                                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                                        (click)="lbePeriodCalendar()">
                                    <mat-icon svgIcon="heroicons_solid:information-circle"></mat-icon>&nbsp; LBE Period Calendar
                                </button>
                                <div *ngIf="enableForecastButton">
                                    <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                                            (click)="budgetService.forecastEditButtonClick('Capex')">
<!--                                            (click)="">-->
                                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Forecast Edit
                                    </button>
                                </div>
                                <!--                                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf="projectHubService.roleControllerControl.projectHub.projectBoard.riskIssuesEdit"-->
                                <!--                                        (click)="projectHubService.toggleDrawerOpen('BudgetDeviationCodeEdit', '', budgetPageInfo , id)">-->
                                <!--                                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit-->
                                <!--                                </button>-->
                            </div>
                        </div>
                        <div class="text-l font-medium tracking-tight leading-6 truncate text-secondary mt-2">{{budgetService.headerLabel}}</div>
                        <div class="grid grid-cols-5 gap-x-6 gap-y-0 w-full mt-2">
                            <div class="col-span-5">
                                <div class="grid grid-cols-4 gap-x-6 gap-y-0 w-full">
                                    <div>Reference</div>
                                    <div>Period</div>
                                    <div> Submitted</div>
                                    <div>Submitted By</div>
                                    <div></div>
                                </div>
                                <div class="grid grid-cols-4 gap-x-6 gap-y-0 w-full -mt-4">
                                    <spot-input class="w-full" formControlName="referenceCurrent"  showLabel="false" >
                                    </spot-input>
                                    <spot-input class="w-full" formControlName="periodCurrent" showLabel="false">
                                    </spot-input>
                                    <!-- <spot-input-date class="w-full" formControlName="lastSubmittedCurrent">
                                    </spot-input-date>                                     -->
                                    <spot-input showLabel="false"
           class="w-full" 
           formControlName="lastSubmittedCurrent"></spot-input>
                                    <spot-input class="w-full" formControlName="submittedByCurrent" showLabel="false">
                                    </spot-input>
                                </div>
                                <div *ngIf="preliminaryExists" class="grid grid-cols-4 gap-x-6 gap-y-0 w-full -mt-4">
                                    <spot-input class="w-full" formControlName="referencePreliminary"  showLabel="false" >
                                    </spot-input>
                                    <spot-input class="w-full" formControlName="periodPreliminary" showLabel="false">
                                    </spot-input>
                                    <spot-input-date class="w-full" formControlName="lastSubmittedPreliminary" showLabel="false" >
                                    </spot-input-date>
                                    <spot-input class="w-full" formControlName="submittedByPreliminary" showLabel="false" >
                                    </spot-input>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-4 gap-x-6 gap-y-4 w-full">
                            <div >
                                <mat-label class="flex">Total Forecast Projection TFP ({{budgetService.localCurrency.localCurrencyAbbreviation}})</mat-label>
                                <div class="grid grid-cols-2 divide-x-2 w-full bg-[#f1f5f9] border border-gray-300 mt-1 h-12 rounded items-center">
                                    <div class="pl-4" [ngStyle]="{'color': budgetService.tfpColor}">
                                        {{ budgetService.tfpDev  | number: '1.2-2' }}  %
                                    </div>
                                    <div class="flex justify-end" [ngStyle]="{'color': budgetService.tfpColor}">
                                        <div class="mr-4">
                                            {{ budgetService.tfpValue | number : fractionSize}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <mat-label class="flex">Annual Forecast Performance AFP ({{budgetService.localCurrency.localCurrencyAbbreviation}})</mat-label>
                                <div class="grid grid-cols-2 divide-x-2 w-full bg-[#f1f5f9] border border-gray-300 mt-1 h-12 rounded items-center">
                                    <div class="pl-4" [ngStyle]="{'color': budgetService.afpColor}">
                                        {{ budgetService.afpDev  | number: '1.2-2' }}  %
                                    </div>
                                    <div class="flex justify-end" [ngStyle]="{'color': budgetService.afpColor}">
                                        <div class="mr-4">
                                            {{ budgetService.afpValue | number : fractionSize }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <mat-label class="flex">Year To Date Performance YTDP ({{budgetService.localCurrency.localCurrencyAbbreviation}})</mat-label>
                                <div class="grid grid-cols-2 divide-x-2 w-full bg-[#f1f5f9] border border-gray-300 mt-1 h-12 rounded items-center">
                                    <div class="pl-4" [ngStyle]="{'color': budgetService.ydtpColor}">
                                        {{ budgetService.ytdDev  | number: '1.2-2' }}  %
                                    </div>
                                    <div class="flex justify-end" [ngStyle]="{'color': budgetService.ydtpColor}">
                                        <div class="mr-4">
                                            {{ budgetService.ytdpValue | number : fractionSize}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <mat-label class="flex">Month To Date Performance MTDP ({{budgetService.localCurrency.localCurrencyAbbreviation}})</mat-label>
                                <div class="grid grid-cols-2 divide-x-2 w-full bg-[#f1f5f9] border border-gray-300 mt-1 h-12 rounded items-center">
                                    <div class="pl-4" [ngStyle]="{'color': budgetService.mdtpColor}">
                                        {{ budgetService.mtdDev  | number: '1.2-2' }}  %
                                    </div>
                                    <div class="flex justify-end" [ngStyle]="{'color': budgetService.mdtpColor}">
                                        <div class="mr-4">
                                            {{ budgetService.mtdpValue | number : fractionSize}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-budget-capex-opex-table class="mt-2" [mode]="'Capex'" [inputData]="budgetService.budgetPageInfo"></app-budget-capex-opex-table>
                        <div class="grid grid-cols-3 gap-x-6 gap-y-0 w-full mt-4">
                            <div>
                                <spot-input class="w-full read-only" [showLabel]="true" [label]="'AFP Deviation Code'" formControlName="afpCodeId" [isLabelStrong]="false"> </spot-input>
                            </div>
                            <div>
                                <spot-input class="w-full read-only" [showLabel]="true" [label]="'MTDP Deviation Code'" formControlName="mtdpCodeId" [isLabelStrong]="false"> </spot-input>
                            </div>
                            <div>
                                <spot-input class="w-full read-only" [showLabel]="true" [label]="'Committed Spend'" [callLocation]="'Edit'"
                                            formControlName="committedSpend" [disabled]="true"
                                            [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0" [isLabelStrong]="false"></spot-input>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #capexFalseBlock>
                    <div  class="flex flex-col flex-auto bg-card p-6 shadow rounded-2xl overflow-hidden">
                        <div class="pt-0 flex items-center justify-between">
                            <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">CAPEX</div>
                            <div>
                                Capex Forecast Tables are displayed only when CAPEX Required is "Saved" to Yes
                            </div>
                            <div></div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
                <div class=" pb-4 pt-0 flex items-center justify-between">
                    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">OPEX</div>
                    <div class="flex items-start justify-between">
                        <div style="padding-right: 5px;">
                            <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                                    *ngIf ="projectHubService.roleControllerControl.projectHub.projectBoard.riskIssuesEdit"
                                    (click)="projectHubService.toggleDrawerOpen('BudgetOPEXEdit', '', budgetService.budgetPageInfo ,'' )">
                                <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                            </button>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-x-6 gap-y-0 w-full">
                    <div
                        class="flex justify-start w-full gap-3 items-center font-medium">
                        OPEX Required
                        <mat-icon svgIcon="heroicons_outline:x-circle"
                                  *ngIf="!budgetForm.controls.opexRequired.value"></mat-icon>
                        <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                                  *ngIf="budgetForm.controls.opexRequired.value">
                        </mat-icon>
                    </div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div>
                <h1 *ngIf="opexField; then opexTrueBlock else opexFalseBlock"></h1>
                <ng-template #opexTrueBlock>
                    <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
                        <app-budget-capex-opex-table [mode]="'Opex'"  [inputData]="budgetService.budgetPageInfo"></app-budget-capex-opex-table>
<!--                        <app-budget-capex-opex-table [mode]="'Y1'" [inputData]="budgetForecastsY1Opex"></app-budget-capex-opex-table>-->
                    </div>
                </ng-template>
                <ng-template #opexFalseBlock>
                    <div  class="flex flex-col flex-auto bg-card p-6 shadow rounded-2xl overflow-hidden">
                        <div class="pt-0 flex items-center justify-between">
                            <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Non-FTE OPEX</div>
                            <div>
                                Opex Forecast Tables are displayed only when OPEX Required is "Saved" to Yes
                            </div>
                            <div></div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </form>
    </div>
</div>
