.row-color1 {
    background-color: var(--fuse-bg-default);
}
.variance
{
    text-align: right;
right: 58%;
padding-right: 10%;
}

.variancecloseout
{
    text-align: right;
right: 54%;
padding-right: 50%;
}
.nostartName {
    color : #E1242a
    //font-weight : bold
  }