<div class="p-6 pb-3 pt-0 flex items-center justify-between">
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary" *ngIf="mode== 'Normal'">Schedule</div>
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary" *ngIf="mode== 'Project-Close-Out'">Milestone Variance</div>
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary" *ngIf="mode== 'Project-Charter' || mode== 'Business-Case' ">Milestones</div>
    <div class="text-primary">
        <div class="flex items-start justify-between">
            <div>
                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf="editable && projecthubservice.hasChildren && mode== 'Normal'"
                    (click)=" projecthubservice.toggleDrawerOpen('LinkMilestones', 'new', [], projectid, true)">
                    <!-- <a href="javascript:void(0)" *ngIf="editable" class="ml-4 text-primary" title="Edit Bulk" [color]="'primary-200'"
                    (click)="projecthubservice.toggleDrawerOpen('scheduleBulkEdit', 'new', projectViewDetails.scheduleData, '', true)"> -->
                    <!-- <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon> -->
                    <mat-icon svgIcon="heroicons_solid:link"></mat-icon>&nbsp; Link Milestones
                </button>
                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf="editable && mode== 'Normal'"
                    (click)="projecthubservice.toggleDrawerOpen('scheduleBulkEdit', 'new', projectViewDetails.scheduleData, '', true)">
                    <!-- <a href="javascript:void(0)" *ngIf="editable" class="ml-4 text-primary" title="Edit Bulk" [color]="'primary-200'"
                    (click)="projecthubservice.toggleDrawerOpen('scheduleBulkEdit', 'new', projectViewDetails.scheduleData, '', true)"> -->
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                </button>
                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf="editable && mode== 'Project-Close-Out'"
                    (click)="projecthubservice.toggleDrawerOpen('scheduleBulkEditCloseOut', 'new', projectViewDetails.scheduleData, '', true)">
                    <!-- <a href="javascript:void(0)" *ngIf="editable" class="ml-4 text-primary" title="Edit Bulk" [color]="'primary-200'"
                    (click)="projecthubservice.toggleDrawerOpen('scheduleBulkEdit', 'new', projectViewDetails.scheduleData, '', true)"> -->
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                </button>
                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf="editable && mode== 'Business-Case'"
                        (click)="projecthubservice.toggleDrawerOpen(timelineEditOption, 'new', projectViewDetails.scheduleData, '', true)">
                    <!-- <a href="javascript:void(0)" *ngIf="editable" class="ml-4 text-primary" title="Edit Bulk" [color]="'primary-200'"
                    (click)="projecthubservice.toggleDrawerOpen('scheduleBulkEdit', 'new', projectViewDetails.scheduleData, '', true)"> -->
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                </button>
                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf="editable && mode== 'Project-Charter'"
                    (click)="projecthubservice.toggleDrawerOpen('scheduleBulkEditCharter', 'new', projectViewDetails.scheduleData, '', true)">
                    <!-- <a href="javascript:void(0)" *ngIf="editable" class="ml-4 text-primary" title="Edit Bulk" [color]="'primary-200'"
                    (click)="projecthubservice.toggleDrawerOpen('scheduleBulkEdit', 'new', projectViewDetails.scheduleData, '', true)"> -->
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                </button>
                <button class="mx-4 text-primary bg-gray-200 " *ngIf="editable  && mode== 'Normal'" mat-flat-button [color]="'primary-200'"
                    (click)="projecthubservice.toggleDrawerOpen('Schedule', 'new', [], projectid)">
                    <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                </button>
                <button class="mx-4 text-primary bg-gray-200 " *ngIf="editable  && mode== 'Business-Case'" mat-flat-button [color]="'primary-200'"
                        (click)="projecthubservice.toggleDrawerOpen('BusinessCaseScheduleAddNew', 'new', [], projectid)">
                    <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                </button>
            </div>
            <div *ngIf="mode== 'Normal'">
                <form [formGroup]="localIncludedItems">
                <mat-slide-toggle class="primary slider-adjust" formControlName="toggle"
                (checked)="projecthubservice.includeClosedItems.schedule.value" (change)="toggleSchedule($event)">
                    Include Closed Items</mat-slide-toggle>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="flex justify-between gap-8 mt-0 mb-4" *ngIf="mode== 'Normal'">
    <h6 class="font-medium text-default text-md italic ml-6 mt-0">
      Baseline : {{baselineLog.baselineCount?baselineLog.baselineCount:0}}
  </h6>
  </div>
<form class="w-full pr-6 pl-6" [formGroup]="optionExecutions" *ngIf="optionType== 'option-2' || optionType== 'option-3'">
    <div class="grid grid-cols-2 gap-x-6 gap-y-0 w-full"  >
        <spot-input-date class="w-full read-only"
                         formControlName="optionExecutionStart" name="optionExecutionStart" [label]="'Execution Start'">
        </spot-input-date>
        <spot-input-date class="w-full read-only" formControlName="optionExecutionEnd" name="optionExecutionEnd" [label]="'Execution End'">
        </spot-input-date>
    </div>
</form>
<!-- <div class="flex justify-start items-left w-full" style="margin:top -6px!important; margin: left 0rem!important">
    <h6 class="pl-6 pt-0 pb-4 text-md font-medium text-secondary italic">
        Baseline : {{baselineCount.baselineCount}}
    </h6>
    </div> -->
<div class="overflow-x-auto mx-6">
    <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
        class=" material font-medium text-sm text-default whitespace-nowrap cursor-default" [rows]="schedulengxdata"
        #scheduleTable [rowClass]="getRowClass" [sorts]="[{ prop: 'plannedFinish', dir: 'asc' },{ prop: 'baselineFinish', dir: 'asc' },{ prop: 'completionDate', dir: 'asc' }]">
        <!-- [sorts]="[{ prop: 'variance', dir: 'asc' }]" -->
        <ngx-datatable-column name="Status" prop="indicator" [resizeable]="false" [flexGrow]="0.7" *ngIf="mode== 'Normal'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <mat-icon svgIcon="{{(indicator.getIndicators(value, 'circle')).icontype}}"
                    class="{{(indicator.getIndicators(value, 'circle')).iconcolor}}">
                </mat-icon>
                &nbsp;
                &nbsp;
                <mat-icon [matTooltip]="getlinkname(row.scheduleUniqueId)" *ngIf="islink(row.scheduleUniqueId)"
                svgIcon="{{getLinkType(row.projectId)}}"></mat-icon>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="" prop="indicator" [resizeable]="false" [flexGrow]="0.1" *ngIf="mode =='Business-Case'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <mat-icon [matTooltip]="getlinkname(row.scheduleUniqueId)" *ngIf="islink(row.scheduleUniqueId)"
                          svgIcon="{{getLinkType(row.projectId)}}"></mat-icon>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name=" " prop="indicator" [resizeable]="false" [flexGrow]="0.1" *ngIf="mode== 'Project-Close-Out' || mode== 'Project-Charter'" [sortable]="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                <mat-icon [matTooltip]="getlinkname(row.scheduleUniqueId)" *ngIf="islink(row.scheduleUniqueId)"
                svgIcon="{{getLinkType(row.projectId)}}"></mat-icon>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Milestone" prop="milestone" [flexGrow]="4.2" *ngIf="mode== 'Normal'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!-- <p [ngClass]="{'closed': row.completionDate != null}">{{value}}</p> -->
                <strong><p *ngIf="value == 'Execution Start - ' || value == 'Execution End - '" class = "nostartName" [ngClass]="{'closed': row.completionDate != null}">{{value}} Insert Milestone Name</p></strong>
              <p *ngIf="value != 'Execution Start - ' && value != 'Execution End - '" [ngClass]="{'closed': row.completionDate != null}">{{value}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Milestone" prop="milestone" [flexGrow]="2.0" *ngIf="mode== 'Project-Close-Out' || mode== 'Project-Charter' || mode== 'Business-Case'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!-- <p [ngClass]="{'closed': row.completionDate != null}">{{value}}</p> -->
                <strong><p *ngIf="value == 'Execution Start - ' || value == 'Execution End - '" class = "nostartName">{{value}} Insert Milestone Name</p></strong>
              <p *ngIf="value != 'Execution Start - ' && value != 'Execution End - '">{{value}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Planned Finish" prop="plannedFinish" [flexGrow]="1.25" *ngIf="mode== 'Normal' ">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [ngClass]="{'closed': row.completionDate != null}">{{value | date:'dd-MMM-yyyy'}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Planned Finish" prop="plannedFinish" [flexGrow]="0.4" *ngIf="mode== 'Project-Charter' || mode== 'Business-Case'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p>{{value | date:'dd-MMM-yyyy'}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Responsible Person" prop="responsiblePersonName" [resizeable]="false"
          [sortable]="false" [flexGrow]="0.7" *ngIf="mode== 'Project-Charter'">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

              <p *ngIf="value == ''">&nbsp;</p>{{value}}

          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Function Owner" prop="functionGroupId" [resizeable]="false" [sortable]="false"
          [flexGrow]="0.8" *ngIf="mode== 'Project-Charter' || mode== 'Business-Case'">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

              <p *ngIf="value == ''">&nbsp;</p>
              {{getLookupName(value)}}

          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Baseline Finish" prop="baselineFinish" [flexGrow]="1.25" *ngIf="mode== 'Normal'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [ngClass]="{'closed': row.completionDate != null}">{{value | date:'dd-MMM-yyyy'}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Baseline Finish" prop="baselineFinish" [flexGrow]="0.4" *ngIf="mode== 'Project-Close-Out'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p>{{value | date:'dd-MMM-yyyy'}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Variance" prop="variance" [flexGrow]="0.31" *ngIf="mode== 'Project-Close-Out'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <p class = "variancecloseout">{{value}}</p>
          </ng-template>
      </ngx-datatable-column>



        <ngx-datatable-column name="Completion Date" prop="completionDate" [flexGrow]="1.25" *ngIf="mode== 'Normal'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [ngClass]="{'closed': row.completionDate != null}">{{value | date:'dd-MMM-yyyy'}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Completion Date" prop="completionDate" [flexGrow]="0.4" *ngIf="mode== 'Project-Close-Out'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p>{{value | date:'dd-MMM-yyyy'}}</p>
            </ng-template>
        </ngx-datatable-column>



        <ngx-datatable-column name="Variance" prop="variance" [flexGrow]="0.75" *ngIf="mode== 'Normal'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p class = "variance" [ngClass]="{'closed': row.completionDate != null}">{{value}}</p>
            </ng-template>
        </ngx-datatable-column>



        <!-- <ngx-datatable-column name="Comment" prop="comments" [flexGrow]="0.9" *ngIf="mode== 'Project-Close-Out'">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [ngClass]="{'closed': row.completionDate != null}">{{value}}</p>
            </ng-template>
        </ngx-datatable-column> -->

        <!-- <ngx-datatable-column name="Include in Report (Max 20)" prop="includeInReport" [sortable]="false"
        [resizeable]="false" [flexGrow]="0.40" *ngIf="mode== 'Project-Close-Out'">
         <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template> -->

          <!--<a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)"
            [ngClass]="{'closed': row.completionDate != null}"> -->

            <!-- <p *ngIf="!value">&nbsp;</p>
            <mat-icon svgIcon="heroicons_outline:check-circle" *ngIf="value == true"></mat-icon> -->

          <!-- </a>
          <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)"
            class="p-2 overflow-hidden">
            <div class="flex items-center justify-between">
              <mat-slide-toggle name="includeInReport" [showLabel]="false" formControlName="includeInReport">
              </mat-slide-toggle>
            </div>
          </form> -->

        <!-- </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="Comment" prop="comments" [flexGrow]="0.5" *ngIf="mode== 'Project-Close-Out'">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <!-- <p [ngClass]="{'closed': row.completionDate != null}">{{value}}</p> -->
            <!-- <strong><p *ngIf="value == 'Execution Start - ' || value == 'Execution End - '" class = "nostartName" [ngClass]="{'closed': row.completionDate != null}">{{value}} Insert Milestone Name</p></strong> -->
          <p>{{value}}</p>
        </ng-template>
    </ngx-datatable-column>

      <!-- <ngx-datatable-column name="Comment" prop="comments" [resizeable]="false" [sortable]="true" [flexGrow]="0.7" *ngIf="mode== 'Project-Close-Out'">
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <a *ngIf="!baselinelogTableEditStack.includes(rowIndex)" (click)="baselinelogTableEditRow(rowIndex)"
            [ngClass]="{'closed': row.completionDate != null}">
            <p *ngIf="value == ''">&nbsp;</p>{{value}}
          </a>
          <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="baselinelogTableEditStack.includes(rowIndex)">
            <spot-textarea [rows]="3" formControlName="comments" name="comments" [showLabel]="false">
            </spot-textarea>
          </form>
        </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="Include in Close Out (Max 20)" prop="includeInCloseout" [sortable]="false"
            [resizeable]="false" [flexGrow]="0.43" *ngIf="mode== 'Project-Close-Out'">
            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <!-- <a *ngIf="!baselinelogTableEditStack.includes(rowIndex)" (click)="baselinelogTableEditRow(rowIndex)"> -->
                <!-- <p *ngIf="!value">&nbsp;</p>
                <mat-icon svgIcon="heroicons_outline:check-circle" *ngIf="value == true"></mat-icon> -->
              <!-- </a> -->
              <!-- <form [formGroup]="milestoneForm.controls[rowIndex]" class="p-2 overflow-hidden"
                *ngIf="baselinelogTableEditStack.includes(rowIndex)"> -->
                <!-- <div class="flex items-center justify-between p-2 overflow-hidden">
                  <mat-slide-toggle name="includeInReport" [showLabel]="false" formControlName="includeInReport">
                  </mat-slide-toggle>
                </div> -->
              <!-- </form> -->
              <div class="flex items-center justify-between pl-2 overflow-hidden">
              <mat-icon svgIcon="heroicons_outline:x-circle"
              *ngIf="value == false"></mat-icon>
            <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
              *ngIf="value == true">
            </mat-icon>
</div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Include in Charter (Max 10)" prop="includeInCharter" [sortable]="false"
          [resizeable]="false" [flexGrow]="0.45" *ngIf="mode== 'Project-Charter'">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <!-- <a *ngIf="!baselinelogTableEditStack.includes(rowIndex)" (click)="baselinelogTableEditRow(rowIndex)"> -->
              <!-- <p *ngIf="!value">&nbsp;</p>
              <mat-icon svgIcon="heroicons_outline:check-circle" *ngIf="value == true"></mat-icon> -->
            <!-- </a> -->
            <!-- <form [formGroup]="milestoneForm.controls[rowIndex]" class="p-2 overflow-hidden"
              *ngIf="baselinelogTableEditStack.includes(rowIndex)"> -->
              <!-- <div class="flex items-center justify-between p-2 overflow-hidden">
                <mat-slide-toggle name="includeInReport" [showLabel]="false" formControlName="includeInReport">
                </mat-slide-toggle>
              </div> -->
            <!-- </form> -->
            <div class="flex items-center justify-between pl-2 overflow-hidden">
            <mat-icon svgIcon="heroicons_outline:x-circle"
            *ngIf="value == false"></mat-icon>
          <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
            *ngIf="value == true">
          </mat-icon>
</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Include in Business Case (Max 8)" prop="includeInBusinessCase" [sortable]="false"
                              [resizeable]="false" [flexGrow]="0.45" *ngIf="mode== 'Business-Case'">
            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                <div class="flex items-center justify-between pl-2 overflow-hidden">
                    <mat-icon svgIcon="heroicons_outline:x-circle"
                              *ngIf="value == false"></mat-icon>
                    <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                              *ngIf="value == true">
                    </mat-icon>
                </div>
            </ng-template>
        </ngx-datatable-column>

          <!-- <ngx-datatable-column name="Include in Slip Chart" prop="includeSlipChart" [sortable]="false"
            [resizeable]="false" [flexGrow]="0.6">
            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <a *ngIf="!baselinelogTableEditStack.includes(rowIndex)" (click)="baselinelogTableEditRow(rowIndex)">
                <p *ngIf="!value">&nbsp;</p>
                <mat-icon svgIcon="heroicons_outline:check-circle" *ngIf="value == true"></mat-icon>
              </a>
              <form [formGroup]="baselineLogForm.controls[rowIndex]" class="p-2 overflow-hidden"
                *ngIf="baselinelogTableEditStack.includes(rowIndex)">
                <div class="flex items-center justify-between p-2 overflow-hidden">
                  <mat-slide-toggle name="includeSlipChart" [showLabel]="false" formControlName="includeSlipChart">
                  </mat-slide-toggle>
                </div>
              </form>
            </ng-template>
          </ngx-datatable-column> -->



        <ngx-datatable-column [flexGrow]="1" [resizeable]="false" [sortable]="false" [draggable]="false" *ngIf="mode== 'Normal'">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                <div class="flex items-center justify-start gap-6">
                    <a href="javascript:void(0)" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                        <mat-icon *ngIf='!expanded' svgIcon="heroicons_outline:chevron-down"></mat-icon>
                        <mat-icon *ngIf='expanded' svgIcon="heroicons_outline:chevron-up"></mat-icon>

                    </a>
                    <a href="javascript:void(0)" *ngIf="editable" title="Edit Single"
                        (click)="projecthubservice.toggleDrawerOpen('Schedule', row.scheduleUniqueId, projectViewDetails.scheduleData, projectid)">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>

                    </a>
                    <a href="javascript:void(0)" title="Delete Single" *ngIf="(row.milestoneType?!row.milestoneType >=1:true && editable && !islink(row.scheduleUniqueId)) || islink(row.scheduleUniqueId)"
                        (click)="deleteSchedule(row.scheduleUniqueId)">
                        <!-- && " -->
                        <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                    </a>
                        <!-- <ng-template #null *ngIf="(editable && islink(row.scheduleUniqueId))" >
                            <a href="javascript:void(0)" title="Delete Single"
                        (click)="deleteSchedule(row.scheduleUniqueId)">

                        <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                    </a>
                        </ng-template> -->


                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="0.25" [resizeable]="false" [sortable]="false" [draggable]="false" *ngIf="mode== 'Business-Case'">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <div class="flex items-center justify-start gap-6">
                    <a href="javascript:void(0)" title="Delete Single" *ngIf="(row.milestoneType?!row.milestoneType >=1:true && editable && !islink(row.scheduleUniqueId)) || islink(row.scheduleUniqueId)"
                       (click)="deleteScheduleForOption(row.scheduleUniqueId)">
                        <!-- && " -->
                        <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                    </a>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-row-detail [rowHeight]="'auto'" #scheduleRowDetail (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                <div style="padding: 10px 0 0 0;">
                    <div class="flex items-start justify-between">
                        <div [ngClass]="{'closed': row.completionDate != null}">
                            <strong class="strong">Responsible Person:</strong>
                            {{row.responsiblePersonName}}
                        </div>
                    </div>
                </div>

                <div style="padding: 10px 0 0 0;">
                    <div class="flex items-start justify-between">
                        <div [ngClass]="{'closed': row.completionDate != null}">
                            <strong class="strong">Function Owner:</strong>
                            {{lookup.get(row.functionGroupId)}}
                        </div>
                    </div>
                </div>

                <div style="padding: 10px 0 0 0;">
                    <div class="flex items-start justify-between">
                        <div [ngClass]="{'closed': row.completionDate != null}">
                            <strong class="strong">Comment:</strong>
                            {{row.comments}}
                        </div>
                    </div>
                </div>


            </ng-template>
        </ngx-datatable-row-detail>

    </ngx-datatable>
</div>

<!-- <div class="pr-6 pl-6 pt-6 flex justify-between items-center w-full" *ngIf="mode== 'Project-Close-Out'">

    <button class="min-w-26" mat-flat-button [color]="'primary'"
      (click)="this.projecthubservice.toggleDrawerOpen('', '', [], '',true)">
      Cancel
    </button>

    <button class="min-w-26" mat-flat-button [color]="'primary'" type="button" (click)="submitvariance()">
      Submit
    </button>

  </div> -->
