<div class="w-full min-w-0 p-8 pt-0" #container>
        <form class="w-full" [formGroup]="CAPSform">
            <div class="flex flex-col w-full flex-auto bg-card p-6 shadow rounded-2xl overflow-hidden">
                <div class="flex justify-between items-center pb-6">
                    <div class="font-medium tracking-tight leading-6 truncate ">
                        <h3 class="text-xl text-primary">CAPS</h3>
                    </div>
                    <div>
                        <button class="ml-4 text-primary bg-gray-200" mat-flat-button
                            [color]="'primary-200'"
                            *ngIf = "editableEnv && editable"
                            (click)="projectHubService.toggleDrawerOpen('CAPS', '', costEdit , id)">
                            <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                        </button>
                    </div>
                </div>
                    <div class="grid grid-cols-3 gap-x-6 gap-y-0 w-full">
                        <spot-input class="w-full read-only" formControlName="enviornmentalPortfolio" name="enviornmentalPortfolio"
                            [label]="'Environmental Portfolio'" [showHint]="true"
                            [hint]="'An environmental portfolio is the site or functional group to which the environmental impact of the project will be attributed (i.e. where the project will have an affect)'">
                        </spot-input>
                        <spot-input class="w-full read-only custom" formControlName="EmissionsImpact" name="EmissionsImpact"
                            [label]="'Emissions Impact (tCO2e/Year)'" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" [placeholder]="'0.0'">
                        </spot-input>
                        <div></div>
                        <spot-input-date class="w-full read-only" formControlName="impactRealizationDate" name="impactRealizationDate"
                            [label]="'Impact Realization Date'" [showHint]="true"
                            [hint]="'The expected date for when the project activity will begin to impact GHG emissions, fresh water withdrawal, or waste generated.'">
                        </spot-input-date>
                        <div *ngIf="!this.showDefault"></div><div *ngIf="!this.showDefault"></div>
                        <div *ngIf="this.showDefault" class="label">
                        <spot-input class="w-full read-only custom" formControlName="EnergyImpact" name="EnergyImpact"
                            [label]="'Energy Impact (per Year)'" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" [placeholder]="'0'">
                        </spot-input>
                        <label class="Unit">GJ</label>
                        </div>
                        <div *ngIf="this.showDefault" class="label">
                        <spot-input class="w-full read-only customCost" formControlName="EnergyCost" name="EnergyCost"
                            [label]="''" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" [placeholder]="'0'">
                        </spot-input>
                        <label class="Unit">{{currencyLabel}}</label>
                        </div>
                        <div class="flex justify-start gap-3 items-center w-full pt-2">
                            <div class="flex justify-start gap-1 items-center">
                                CAPS Project <mat-icon class="pe icon-size-4"
                                    matTooltip="'CAPS Project (YES) — Projects initiated and executed with the primary focus of directly reducing scope 1 or 2 carbon emissions, water withdrawal, or waste to landfill (e.g. LED lighting upgrade
                                                CAPS Project (NO) — All other projects, even those that have an indirect impact on emissions, water, and waste (e.g. capacity expansion or asset replacement). Environmental impacts must be captured in the SPOT record for these projects.'">
                                    help</mat-icon>
                            </div>
                            <mat-icon svgIcon="heroicons_outline:x-circle" *ngIf="!CAPSform.controls.isCapsProject.value">
                            </mat-icon>
                            <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                                *ngIf="CAPSform.controls.isCapsProject.value">
                            </mat-icon>
                        </div>
                        <div *ngIf="this.showDefault" class="label">
                        <spot-input class="w-full read-only custom" formControlName="WaterImpact" name="WaterImpact"
                            [label]="'Water Impact (per Year)'" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" [placeholder]="'0'">
                        </spot-input>
                        <label class="Unit">m3</label>
                        </div>
                        <div *ngIf="this.showDefault" class="label">
                        <spot-input class="w-full read-only customCost" formControlName="WaterCost" name="WaterCost" [label]="''" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" [placeholder]="'0'">
                        </spot-input>
                        <label class="Unit">{{currencyLabel}}</label>
                        </div>
                        <div></div>
                        <div *ngIf="this.showDefault" class="label">
                        <spot-input class="w-full read-only custom" formControlName="TotalWasteImpact" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" name="TotalWasteImpact" [label]="'Total Waste Impact (per Year)'" [placeholder]="'0'">
                        </spot-input>
                        <label class="Unit">Kg</label>
                        </div>
                        <div *ngIf="this.showDefault" class="label">
                        <spot-input class="w-full read-only customCost" formControlName="WasteCost" name="WasteCost" [label]="''" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" [placeholder]="'0'">
                        </spot-input>
                        <label class="Unit">{{currencyLabel}}</label>
                        </div>
                        <div></div>
                        <div *ngIf="this.showDefault" class="label">
                        <spot-input class="w-full read-only custom" formControlName="LandfilledWasteImpact" name="LandfilledWasteImpact"
                            [label]="'Landfilled Waste Impact (per Year)'" [decimalCount]="0" [inputType]="'Number'"
                                [autoAddDecimal]="false" [placeholder]="'0'">
                        </spot-input>
                        <label class="Unit">Kg</label>
                        </div>
                    </div>
            </div>
        </form>
    <div *ngIf="showDefault" class="flex justify-between items-start gap-6 w-full">
    <div class="flex flex-col w-full flex-auto bg-card p-6 mt-6 shadow rounded-2xl overflow-hidden" #container *ngIf="viewContent">
        
        <app-carbon-table [Editable]="editableEnv && editable" [data]="carbonngx" [ProjectData]="CAPSdata" [editCost]="costEdit" [DateMandatory]="biogenicUnitData || wwUnitData"></app-carbon-table>
        <br><br>
        <app-biogenics-table [Editable]="editableEnv && editable" [data]="Biogenicsngx" [ProjectData]="CAPSdata" [editCost]="costEdit" [DateMandatory]="carbonUnitData || wwUnitData"></app-biogenics-table>
        <br><br>
        <form class="p-6 pb-3 pt-0" [formGroup]="NoCarbonForm">
            <mat-slide-toggle class="primary slider-adjust" formControlName="NoCarbonImpact">
                No Carbon Impact</mat-slide-toggle>
        </form>
    </div>
    </div>
    <div *ngIf="showDefault" class="flex justify-between items-start gap-6 w-full">
        <div class="flex flex-col w-full flex-auto bg-card p-6 mt-6 shadow rounded-2xl overflow-hidden" #container
            *ngIf="viewContent">
            <app-water-waste-table [Editable]="editableEnv && editable" [data]="WaterWastengx" [ProjectData]="CAPSdata" [WaterWasteParam]="WaterWasteParam" [editCost]="costEdit" [DateMandatory]="biogenicUnitData || carbonUnitData"></app-water-waste-table>
        </div>
    </div>
    <div *ngIf="!showDefault" class="flex justify-between items-start gap-6 w-full">
        <div class="flex flex-col w-full flex-auto bg-card p-6 mt-6 shadow rounded-2xl overflow-hidden" #container
            *ngIf="viewContent">
            <app-transportation-table [Editable]="editableEnv && editable" [data]="Transportationngx" [ProjectData]="CAPSdata" [editCost]="costEdit"></app-transportation-table>
        </div>
    </div>
    <div *ngIf="!showDefault" class="flex justify-between items-start gap-6 w-full">
        <div class="flex flex-col w-full flex-auto bg-card p-6 mt-6 shadow rounded-2xl overflow-hidden" #container
            *ngIf="viewContent">
            <app-warehousing-table [Editable]="editableEnv && editable" [data]="Warehousingngx" [ProjectData]="CAPSdata" [editCost]="costEdit"></app-warehousing-table>
        </div>
    </div>
    <div *ngIf="!showDefault" class="flex justify-between items-start gap-6 w-full">
        <div class="flex flex-col w-full flex-auto bg-card p-6 mt-6 shadow rounded-2xl overflow-hidden" #container
            *ngIf="viewContent">
            <app-shipping-table [Editable]="editableEnv && editable" [data]="Shippingngx" [ProjectData]="CAPSdata" [editCost]="costEdit"></app-shipping-table>
        </div>
    </div>
</div>