<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>-->
    <!-- Project Server Reporting Database Configurations -->
    <!--Project Widgets Development-->
    <add key="SERVER" value="" />
    <add key="DATABASE" value="" />
    <add key="USERNAME" value="" />
    <add key="PASSWORD" value="" />

    <!--takeda QA-->
    <!--<add key="SERVER" value="tcp:topwasql.database.windows.net"/>
    <add key="DATABASE" value="TOPPMQA"/>
    <add key="USERNAME" value="TOUser"/>
    <add key="PASSWORD" value="b2gBXdV4VpSXJFG4LpbRhg=="/>-->
    
    <!--Shire Document Library--><!--
     <add key="SHAREPOINTURL" value="https://shirepharma.sharepoint.com/sites/TOPWADEV"/>
    <add key="SPUSERNAME" value="ibrown-c@shire.com"/>
    <add key="SPPASSWORD" value="8EDtPpmqPpV6N8u36YGJqsWIQSf6H1pC"/>
    <add key="SPDOCFOLDERNAME" value="SPOT Documents"/>-->

    <!-- Project widgets Development-->
    <!--<add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="Tenant" value="" />-->

      
    <!-- Takeda QA-->
    <!--<add key="ClientId" value="39004722-4110-491a-8b28-25470353c29e" />
    <add key="ClientSecret" value="NzsxS5yPlv3wfoW3PutZr7i04Rx+sP+bQyp+8kfAseU=" />
    <add key="Tenant" value="https://mytakeda.sharepoint.com" />     
    <add key="TenantID" value="57fdf63b-7e22-45a3-83dc-d37003163aae" />-->
    
    
    <add key="KEY" value="sP6ma7aE" />
    <add key="IV" value="UmfK/ICS" />
    <add key="LogFileName" value="ErrorLog.log" />
    <add key="ErrorLogFilePath" value="" />
    <add key="CommandTimeout" value="3000" />
    <add key="ConnectionTimeout" value="3000" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding" maxReceivedMessageSize="2147483646" maxBufferPoolSize="2147483646" maxBufferSize="2147483646" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00">
          <readerQuotas maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" />
          <security mode="Transport">
            <!--<security mode="None">-->
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="ProjectWidgets.OneShirePremier.SPOTApp.Service" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="WebHttpBinding" contract="ProjectWidgets.OneShirePremier.SPOTApp.IService" behaviorConfiguration="WebBehavior" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" />
          <serviceTimeouts transactionTimeout="01:10:00" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
        <!--<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />-->
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>-->      
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>