<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Forecast Edit</div>
    <div style="padding-top: 2px">
        <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'', true)" href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
    </div>
</div>
<div>
    <div class="pl-3">
        <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" [scrollbarH]="true"
                       columnMode="force"
                       class="material w-[93vw] font-medium text-sm whitespace-nowrap cursor-pointer"
                       [rows]="forecasts" >
            <ngx-datatable-column name="Reference" prop="active" [width]="150" [resizeable]="false"
                                  [sortable]="false" [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value">&nbsp;</p>
                        <p>{{value}}</p>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Currency" prop="localCurrencyAbbreviation" [width]="150" [resizeable]="false"
                                  [sortable]="false" [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a
                       (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value">&nbsp;</p>
                        <p>{{value}}</p>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Historical" prop="historical"  [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [sortable]="false" [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Apr" prop="apr"  [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('apr')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('apr')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="apr" type="number"  min="0" (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="May" prop="may" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('may')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('may')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="may" type="number"  min="0"  (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Jun" prop="jun" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('jun')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('jun')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="jun" type="number"  min="0"  (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Jul" prop="jul" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('jul')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('jul')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="jul" type="number"  min="0"  (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Aug" prop="aug" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('aug')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('aug')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="aug" type="number"  min="0"  (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Sep" prop="sep" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('sep')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('sep')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="sep" type="number"  min="0"  (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Oct" prop="oct" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('oct')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('oct')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="oct" type="number"  min="0"  (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Nov" prop="nov" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('nov')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('nov')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="nov" type="number"  min="0"  (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Dec" prop="dec" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('dec')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('dec')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="dec" type="number"  min="0"  (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Jan" prop="jan" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('jan')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('jan')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="jan" type="number"  min="0" (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Feb" prop="feb" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('feb')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('feb')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="feb" type="number"  min="0" (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="Mar" prop="mar" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex) || !isCellEditable('mar')" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex) && isCellEditable('mar')">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="mar" type="number"  min="0"  (input)="recalculateAnnualTotal()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="FY2023" prop="annualTotal" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a  (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="FY2024" prop="y1" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="FY2025" prop="y2" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex)" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex)">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="y2" type="number"  min="0"  (input)="recalculateTotalCapex()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="FY2026" prop="y3" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex)" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex)">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="y3" type="number"  min="0" (input)="recalculateTotalCapex()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="FY2027" prop="y4" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex)" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex)">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="y4" type="number"  min="0" (input)="recalculateTotalCapex()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="FY2028+" prop="y5" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="!fTableEditStack.includes(rowIndex)" (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                    <form [formGroup]="forecastsForm.controls[rowIndex]"
                          *ngIf="fTableEditStack.includes(rowIndex)">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <input matInput formControlName="y5" type="number"  min="0" (input)="recalculateTotalCapex()"
                                   placeholder="0" pattern="\d*" />
                        </mat-form-field>
                    </form>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" name="TotalCapex" prop="cumulativeTotal" [width]="150" [resizeable]="false" [headerClass]="getNgxDatatableNumberHeader"
                                  [draggable]="false">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a (click)="fTableEditRow(rowIndex)">
                        <p *ngIf="!value && value!=0">&nbsp;</p>
                        <p style="text-align:right">{{value}}</p>
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
    <div class="absolute bottom-2 w-full px-3">
        <div class="pr-3 flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'" type="button"
               (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" (click)="submitForecasts()" type="button">
                Submit
            </button>
        </div>
    </div>
</div>
