.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.blueBg {
    background: #89B4E0 !important;
}

.greenBg {
    background: #81FD84 !important;
}

.pinkBg {
    background-color: #FCC2C2 !important;
}

.headBgHeight {
    display: block !important;
    height: 28px !important;
    margin: 0em -.0em .4em -.0em !important;
}
