:host {
    ::ng-deep .ngx-datatable .datatable-bl-83 .datatable-body .datatable-scroll {
        height: 20vh !important;
        width: 100vw !important;
    }
}
:host {
    ::ng-deep .datatable-row-left {
        background: white !important;
        height: 29px !important;
    }
}


:host {
    ::ng-deep .datatable-row-center {
        height: 30px !important;
    }
}

::-webkit-scrollbar {
    display: none !important;
}