<div class="flex flex-auto justify-between items-center bg-card p-6 pt-3 pb-4 m-8 mb-5 mt-0 shadow rounded-2xl">
    <div class="flex justify-between items-start w-full">
        <div class="w-full">
            <div class="flex flex-auto w-full">
                <div class="flex justify-between items-center w-full gap-3">
                    <p class="font-bold text-xl">
                        Performance Dashboard
                    </p>
                </div>
                <div class="flex justify-between items-center w-full gap-3">
                    <div class="w-1/2">
                        <button class="min-w-26 mt-3 w-full" mat-flat-button [color]="'primary'" type="button">
                            Generate Document
                        </button>
                    </div>
                </div>

                <div class="flex flex-auto w-full flex-col mt-3">
                    <div class="flex justify-between items-center w-full">
                        <p class="text-l font-bold">Last Generated</p>
                    </div>
                    <div class="ml-2">
                        <span *ngIf="reportInfoData.performanceReportLastGenerated" class="font-bold text-primary">
                            {{reportInfoData.performanceReportLastGenerated | date:'dd-MMM-yyyy'}}
                        </span>
                        <span *ngIf="!reportInfoData.performanceReportLastGenerated" class="font-bold text-primary">
                            -
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
