.link-child-form{
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.mat-form-field {
width: 85%;
}
.btn {
width: 10%;
}