<div *ngIf="viewContent">
    <div
        class="flex items-start justify-between bg-primary sidepanel-header"
        style="margin-bottom: 10px"
    >
        <div class="text-on-primary" style="padding-top: 6px">Update Parent Project</div>
        <div style="padding-top: 2px">
            <a
                (click)="
                    this.projecthubservice.toggleDrawerOpen('', '', [], '')
                "
                href="javascript:void(0)"
                title="Close"
            >
                <mat-icon
                    class="text-on-primary"
                    svgIcon="heroicons_outline:x"
                ></mat-icon>
            </a>
        </div>
    </div>
    <div>
        <div class="p-6 pb-3 pt-0 flex items-center justify-between">
            <form class="link-child-form">
                <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-icon
                        class="flex-initial"
                        [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input
                        matInput
                        (keydown)="onKeydown($event)"
                        [formControl]="searchControl"
                        [matAutocomplete]="matAutocomplete"
                        [placeholder]="inputValue!= '' ? inputValue : 'Search for a Project by Project ID / Title / Budget ID'"
                        [(ngModel)]="inputValue"
                        class="flex-1 w-64"
                        id="myText">
                    <mat-autocomplete
                        class="max-h-128 sm:px-2 border-t rounded-b shadow-md"
                        [disableRipple]="true"
                        (optionSelected)="onOptionSelected($event)"
                        [displayWith]="displayFn.bind(this)"
                        #matAutocomplete="matAutocomplete">
                        <mat-option
                            class="py-0 px-6 text-md pointer-events-none text-secondary bg-transparent"
                            *ngIf="resultSets && !resultSets.length">
                            No results found!
                        </mat-option>
                        <ng-container *ngIf="resultSets && resultSets.length">
                            <mat-optgroup class="flex items-center mt-2 px-2">
                                <span  class="text-sm font-semibold tracking-wider text-secondary">Projects</span>
                            </mat-optgroup>
                            <ng-container *ngFor="let result of resultSets; trackBy: trackByFn">
                                <mat-option
                                    class="group relative mb-1 py-0 px-6 text-md rounded-md hover:bg-gray-100 dark:hover:bg-hover"
                                    [value]="result.problemUniqueId">
                                    <!-- Contacts -->
                                    {{result.problemId}} {{budgetfind(result.problemUniqueId)}} - {{result.problemTitle}}
                                </mat-option>
                            </ng-container>
                        </ng-container>
                    </mat-autocomplete>
                    <button type="button" mat-button *ngIf="inputValue!=''" matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-flat-button [color]="'primary'" type="button" (click)="inputValue!='' ? onSave(searchControl.value) : this.projecthubservice.toggleDrawerOpen('', '', [], '')">
                    Save
                </button>
            </form>
        </div>

    </div>
</div>
