<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Funding Information Add New</div>
    <div style="padding-top: 2px"><a (click)="projecthubservice.toggleDrawerOpen('', '',[],'')"
                                     href="javascript:void(0)" title="Close">
        <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
    </a>
    </div>
</div>
<form class="w-full overflow-hidden" [formGroup]="fundingRequestForm" (ngSubmit)="submitFundingInformation()">
    <div class=" form-ask-need h-[87vh] overflow-y-scroll">
        <spot-textarea class="w-full read-only" Required formControlName="fundingRequestId" [rows]="1"
                       [label]="'Funding Request ID'">
        </spot-textarea>
        <spot-select class="w-full" Required formControlName="approvalCurrency"  [label]="'Local Currency'"
                     [placeholder]="'Local Currency'" [showNoneOption]="false" [dropDownArrayType]="'object'" [valuePointer]="'localCurrencyAbbreviation'" [idPointer]="'localCurrencyId'"
                     [dropDownArray]="localCurrency">
        </spot-select>
        <spot-input class="w-full read-only" [showLabel]="true" [label]="'CAPEX Amount'"  formControlName="capexAmount"
                    [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"  > </spot-input>
        <spot-input class="w-full read-only" [showLabel]="true" [label]="'OPEX Amount'"  formControlName="opexAmount"
                    [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"  > </spot-input>
    </div>
    <div class="flex items-start justify-between  form-ask-need">
        <a class="w-25" mat-flat-button [color]="'primary'"
           (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>
