<div [formGroup]="formgroup">
    <mat-form-field class="w-full" [floatLabel]="'always'">
        <mat-label>{{label}} <mat-icon class="pe"
            *ngIf="showHint" matTooltip="{{hint}}">help</mat-icon></mat-label>
        <input matInput placeholder="Select and/or type to search" formControlName="projectsingle" name="projectsingle" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onProjectSelectenter($event)">
            <mat-option *ngFor="let option of resultSets" [value]="option">
                {{option.problemId}} - {{option.problemTitle}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
