<form [formGroup]="form" class="form w-full">
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
        <mat-label class="flex items-center" *ngIf="showLabel">{{label}}<mat-icon class="pe" *ngIf="showHint && hintPostion == 'tooltip'" matTooltip="{{hint}}" >help</mat-icon></mat-label>
        <textarea matInput formControlName="control"
        [placeholder]="placeholder"
        (input)="onChange($event.target.value)"
        (blur)="onTouch()"
        [rows]="rows"
        maxlength="maxLength"
        matTextareaAutosize
        ></textarea>
        <mat-hint *ngIf="showHint && hintPostion == 'mat-hint'">{{hint}}</mat-hint>
    </mat-form-field>
</form>