<div class="p-6 pb-3 pt-0 flex items-center justify-between">
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Ask/Needs</div>

    <div class="text-primary">
        <div class="flex items-start justify-between">
            <div style="padding-right: 5px;">
                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf="projectHubService.roleControllerControl.projectHub.projectBoard.askNeedEdit"
                (click)="projectHubService.toggleDrawerOpen('AskNeedBulkEdit', 'new', [], projectId, true)">
                <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
            </button>
                <button class="ml-4 text-primary bg-gray-200 " mat-flat-button [color]="'primary-200'"
                    *ngIf="projectHubService.roleControllerControl.projectHub.projectBoard.askNeedEdit"
                    (click)="projectHubService.toggleDrawerOpen('AskNeed', 'new', askNeedData, projectId)">
                    <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                </button>
            </div>
            <div>
                <mat-slide-toggle class="primary slider-adjust" (checked)="projectHubService.includeClosedItems.askNeed.value"  (change)="toggleAskNeed($event)">
                    Include Closed Items
                </mat-slide-toggle>
            </div>
        </div>
    </div>
</div>
<div class="overflow-x-auto mx-6">
    <app-ask-need-table [askNeedData]="askNeedData" [tableData]="tableData" [linksProblemCapture]="linksProblemCapture"
    [links]="links"></app-ask-need-table>
</div>