<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-5xl">
        <div class="max-w-none mx-auto prose prose-sm flex justify-between items-center">
            <div class="w-1/2 h-auto">
                <img class="w-full h-auto" src="assets/images/logo/logo.png" alt="Logo image">
            </div>
            <div class="w-1/2 h-auto">
                <h1>SPOT 2.0 Deployment in Progress!</h1>
                <h4>Experience the latest enhancements and capabilities as we bring new optimizations to SPOT.<br><br>We
                    apologize for any inconvenience during this transition.<br><br>It typically takes around 15 minutes. Feel
                    free to grab a coffee and enjoy a short break during this time.
                </h4>
            </div>
        </div>
    </div>
</div>