<div *ngIf="viewContent" class="h-screen">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Bulk Edit Funding Requests</div>
        <div style="padding-top: 2px">
            <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)" href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <div class="py-3 px-0 relative h-fit">
        <div class="flex justify-between items-center">
            <div></div>
            <div class="flex justify-between items-center gap-3">
                <div class="pr-3">
                    <button *ngIf="showAddNewButton" class="min-w-26 ml-4 text-primary bg-gray-200" type="button"
                            mat-flat-button
                            [color]="'primary-200'"
                            (click)="addFR()">
                        <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                    </button>
                </div>
            </div>
        </div>
        <div class="overflow-y-hidden h-auto w-screen pl-3" id="fundingRequestsTableDiv">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                           class="material font-medium text-sm text-default whitespace-nowrap cursor-pointer fast-load-table"
                           [rows]="fundingRequests" [ngStyle]="{ 'height': calculateHeight(), 'overflow-y': 'visible' }">
                <ngx-datatable-column name="Funding Request ID" prop="budgetIo1" [flexGrow]="1"
                                      [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!checkFundingCell(row, rowIndex)"
                           (click)="frTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form class="mt-6" [formGroup]="fundingRequestForm.controls[rowIndex]"
                              *ngIf="checkFundingCell(row, rowIndex)">
                            <spot-input formControlName="budgetIo1" [showLabel]="false"></spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Approval Currency" prop="localCurrencyId" [flexGrow]="1"
                                      [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!checkRow(row, rowIndex)"
                           (click)="frTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{getCurrency(value)}}</p>
                        </a>
                        <form class="w-full px-1" [formGroup]="fundingRequestForm.controls[rowIndex]"
                              *ngIf="checkRow(row, rowIndex)">
                            <spot-select class="w-full" formControlName="localCurrencyId"
                                         [placeholder]="'Approval Currency'" [showNoneOption]="false"
                                         [dropDownArrayType]="'object'" [idPointer]="'localCurrencyId'"
                                         [dropDownArray]="localCurrency" [valuePointer]="'localCurrencyAbbreviation'"
                                         [customSortPointer]="'displayOrder'">
                            </spot-select>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="CAPEX Amount" prop="localCarapprovedCapex" [flexGrow]="1"
                                      [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!checkRow(row, rowIndex)"
                           (click)="frTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value | number : fractionSize}}</p>
                        </a>
                        <form class="mt-6" [formGroup]="fundingRequestForm.controls[rowIndex]"
                              *ngIf="checkRow(row, rowIndex)">
                            <spot-input class="w-full" formControlName="localCarapprovedCapex" [showLabel]="false"
                                        [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"></spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="OPEX Amount" prop="localCarapprovedOpex" [flexGrow]="1"
                                      [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!checkRow(row, rowIndex)"
                           (click)="frTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value | number : fractionSize}}</p>
                        </a>
                        <form class="mt-6" [formGroup]="fundingRequestForm.controls[rowIndex]"
                              *ngIf="checkRow(row, rowIndex)">
                            <spot-input class="w-full" formControlName="localCarapprovedOpex" [showLabel]="false"
                                        [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"></spot-input>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Amended CAR" prop="ammendedCar" [flexGrow]="1"
                                      [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a (click)="frTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Funding Status" prop="approvalStatus" [flexGrow]="1"
                                      [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a
                            (click)="frTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded"
                                 ngx-datatable-cell-template>
                        <div *ngIf="row.keep==true" class="flex justify-start items-center gap-6">
                            <a href="javascript:void(0)" title="Delete Single" (click)="deleteFR(rowIndex)">
                                <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                            </a>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <div class="w-full px-3 pr-3 flex items-start justify-between">
        <a class="min-w-26" mat-flat-button [color]="'primary'" type="button"
           (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'',true)">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" (click)="submitFundingRequests()"
                type="button">
            Submit
        </button>
    </div>
</div>
