$ngx-datatable-background: #fff !default;
$ngx-datatable-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12) !default;
$ngx-datatable-row-odd-background: #eee !default;

// default row and cell background colors
$ngx-datatable-default-background: #fff !default;
$ngx-datatable-default-background-hover: #eee !default;
$ngx-datatable-default-background-focus: #ddd !default;

// default background colors for cell selection style
$ngx-datatable-cellselection-background-hover: #eee !default;
$ngx-datatable-cellselection-background-focus: #ddd !default;

// background and text colors for selected cell / row
$ngx-datatable-selected-active-background: #304ffe !default;
$ngx-datatable-selected-active-color: #fff !default;
$ngx-datatable-selected-active-background-hover: #193ae4 !default;
$ngx-datatable-selected-active-color-hover: #fff !default;
$ngx-datatable-selected-active-background-focus: #2041ef !default;
$ngx-datatable-selected-active-color-focus: #fff !default;

// colors for header elements
$datatable-header-cell-background: #fff !default;
$datatable-header-cell-color: rgba(0, 0, 0, 0.54) !default;
$datatable-header-border-bottom-color: rgba(0, 0, 0, 0.12) !default;
$datatable-header-resize-handle-color: #eee !default;

// colors for table body elements
$datatable-row-detail-background: #f5f5f5 !default;
$datatable-body-cell-color: rgba(0, 0, 0, 0.87) !default;
$datatable-group-header-background: #f5f5f5 !default;
$datatable-group-header-border-top-color: #d9d8d9 !default;
$datatable-group-header-border-bottom-color: #d9d8d9 !default;

// colors for footer elements
$datatable-footer-cell-color: rgba(0, 0, 0, 0.54) !default;
$datatable-footer-border-top-color: rgba(0, 0, 0, 0.12) !default;
$datatable-pager-color: rgba(0, 0, 0, 0.54) !default;
$datatable-pager-color-hover: rgba(0, 0, 0, 0.75) !default;
$datatable-pager-background-hover: rgba(158, 158, 158, 0.2) !default;
$datatable-pager-disabled-color: rgba(0, 0, 0, 0.26) !default;
$datatable-pager-disabled-background: transparent !default;
$datatable-pager-active-background: rgba(158, 158, 158, 0.2) !default;

// colors for summary row elements
$datatable-summary-row-background: #ddd !default;
$datatable-summary-row-background-hover: #ddd !default;

.ngx-datatable.material {
  background: $ngx-datatable-background;
  box-shadow: $ngx-datatable-box-shadow;
  &.striped {
    .datatable-row-odd {
      background: $ngx-datatable-row-odd-background;
    }
  }
  .datatable-body {
    position: relative;
    .datatable-row-detail {
      background: $datatable-row-detail-background;
      padding: 10px;
    }

    .datatable-body-row {
      .datatable-body-cell {
        text-align: left;
        padding: 0.9rem 1.2rem;
        vertical-align: top;
        border-top: 0;
        transition: width 0.3s ease;
        font-size: 14px;
        font-weight: 400;
      }

    }
  }
}
  /**
	 * Header Styles
	 */
     .datatable-header {
        border-bottom: 1px solid $datatable-header-border-bottom-color;
    
        .datatable-header-cell {
          text-align: left;
          padding: 0.9rem 1.2rem;
          font-weight: 400;
          background-color: $datatable-header-cell-background;
          color: $datatable-header-cell-color;
          vertical-align: bottom;
          font-size: 12px;
          font-weight: 500;
    
          .datatable-header-cell-wrapper {
            position: relative;
          }
    
          &.longpress {
            .draggable::after {
              transition: transform 400ms ease, opacity 400ms ease;
              opacity: 0.5;
              transform: scale(1);
            }
          }
    
          .draggable::after {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -30px 0 0 -30px;
            height: 60px;
            width: 60px;
            background: #eee;
            border-radius: 100%;
            opacity: 1;
            filter: none;
            transform: scale(0);
            z-index: 9999;
            pointer-events: none;
          }
    
          &.dragging {
            .resize-handle {
              border-right: none;
            }
          }
        }
    
        .resize-handle {
          border-right: solid 1px $datatable-header-resize-handle-color;
        }
      }
.datatable-body-row,
.datatable-scroll{
    max-width: 100%;
    min-width: 100%;
}
.datatable-header-cell-template-wrap{
    color:black;
    font-weight: bold;
}
