
<div class="flex items-start justify-between bg-primary sidepanel-header" style="margin-bottom: 10px">
    <div class="text-on-primary" style="padding-top: 6px">Data Quality</div>
    <div style="padding-top: 2px" ><a (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')"
            href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
    </div>
</div>
<div class="p-6 pb-3 pt-0 flex items-center justify-between">
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">SPOT ID: {{spotId}}</div>
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">{{projectName}}</div>
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Data Quality: <a [ngStyle]="{'color':getColor(dataQualityPercentage)}">{{dataQualityPercentageString}}%</a> (Target {{targetPercentage}}%)</div>
</div>


<div >
        <div class="overflow-x-auto mx-6">
            <ngx-datatable
            class='material striped'
            [rows]="rows"
            [columns]="columns"
            [columnMode]="ColumnMode.flex"
            [rowClass]="rowClass"
            headerHeight="auto"
            rowHeight="auto"
        >
        </ngx-datatable>
            
        </div>
    </div>

