  body {
        font-size: 11px !important;
    }

    .noPadding {
        padding: 1%;
    }

    .minPadding {
        padding: 2%;
    }

    .nonePaddingtop {
        padding-top: 0%;
        padding-bottom:1%;
        padding-left:1%;
        padding-right:1%;
    }

    .nonePaddingleft {
        padding-left: 0%;
    }
     .nonePaddingRight {
       padding-right:0%;
    }
      .noPaddingLR {
        padding-left: 0% !important;
        padding-right:0% !important;
    }

    /*.k-grid .k-grid-content {
        min-height: 415px !important;
        max-height: 415px !important;
    }*/

    .k-grid-content .k-auto-scrollable {
        min-height: 300px !important;
    }

    /*.k-grid .k-grid-content {
        min-height: 300px !important;
        max-height: 300px !important;
    }*/

    .k-grid-header .k-header {
        background-color: #007cc5 !important;
    }

    .k-link {
        color: #fff !important;
    }

    .ms-height-panel {
        height: 150.7px;
        padding: 20px 25px;
        margin-bottom: 14px;
        width: 22.5%;
        margin-right: 14px;
        border-radius: 4px;
        -moz-box-shadow: 1px 1px 7px rgba(40,38,37,0.13) !important;
        -webkit-box-shadow: 1px 1px 7px rgba(40,38,37,0.13) !important;
        box-shadow: 1px 1px 7px rgba(40,38,37,0.13) !important;
        margin-top: 9px;
    }

    .ms-height-panel3 {
        height: 150.7px;
        padding-left: 0px;
        margin-left: -3px;
        margin-bottom: 14px;
        width: 50.5%;
        margin-right: 14px;
        border-radius: 4px;
        -moz-box-shadow: 1px 1px 7px rgba(40,38,37,0.13) !important;
        -webkit-box-shadow: 1px 1px 7px rgba(40,38,37,0.13) !important;
        box-shadow: 1px 1px 7px rgba(40,38,37,0.13) !important;
        margin-top: 9px;
    }

    .ms-height-panel4 {
        height: 150.7px;
        margin-bottom: 14px;
        width: 46.5%;
        margin-right: 14px;
        border-radius: 4px;
        -moz-box-shadow: 1px 1px 7px rgba(40,38,37,0.13) !important;
        -webkit-box-shadow: 1px 1px 7px rgba(40,38,37,0.13) !important;
        box-shadow: 1px 1px 7px rgba(40,38,37,0.13) !important;
        margin-top: 9px;
    }

    .ms-task-roundpanel {
        width: 50px;
        height: 50px;
        margin: auto;
        padding: 10px !important;
        font-size: 24px;
        line-height: 42px;
    }


    .ms-white {
        font-size: 20px;
        margin-top: 10px;
    }

    .ms-blue {
        background: #A5A5A5; /*#18ACE2;*/
    }

    .ms-green {
        background: #B98A81; /*#7CBD59;*/
    }

    .ms-darkblue {
        background: #3494BF;
    }

    .ms-darkgreen {
        background: #528935;
    }

    .ms-orange {
        background: #D17B5C; /*#F5AE19;*/
    }

    .ms-darkorange {
        background: #C78E16;
    }

    .ms-darkred {
        background: #B52517;
    }

    .ms-red {
        background: #ED7D31; /*#E23525;*/
    }

    .ms-darkblue {
        background: #3494BF;
    }

    .ms-darkblue {
        background: #3494BF;
    }

    .rounded-circle {
        border-radius: 50%;
    }

    .ms-white {
        color: white !important;
        margin-top: 6px;
        margin-bottom: 0px;
        margin-left: 40px;
    }

    .img-fluid {
        margin-left: 49px;
    }

    .ms-task-roundpanel {
        width: 60px;
        height: 60px;
        display: block;
        margin: auto;
        padding: 12px !important;
        font-size: 28px;
        color: #ffffff;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 46px;
    }

    .org {
        background-color: #F5AE19 !important;
    }


    .greenyellow {
        background-color: lightgreen;
    }

    .blu {
        background-color: #747272 !important;
    }

    .grn {
        background-color: #8d655d !important;
    }

    .orng {
        background-color: #9b543a !important;
    }

    .text-mid {
        text-align: center;
    }



    .rd {
        background-color: #ba6226 !important;
    }

    .fieldgroup {
        float: left;
        width: auto;
        margin-left: 3em;
    }

    .filterddl {
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 100%;
        color: #333;
        width: 100%;
        height: 100%;
    }

    .phase {
        padding: 30px 20px;
        width: 25%;
        border: 1px solid black;
    }

    .numfig {
        font-weight: bold;
        font-size: 16px;
    }

    .pointer {
        cursor: pointer;
    }

    .k-button-group .k-state-active {
        border-color: #000 !important;
        font-weight: bold;
        font-size: 12px;
    }

    .k-tabstrip-items .k-state-active {
        background-color: #737c87;
    }

    .withBorder {
        padding: 1% !important;
        border-bottom-color: black !important;
        border-bottom-width: 2px !important;
        border-bottom-style: solid !important;
    }

    .bluBackground {
        background-color: #007cc5;
        background-image:none !important;
    }

    .setborder {
        background-color: aliceblue;
        border: solid !important;
        border-width: thin !important;
        text-align: center !important;
    }

    .bigFont {
        font-size: 16px;
    }

    .k-header .k-grid-toolbar {
        background-color: #fff !important;
    }
.k-grid .k-grid-toolbar {
     background-color: #fff !important;
}

    a.k-button {
        background: #007cc5 !important;
        color:#fff;
    }
     /*a.k-button-blue {
        background:#007cc5 !important;
        background-color:#007cc5;
        color:#fff;
    }*/

    .k-grid-header th.k-header {
        color: #fff !important;
    }

    .wrap {
        display: flex;
    }

    .inner {
        align-self: center;
    }
.k-state-hover {
  background-color: #007cc5 !important;
  color:#fff !important;
}
.k-window-titlebar {
    background-color: #007cc5 !important;
    color:#fff !important;
    background-image:none !important;
}
.noPaddingBottom {
padding-bottom:0%;
}
ng-pristine {
}





    @media only screen and (min-width : 700px) and (max-width : 767px) {
        .ms-blue, .ms-green, .ms-orange, .ms-red {
            width: 48.7% !important;
            display: inline-block;
        }

        .percnt {
            content: "\0025";
        }
    }


   .status li {
    float: left;
}


.status ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
legend{
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
      }


/* designer */

.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-multiselect-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox > input {
    border:#ccc 1px solid !important;
    padding:6px 12px !important;
    height:2.60em !important;
    background:#fff !important;
}
.k-multiselect-wrap {
    border:#ccc 1px solid !important;
    border-color:#ccc !important;
    border-radius:0px !important;
}
.k-dropdown-wrap .k-select, .k-numeric-wrap .k-select, .k-picker-wrap .k-select {
    height:2.43em !important;
    border:#ccc 1px solid !important;
    background:#fff !important;
}
.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
    box-shadow:none !important;
}
.k-widget.k-multiselect.k-multiselect-clearable .k-multiselect-wrap input.k-input  {
    border:none !important;
}
 .k-multiselect .k-button {
        text-transform: none;
      }