<!-- <div style="width: 100%;" #container> -->
    <app-caps class="w-full" [callLocation]="'Business-Case'"></app-caps>
    <!-- <div class="flex flex-col flex-auto bg-card p-6 shadow rounded-2xl overflow-hidden">
        <div class="flex justify-between items-center pb-6">
            <div>
                <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                    (click)="openCAPS()">
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Go to CAPS
                </button>
            </div>
        </div>
    </div>
</div> -->

<!-- width: 96.5%;
margin-left: 30px; -->
