<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Lesson Learned</div>
    <div style="padding-top: 2px"><a (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')"
            href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
    </div>
</div>
<form class="w-full overflow-hidden" [formGroup]="LessonLearnedForm" (ngSubmit)="submiLL()"
    style="overflow-y: scroll; height: 95vh;">
    <div class=" form-ask-need h-[86.5vh]  overflow-y-scroll">
        <div class="flex items-start justify-between incuded-in-dash">
        <mat-slide-toggle
            [matTooltip]="this.LessonLearnedForm.controls['includeInCloseOutReport'].disabled ? 'Only 4 can be selected at a time for close out report display' : null"
            formControlName="includeInCloseOutReport">Include in Single Slide Summary</mat-slide-toggle>
        </div>
        <div class="flex items-start justify-between incuded-in-dash">
        <mat-slide-toggle formControlName="createDetailedReviewSlide">Create Detailed Review Slide (No Max)</mat-slide-toggle>
        </div>
        <div class="w-25">
            <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
                <mat-label>Log Date</mat-label>
                <input matInput [matDatepicker]="picker1" [max]="today" [placeholder]="'Choose a date'"
                    formControlName="lessonLogDate" name="logDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <spot-textarea formControlName="leassonTitle" name="leassonTitle" [label]="'Title'" [placeholder]="'Title'">
        </spot-textarea>
        <spot-textarea formControlName="lessonDetail" name="description" [label]="'Description / Details'" [placeholder]="'Description / Details'">
        </spot-textarea>
        <!-- <spot-singleselect-autocomplete formControlName="lessonType" class="w-full" name="type" [label]="'Type'"
            [placeholder]="'Type'" [valuePointer]="'lookUpName'" [dropDownArray]="GetType()" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-singleselect-autocomplete> -->

        <spot-select formControlName="lessonType" name="lessonType" [label]="'Type'" [placeholder]="'Type'"
            [dropDownArrayType]="'object'" [dropDownArray]="GetType()" [idPointer]="'lookUpId'"
            [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-select>

        <spot-select formControlName="criticality" name="criticality" [label]="'Criticality'" [placeholder]="'Criticality'"
            [dropDownArrayType]="'object'" [dropDownArray]="GetCriticality()" [idPointer]="'lookUpId'" [valuePointer]="'lookUpName'"
            [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-select>

        <spot-singleselect-user-autocomplete formControlName="submittedBy" [label]="'Submitted By'"
            name="SubmittedBy" [showLabel]="true" [placeholder]="'Last Name, First Name'">
        </spot-singleselect-user-autocomplete>

        <spot-select formControlName="submittingGroupRole" name="submittingGroup" [label]="'Submitting Group / Role'"
            [placeholder]="'Submitting Group / Role'" [dropDownArrayType]="'object'" [dropDownArray]="GetRole()"
            [idPointer]="'lookUpId'" [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-select>

        <spot-textarea formControlName="suggestedAction" name="suggestedAction" [label]="'Suggested Action'" [placeholder]="'Suggested Action'">
        </spot-textarea>
        <div class="w-25">
            <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker2" [placeholder]="'Choose a date'"
                    formControlName="dueDate" name="dueDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- <spot-singleselect-autocomplete formControlName="functionActionOwner" class="w-full" name="functionOwner" [label]="'Function Action Owner'"
            [placeholder]="'Function Action Owner'" [valuePointer]="'lookUpName'" [dropDownArray]="GetRole()">
        </spot-singleselect-autocomplete> -->

        <spot-select formControlName="functionActionOwner" name="functionOwner" [label]="'Function Action Owner'" [placeholder]="'Function Action Owner'"
            [dropDownArrayType]="'object'" [dropDownArray]="GetRole()" [idPointer]="'lookUpId'"
            [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-select>

        <spot-singleselect-user-autocomplete formControlName="actionOwner" [label]="'Action Owner'" name="actionOwner"
            [showLabel]="true" [placeholder]="'Last Name, First Name'">
        </spot-singleselect-user-autocomplete>
        <div class="w-25">
            <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
                <mat-label>Close Date</mat-label>
                <input matInput [matDatepicker]="picker3" [placeholder]="'Choose a date'"
                    formControlName="lessonCloseDate" name="closeDate" [max]="today">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
        </div>


    </div>
    <div class="flex items-start justify-between form-ask-need">
        <a class="min-w-26" mat-flat-button [color]="'primary'"
            (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>
