<div *ngIf="viewContent">

    <div class="p-6 pb-3 pt-0 flex items-center justify-between">
        <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Biogenic<mat-icon class="pe" style="font-size: 17px;" matTooltip="'Biogenic Emission Sources are emissions that come from natural sources (Biofuel, Biogas, Biomass). Please enter the
        Specific Emission factor provided by the supplier.'">help</mat-icon>
        </div>

        <div class="text-primary">
            <div class="flex items-start justify-between">
                <div style="padding-right: 5px;">
                    <button class="text-primary bg-gray-200" mat-flat-button *ngIf="Editable && !noCarbonImpact" [color]="'primary-200'"
                        (click)="projecthubservice.toggleDrawerOpen('BiogenicsBulkEdit', '', biogenicsBulkEditData, id, true)">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                    </button>
                    <button class="ml-4 text-primary bg-gray-200" *ngIf="Editable && !noCarbonImpact" mat-flat-button
                        [color]="'primary-200'"
                        (click)="projecthubservice.toggleDrawerOpen('BiogenicsSingleEdit', 'new', biogenicsBulkEditData , id)">
                        <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="overflow-x-auto mx-6">
        <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
            class="pr-6 material font-medium text-sm text-default whitespace-nowrap cursor-default"
            [rows]="Biogenicsngx" #biogenicsTable>
            <ngx-datatable-column name="Emission Source" prop="biogenicMasterUniqueId" [flexGrow]="1.5">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{getLookUpName(value)}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Emission Factor (kg CO2/kWh)" prop="biogenicEmissionFactor" [flexGrow]="0.6" [headerClass]="getNgxDatatableNumberHeader">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p class="emission">{{value | number:'1.3-3'}}</p>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Units" prop="biogenicUnit" [flexGrow]="0.8">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p class="unit">{{value | number:'1.0-0'}}</p>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="UoM" prop="standardUoM" [flexGrow]="0.5">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{unitCost}} prop="biogenicUnitCost" [flexGrow]="0.8">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <ng-container>
                        <span class="datatable-header-cell-wrapper custom" (click)="sort()">
                        <div style="margin-bottom: -22px;" (click)="sortasc()">
                            {{column.name}}
                        <mat-icon class="pe" style="font-size: 17px;"
                            matTooltip="Input the cost of each energy unit using up to 4 decimal places, positive values only.">help</mat-icon>
                        <button type="button" (click)="sortasc()">
                            <i class="material-icons"
                                [innerText]="sortDir ? (sortDir === 'asc' ? 'expand_less' : 'expand_more') : 'unfold_more'"></i>
                        </button>
                        </div>
                        </span>
                    </ng-container>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p class="cost">{{value | number:'1.4-4'}}</p>
                </ng-template>   
            </ngx-datatable-column>
            <ngx-datatable-column name="Basis of Estimate" prop="biogenicBasisOfEstimate" [flexGrow]="2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value}}
                </ng-template>
            </ngx-datatable-column>
            

            <ngx-datatable-column [flexGrow]="0.4" [resizeable]="false" [sortable]="false" [draggable]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                    <div class="flex items-center justify-start gap-6">
                        <a href="javascript:void(0)" title="Delete Single" *ngIf="Editable && !noCarbonImpact"
                            (click)="deleteBiogenics(row.biogenicDataId)">
                            <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                        </a>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>