.pb-4rem {
    padding-bottom: 4rem;
}

.pl-19rem {
    padding-left: 19rem !important;
}

.project-hub-dense {
    padding: 4rem 0 0 4rem;
}

.bulkEdit{
    min-width: 95% !important;
    max-width: 95% !important;
}
.fuse-drawer-small{
    min-width: 35% !important;
    max-width: 35% !important;
}

.scroll-fixed {
    overflow-y: scroll;
    height: 100%;
}

.project-hub-default {
    padding: 4rem 0 0 17rem;
}

fuse-drawer {
    min-width: 50%;
    max-width: 50%;
}

fuse-drawer .fuse-drawer-content {
    display: block !important;
}

.overall-indicator {
    width: 35px !important;
    height: 35px !important;
}

.apply-button {
    margin: 20px 0px 175px 0px !important;
    width: 100%;
}

.bottom-arrow {
    border: 1px solid;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 51%, 0% 0%);

}

// START POINTER
.pointer-start {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary);
    color: var(--fuse-on-primary);
    padding-left: 30px !important;
    border-radius: 20px 0 0 20px;
}

.pointer-start:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-primary);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

.pointer-start-unselect {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary-200);
    color: var(--fuse-on-primary);
    padding-left: 30px !important;
    border-radius: 20px 0 0 20px;
}

.pointer-start-unselect:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-primary-200);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
.pointer-start-completed {
    margin-right: 5px;
    position: relative;
    background-color: #66748c;
    color: var(--fuse-on-primary);
    padding-left: 30px !important;
    border-radius: 20px 0 0 20px;
}

.pointer-start-completed:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid #66748c;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

//END START POINTER

//START NORMAL POINTER
.pointer {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary);
    color: var(--fuse-on-primary);
    padding-left: 30px !important;
}

.pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-bg-default);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

.pointer:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-primary);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}


.pointer-unselect {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary-200);
    color: var(--fuse-on-primary);
    border-color: #4c9bcf;
    padding-left: 30px !important;
}

.pointer-unselect:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid #fff;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

.pointer-unselect:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-primary-200);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
.pointer-completed {
    margin-right: 5px;
    position: relative;
    background-color: #64748b;
    color: var(--fuse-on-primary);
    border-color: #4c9bcf;
    padding-left: 30px !important;
}

.pointer-completed:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-bg-default);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

.pointer-completed:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid #66748c;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}


//END NORMAL POINTER

//START LAST POINTER
.pointer-last {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary);
    color: var(--fuse-on-primary);
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 0px 20px 20px 0;
}

.pointer-last:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid #fff;;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}



.pointer-last-unselect {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary-200);
    color: var(--fuse-on-primary);
    border-color: #4c9bcf;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 0px 20px 20px 0;
}

.pointer-last-unselect:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid #fff;;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
.pointer-last-completed {
    margin-right: 5px;
    position: relative;
    background-color: #66748c;
    color: var(--fuse-on-primary);
    border-color: #4c9bcf;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 0px 20px 20px 0;
}

.pointer-last-completed:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid #fff;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
.cursor-pointer{
    cursor: pointer;
}

.top-right-container {
    display: flex;
    justify-content: flex-end;
    padding: 18px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; 
}

.edit-hierarchy-btn {
    margin-right: 20px; 
}


