<div class="flex flex-col flex-auto w-full px-8" *ngIf="viewContent">
    <form [formGroup]="primaryKPIForm" class="space-y-6 pb-4" [hidden]="viewHisOpPerformance">

        <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
            <div class=" pb-3 pt-0 flex items-center justify-between">
                <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Value Capture
                    Fields</div>
                <div class="flex items-start justify-between">
                    <div style="padding-right: 5px;">
                        <button class="min-w-26 text-primary bg-gray-200" mat-flat-button *ngIf="editable"
                            [color]="'primary-200'"
                            (click)="projecthubservice.toggleDrawerOpen(bulkEditType, 'new', [], id, true)">
                            Historical Operational Performance Metrics
                        </button>

                        <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                            *ngIf="projecthubservice.roleControllerControl.projectBenefits"
                            (click)="projecthubservice.toggleDrawerOpen('PrimaryKPISingleEdit',this.projectViewDetails.projectData.primaryKpi , [], id)">
                            <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-3 gap-x-6 gap-y-0 w-full">
                <spot-input-date class="w-full read-only" formControlName="vcdate" [label]="'Value Capture Start Date'"
                    [showHint]="true"
                    [hint]="'‘Value Capture Start’ defines the first fiscal year in which value will be captured.'">
                </spot-input-date>
                <!-- <spot-input class="w-full read-only" formControlName="primaryKpi" [label]="'Primary Value Driver'">
            </spot-input> -->
                <spot-singleselect-autocomplete formControlName="primaryKpi" class="w-full read-only"
                    [label]="'Primary Value Driver'" [placeholder]="'Primary Value Driver'"
                    [valuePointer]="'lookUpName'" [dropDownArray]="lookupMasters">
                </spot-singleselect-autocomplete>
                <spot-input class="w-full read-only" formControlName="valueCommentary" [label]="'Value Commentary'">
                </spot-input>
            </div>
        </div>
    </form>
    <!-- <div class="flex justify-between items-start gap-6 w-full" >
        <div class="flex flex-col w-full flex-auto bg-card p-6 mt-6 shadow rounded-2xl overflow-hidden"> -->
    <div class="flex flex-col flex-auto bg-card p-6 pt-4 shadow rounded-2xl overflow-hidden">
        <div class="pb-3 pt-0 flex items-center justify-between">
            <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary"></div>

                <div class="flex items-start justify-between text-primary">
                    <div style="padding-right: 5px;">
                        <button class="min-w-26 ml-4 text-primary bg-gray-200 " *ngIf="editable" mat-flat-button
                            [color]="'primary-200'"
                            (click)="projecthubservice.toggleDrawerOpen(valueCreationViewEditType, 'new', valuecreationngxdata, projectid)">
                            Baseline Plans
                        </button>
                        <!-- <button class="min-w-26 ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                            *ngIf="projecthubservice.roleControllerControl.projectHub.projectBoard.askNeedEdit"
                            (click)="projecthubservice.toggleDrawerOpen(valueCreationBulkEditType, 'new', [], projectid, true)">
                            <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                        </button> -->
                        <button class="mx-4 text-primary bg-gray-200 " *ngIf="editable" mat-flat-button
                            [color]="'primary-200'"
                            (click)="projecthubservice.toggleDrawerOpen(valueCreationViewEditType, 'new', valuecreationngxdata, projectid)">
                            <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                        </button>
                    </div>
                    <!-- <div>
        <form [formGroup]="localIncludedItems">
            <mat-slide-toggle class="primary slider-adjust" formControlName="toggle" (checked)="projecthubservice.includeClosedItems.riskIssue.value"  (change)="toggleBaselinePlans($event)" >
                Baseline Plans</mat-slide-toggle>
        </form>
    </div> -->
                </div>
            </div>
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="pr-6 material font-medium text-sm text-default whitespace-nowrap" [rows]="valuecreationngxdata"
                #valuecreationTable [rowClass]="getRowClass">
                <ngx-datatable-column name="Status" prop="statusId" [resizeable]="false" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Portfolio Owner" prop="portfolioOwnerId" [flexGrow]="2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Category" prop="metricCategoryID" [flexGrow]="2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Metric Name" prop="metricName" [flexGrow]="4">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Units" prop="metricUnit" [flexGrow]="1.5">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Value Capture Level" prop="metricLevelId" [flexGrow]="3">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="" prop="level" [flexGrow]="2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div *ngFor="let item of value">{{ item }}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="FY 2023" prop="FY" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div *ngFor="let item of value">{{ item }}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total" prop="total" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div *ngFor="let item of value">{{ item }}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
        
                        <div class="flex items-center justify-start gap-6" >
                            <a href="javascript:void(0)" *ngIf="editable" title="Edit Single"
                                (click)="projecthubservice.toggleDrawerOpen('ValueCreation', row.projectId, valueCreation)">
                                <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
        
                            </a>
                            </div>
                            </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>

</div>