<div class="w-full min-w-0 p-8 pt-0" #container *ngIf="viewContent">
    <div class="pb-6 pl-2 font-medium tracking-tight leading-6 truncate ">
        <h3 class="text-xl text-primary">General Info</h3>
    </div>
    <!-- Enter Content here-->
    <form class="w-full" [formGroup]="generalInfoForm">
        <div class="flex flex-col flex-auto bg-card p-6 pt-3 shadow rounded-2xl overflow-hidden">
            <div class="flex justify-end items-end">
                <div></div>
                <div>
                    <button class="ml-4 text-primary bg-gray-200"
                            *ngIf="projectHubService.roleControllerControl.generalInfo.basicFields" mat-flat-button
                            [color]="'primary-200'"
                            (click)="projectHubService.toggleDrawerOpen('CloseOutGeneralInfoSingleEdit', '', filterCriteria , id)">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                    </button>
                </div>
            </div>

            <div class="flex justify-between items-center gap-6">
                <spot-input class="w-full read-only" formControlName="problemTitle" name="problemTitle"
                            [label]="'Project Name'">
                </spot-input>
                <spot-input class="w-full read-only" formControlName="projectId" name="problemTitle"
                            [label]="'Project Id'" >
                </spot-input>
            </div>
            <div class="flex justify-between items-center gap-6">
                <spot-input-date class="w-full read-only" formControlName="recordCreationDate" name="dateApproved"
                                 [label]="'Date Approved'"></spot-input-date>
                <div class="w-full"></div>
            </div>
            <div class="flex justify-between items-start gap-6">
                <spot-input class="w-full read-only" formControlName="primaryProduct" name="primaryProduct" [label]="'Primary Product'" [showHint]="true"
                            [hint]="'Select the product which is most impacted by the project. If multiple products without an obvious primary, select one out of the group'">
                </spot-input>
                <spot-multiselect-autocomplete formControlName="otherImpactedProducts" class="w-full read-only" name="otherImpactedProducts"
                                               [label]="'Other Impacted Products'" [valuePointer]="'otherImpactedProducts'" [idPointer]="'otherImpactedProducts'"
                                               [dropDownArray]="getImpactedProducts()" [showHint]="true" [sortByType]="'custom'" [customSortPointer]="'pfid'"
                                               [hint]="'Any additional products which are impacted by the project execution'">
                </spot-multiselect-autocomplete>
            </div>
            <div class="flex justify-between items-start gap-6">
                <spot-input class="w-full read-only" formControlName="owningOrganization" name="owningOrganization" [label]="'Owning Organization'" [showHint]="true"
                            [hint]="'Owning Organization is the TET-level organization sponsoring or accountable for the project outcomes (Only Portfolio Managers can edit after project creation).'">
                </spot-input>
                <spot-input class="w-full read-only" formControlName="opu" name="opu" [label]="'OpU'">
                </spot-input>
            </div>
            <div class="flex justify-between items-center gap-6">
                <spot-input formControlName="portfolioOwner" class="w-full read-only" name="portfolioOwner"
                            [label]="'Portfolio Owner'" [showHint]="true"
                            [hint]="'The group which is responsible for the oversight and process adherence of the record'">
                </spot-input>
                <spot-multiselect-autocomplete formControlName="executionScope" class="w-full read-only" name="executionScope"
                                               [label]="'Execution Scope'" [valuePointer]="'executionScope'" [idPointer]="'executionScope'"
                                               [dropDownArray]="getExecutionScope()" [showHint]="true" [sortByType]="'custom'" [customSortPointer]="'pfid'"
                                               [hint]="'Any impacted groups which will need to provide resources (People, facilities, etc) throughout the life of the project'">
                </spot-multiselect-autocomplete>
            </div>
            <div class="flex justify-between items-center gap-6">
                <spot-input class="w-full read-only" formControlName="sponsor" name="sponsor" [label]="'Sponsor'">
                </spot-input>
                <spot-input class="w-full read-only" formControlName="projectManager" name="projectManager"
                            [label]="'Project Manager'">
                </spot-input>
            </div>
            <div class="flex justify-between items-start gap-6">
                <spot-input class="w-full read-only" formControlName="primaryProduct" name="primaryProduct"
                            [label]="'Parent Project / Program'" [showHint]="true"
                            [hint]="'Select a Parent Program if this project is associated or part of an overall program (Program Record must exist within SPOT already, a project can only have 1 parent but can have multiple children)'">
                </spot-input>
                <div class="w-full">
                    <div class="flex">
                        Good Practice?
                        <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>
                        <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle">
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
