.custom-ngx-table .ngx-datatable .datatable-VC-80 .datatable-body .datatable-scroll {
    height: 80vh !important;
    width: 100vw !important;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
}

.custom-ngx-table .datatable-row-left{
    background: white !important;
    height: 142px !important;
}

.custom-ngx-table .frozen-header-classID {
    top: 120px !important;
    margin-left: 12px !important;
}

.custom-ngx-table .frozen-header-class {
    top: 120px !important;
    margin-left: 2px !important;
}

.custom-ngx-table .column-style {
    top: 120px !important;
    margin-left: -11px !important;
}

.custom-ngx-table .frozen-header {
    top: 120px !important;
    margin-left: 8px !important;
}
.custom-ngx-table .frozen-header-ID {
    top: 120px !important;
    margin-left: 6px !important;
}
.custom-ngx-table .datatable-body{
    height: 80vh !important;
}
.grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto; 
    gap: 16px; 
    width: 100%; 
  }
  
  /* Value Capture Start Date */
  .grid-cols-3 > spot-input-date {
    grid-column: 1; /* First column */
    grid-row: 1; /* First row */
  }
  
  /* Primary Value Driver */
  .grid-cols-3 > spot-input[name="primaryValueDriver"] {
    grid-column: 2;
    grid-row: 1;
  }
  
  /* COP Category */
  .grid-cols-3 > spot-input[name="COPcategory"] {
    grid-column: 2;
    grid-row: 2;
  }
  
  /* Value Commentary */
  .grid-cols-3 > spot-textarea {
    grid-column: 3;
    grid-row: 1 / 3;
  }