<div  class="h-screen">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">
            <div>Fx Rate</div>
        </div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                                         href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
        </div>
    </div>
    <div class="pl-3 w-full overflow-hidden" >
        <div class="overflow-y-hidden datatable-bl-83 h-auto w-[35vw]" id="fundingRequestsTableDiv">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                           class="material datatable-an-80 font-medium text-sm text-default whitespace-nowrap cursor-pointer fast-load-table"
                           [rows]="localCurrency">
                <ngx-datatable-column name="Currency Code" prop="localCurrencyAbbreviation" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Currency Name" prop="localCurrencyName" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p>{{value}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Exchange Rate to JPY" prop="fixRate" [flexGrow]="2" [headerClass]="getNgxDatatableNumberHeader">
                    <ng-template class="pr-36"  let-row="row" let-value="value" ngx-datatable-cell-template>
                        <p style="text-align: right; margin-right: 35px;">{{value.toFixed(5)}}</p>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <div class="absolute bottom-2 w-full px-3">
        <div class="pr-3 flex items-start justify-end mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'"
               (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Ok
            </a>
        </div>
    </div>
</div>
