<ng-container *ngIf="viewContent">
    <div class="w-full min-w-0 p-8 pt-0" #container *ngIf="viewContent">
        <!-- Enter Content here-->

        <form class="w-full" [formGroup]="costFundingForm">

            <!-- <div class="flex flex-col flex-auto bg-card p-6 pt-3 shadow rounded-2xl overflow-hidden"> -->
            <div class="flex justify-end items-end">
                <div></div>
                <div>
                    <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                        (click)="projectHubService.toggleDrawerOpen(costEditType, '' , cost , id)"
                        *ngIf="projectHubService.roleControllerControl.generalInfo.basicFields && mode== 'Project-Charter'">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                    </button>
                    <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                        (click)="projectHubService.toggleDrawerOpen(costBCbulkEditType, '' , cost , id)"
                        *ngIf="projectHubService.roleControllerControl.generalInfo.basicFields && optionType== 'recommended-option' && mode!= 'Project-Charter'">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                    </button>
                    <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                        (click)="projectHubService.toggleDrawerOpen(costBCbulkEditType, '' , cost , id)"
                        *ngIf="projectHubService.roleControllerControl.generalInfo.basicFields && optionType== 'option-2' && mode!= 'Project-Charter'">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                    </button>
                    <button class="ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                        (click)="projectHubService.toggleDrawerOpen(costBCbulkEditType, '' , cost , id)"
                        *ngIf="projectHubService.roleControllerControl.generalInfo.basicFields && optionType== 'option-3' && mode!= 'Project-Charter'">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Edit
                    </button>
                </div>
            </div>
        </form>
        <!--Form Elements Start here-->
        <form [ngClass]="mode=='Project-Charter' ? 'w-3/4' : 'w-full'" [formGroup]="costFundingForm"
            *ngIf="mode=='Project-Charter' || (mode!='Project-Charter' && optionType == 'recommended-option')">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="pr-6 material font-medium text-sm text-default whitespace-nowrap" [rows]="costData" #costTable>
                <ngx-datatable-column name="Category" prop="category" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.3">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <div style="display:flex; align-items:center;">
                            <span>{{value}}</span>
                            <mat-icon *ngIf="row.category.includes('Total CAPEX')" matTooltip="{{ 'Please reference the Capital Request for Estimate (RFE) process prior to 
                                entering cost estimates (Veeva Document #GD-007364)' }}"
                                style="font-size: 14px; margin-left: 3px;">help</mat-icon>
                        </div>
                        <!-- <p  [title]="'This is the category column. Each row represents an item categorized as ' + value">{{value}}</p> -->
                        <!-- <mat-hint *ngIf="row.category.includes('Total CAPEX')">{{ 'This is the category column. Each row represents an item categorized as '}}</mat-hint> -->
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Base Case" prop="baseCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.4" *ngIf="mode=='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category == '# Functions Required'">
                        </spot-input>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Total')" [autoAddDecimal]="false" [inputType]="'Number'"
                            [decimalCount]="0">
                        </spot-input>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Duration') || row.category.includes('People')"
                            [autoAddDecimal]="true" [inputType]="'Number'" [decimalCount]="1">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="Base Case" prop="baseCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.4" *ngIf="mode!='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Total')" [autoAddDecimal]="false" [inputType]="'Number'"
                            [decimalCount]="0">
                        </spot-input>
                        <spot-input-date class="w-full read-only" formControlName="{{value}}" [showLabel]="false"
                            *ngIf="row.category.includes('Project Spend Start') || row.category.includes('Asset in Service')"></spot-input-date>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="High Case" prop="highCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.4" *ngIf="mode=='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <!-- <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}" *ngIf="row.category != '# Functions Required'">
                            </spot-input> -->
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Total') && row.category != '# Functions Required'"
                            [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Duration') || row.category.includes('People') && row.category != '# Functions Required'"
                            [autoAddDecimal]="true" [inputType]="'Number'" [decimalCount]="1">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="High Case" prop="highCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.4" *ngIf="mode!='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

                        <p
                            *ngIf="row.category.includes('Asset in Service') || row.category.includes('Project Spend Start')">
                            N/A</p>
                        <mat-icon svgIcon="heroicons_outline:x-circle"
                            *ngIf="!costFundingForm.controls.assetInServiceNa.value && row.category.includes('Asset in Service')">
                        </mat-icon>
                        <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                            *ngIf="costFundingForm.controls.assetInServiceNa.value && row.category.includes('Asset in Service')">
                        </mat-icon>
                        <mat-icon svgIcon="heroicons_outline:x-circle"
                            *ngIf="!costFundingForm.controls.isProjectSpentNa.value && row.category.includes('Project Spend Start')">
                        </mat-icon>
                        <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                            *ngIf="costFundingForm.controls.isProjectSpentNa.value && row.category.includes('Project Spend Start')">
                        </mat-icon>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Total') && row.category != '# Functions Required'"
                            [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Current Year Planned Spend" prop="curryearSpend" [resizeable]="false"
                    [sortable]="false" [flexGrow]="0.4" *ngIf="mode!='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Total CAPEX')" [autoAddDecimal]="false" [inputType]="'Number'"
                            [decimalCount]="0">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

            <!-- </div> -->
        </form>
    </div>
    <form [ngClass]="mode=='Project-Charter' ? 'w-3/4' : 'w-full'" [formGroup]="costFundingForm">
        <div class="flex justify-start items-center gap-3 pb-6">
            CAPEX Required
            <mat-icon svgIcon="heroicons_outline:x-circle" *ngIf="!costFundingForm.controls.capexRequired.value">
            </mat-icon>
            <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                *ngIf="costFundingForm.controls.capexRequired.value">
            </mat-icon>
        </div>
        <div *ngIf="costFundingForm.controls['capexRequired'].value">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="pr-6 material font-medium text-sm text-default whitespace-nowrap" [rows]="costData1" #costTable>
                <ngx-datatable-column name="Category" prop="category" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.3">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <div style="display:flex; align-items:center;">
                            <span>{{value}}</span>
                            <mat-icon *ngIf="row.category.includes('Total CAPEX')" matTooltip="{{ 'Please reference the Capital Request for Estimate (RFE) process prior to 
                                entering cost estimates (Veeva Document #GD-007364)' }}"
                                style="font-size: 14px; margin-left: 3px;">help</mat-icon>
                        </div>
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="Base Case" prop="baseCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.4" *ngIf="mode!='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Total CAPEX')" [autoAddDecimal]="false" [inputType]="'Number'"
                            [decimalCount]="0">
                        </spot-input>
                        <spot-input-date class="w-full read-only" formControlName="{{value}}" [showLabel]="false"
                            *ngIf="row.category.includes('Project Spend Start') || row.category.includes('Asset in Service')"></spot-input-date>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="High Case" prop="highCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.4" *ngIf="mode!='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

                        <p
                            *ngIf="row.category.includes('Asset in Service') || row.category.includes('Project Spend Start')">
                            N/A</p>
                        <mat-icon svgIcon="heroicons_outline:x-circle"
                            *ngIf="!costFundingForm.controls.assetInServiceNa.value && row.category.includes('Asset in Service')">
                        </mat-icon>
                        <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                            *ngIf="costFundingForm.controls.assetInServiceNa.value && row.category.includes('Asset in Service')">
                        </mat-icon>
                        <mat-icon svgIcon="heroicons_outline:x-circle"
                            *ngIf="!costFundingForm.controls.isProjectSpentNa.value && row.category.includes('Project Spend Start')">
                        </mat-icon>
                        <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                            *ngIf="costFundingForm.controls.isProjectSpentNa.value && row.category.includes('Project Spend Start')">
                        </mat-icon>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Total CAPEX') && row.category != '# Functions Required'"
                            [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Current Year Planned Spend" prop="curryearSpend" [resizeable]="false"
                    [sortable]="false" [flexGrow]="0.4" *ngIf="mode!='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            *ngIf="row.category.includes('Total CAPEX')" [autoAddDecimal]="false" [inputType]="'Number'"
                            [decimalCount]="0">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <div class="flex justify-start items-center gap-3 pb-6">
            OPEX Required (non-FTE)
            <mat-icon svgIcon="heroicons_outline:x-circle" *ngIf="!costFundingForm.controls.opexRequired.value">
            </mat-icon>
            <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"
                *ngIf="costFundingForm.controls.opexRequired.value">
            </mat-icon>
        </div>
        <div *ngIf="costFundingForm.controls['opexRequired'].value">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="pr-6 material font-medium text-sm text-default whitespace-nowrap" [rows]="costData2" #costTable>
                <ngx-datatable-column name="Category" prop="category" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.3">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <div style="display:flex; align-items:center;">
                            <span>{{value}}</span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="Base Case" prop="baseCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.4" *ngIf="mode!='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="High Case" prop="highCase" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.4" *ngIf="mode!='Project-Charter'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <spot-input class="w-full read-only" [showLabel]="false" formControlName="{{value}}"
                            [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0">
                        </spot-input>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name=" " prop="curryearSpend" [resizeable]="false" [sortable]="false"
                    [flexGrow]="0.4" *ngIf="mode!='Project-Charter'" [hidden]="true">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </form>
</ng-container>