.custom{
    margin-left: 11px;
    margin-right: -5px;
    padding-right: 5px;
    margin-bottom: 12px;
    padding-left: 10px;
}

.customPrimary {
    margin-left: 2px;
    margin-right: -13px;
    padding-right: 5px;
    margin-bottom: 12px;
    padding-left: 10px;
}

.margin{
    margin-left: -20px !important;
}