<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Edit Resource Heirarchy</div>
        <div style="padding-top: 2px"><a (click)="resourceadminservice.toggleDrawerOpen('', '',[],'',true)"
                href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <div class="overflow-x-auto m-2 pr-2">
        <form [formGroup]="RMForm">
            <div class="portfolio-dropdown">
                <spot-singleselect-autocomplete
                    formControlName="managingPortfolio"
                    class="w-full" required
                    [label]="'Portfolio'"
                    [placeholder]="'Select Portfolio'"
                    [valuePointer]="'portfolioOwner'"
                    [dropDownArray]="portfolioOwnerList"
                    [sortByType]="'custom'"
                    [customSortPointer]="'portfolioOwner'">
                </spot-singleselect-autocomplete>
            </div>
        </form>        

 <!-- Functions Display -->
 <div  *ngIf="RMForm.get('managingPortfolio').value">
 <div>
    <h1 style="font-weight: bold;">Resource Hierarchy</h1>
</div>
<div *ngFor="let function of functions" class="function-item">
    <div class="flex items-center justify-between mb-2">
        <span>{{ function.lookUpName }}</span>
        <mat-slide-toggle [(ngModel)]="function.selected" (change)="toggleFunction(function)">
        </mat-slide-toggle>
    </div>
    <!-- Check if function is selected to display its departments -->
    <div *ngIf="function.selected">
        <div *ngFor="let department of function.departments" class="department-item">
            <div class="flex items-center justify-between mb-2">
                <span>{{ department.lookUpName }}</span>
                <div class="flex items-center">
                    <mat-slide-toggle [(ngModel)]="department.selected" (change)="toggleDepartment(function, department)">
                    </mat-slide-toggle>
                    <a href="javascript:void(0)"
                title="Edit Team"
                (click)="editTeam()">
                <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
            </a>
                </div>
            </div>
            <!-- Check if department is selected to display its teams -->
            <div *ngIf="department.selected">
                <ul class="team-list">
                    <li *ngFor="let team of department.teams" class="team-item">
                        {{ team.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

  
          
    </div>
</div>