.portfolio-dropdown {
    margin-bottom: 20px;
  }
  
  .function-item {
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .department-item .department-header button {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .team-item {
    list-style: none;
  }
  
  .team-item button {
    margin-left: 10px;
  }
  