.portfolio-dropdown {
    margin-bottom: 20px;
  }
  
  .function-item {
    margin-top: 10px;
    padding: 10px;
  }
  
  .department-item .department-header button {
    cursor: pointer;
  }
  .department-item {
    padding-left: 20px;
  }
  .team-item {
    list-style: none;
    padding-left: 40px;
  }
  
  .team-item button {
    margin-left: 10px;
  }
  