<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Benefits Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                                         href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
        </div>
    </div>
    <form class="w-full overflow-hidden" [formGroup]="benefitsInfoForm" (ngSubmit)="submitBenefitsEdit()"
          style="overflow-y: scroll; height: 95vh;">
        <div class=" form-ask-need h-[87vh] overflow-y-scroll">
            <div class="text-primary">Strategic Alignment</div>
            <spot-textarea formControlName="strategicAlignment">
            </spot-textarea>
            <spot-textarea formControlName="strategicAlignmentJustification"
                        [placeholder]="'Justify linkage to the identified strategic element'">
            </spot-textarea>
            <br>
            <div class="text-primary">NPV</div>
            <spot-input class="w-full read-only" [showLabel]="true" [label]="'Base Case (' + this.localCurrency.localCurrencyAbbreviation + ')'" formControlName="npvBaseCase"
                        [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"> </spot-input>
            <spot-input class="w-full read-only" [showLabel]="true" [label]="'High Case (' + this.localCurrency.localCurrencyAbbreviation + ')'" formControlName="npvHighCase"
                        [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"> </spot-input>
            <spot-textarea formControlName="npvRationale"
                        [placeholder]="'Justify linkage to the identified strategic element'">
            </spot-textarea>
        </div>
        <div class="flex items-start justify-between  form-ask-need">
            <a class="w-25" mat-flat-button [color]="'primary'"
               (click)="this.projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
