<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Benefits Edit</div>
    <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                                     href="javascript:void(0)" title="Close">
        <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
    </a>
    </div>
</div>
<form class="w-full form-ask-need" [formGroup]="benefitsInfoForm" (ngSubmit)="submitBenefitsEdit()"
      style="overflow-y: scroll; height: 95vh;">
    <div class="text-primary">Strategic Alignment</div>
    <spot-textarea formControlName="strategicAlignment">
    </spot-textarea>
    <spot-textarea formControlName="strategicAlignmentJustification"
                   [placeholder]="'Justify linkage to the identified strategic element'">
    </spot-textarea>
    <br>
    <div class="text-primary">NPV</div>
    <mat-form-field class="w-full" [floatLabel]="'always'">
        <mat-label>Base Case (USD)</mat-label>
        <input matInput formControlName="npvBaseCase" type="number" min="0" placeholder="0" pattern="\d*" />
    </mat-form-field>
    <mat-form-field class="w-full" [floatLabel]="'always'">
        <mat-label>High Case (USD)</mat-label>
        <input matInput formControlName="npvHighCase" type="number" min="0" placeholder="0" pattern="\d*" />
    </mat-form-field>
    <spot-textarea formControlName="npvRationale"
                   [placeholder]="'Justify linkage to the identified strategic element'">
    </spot-textarea>


    <div class="flex items-start justify-between mt-6">
        <a class="w-25" mat-flat-button [color]="'primary'"
           (click)="this.projectHubService.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>
