<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-5xl">
        <div class="max-w-none mx-auto prose prose-sm flex justify-between items-center">
            <div class="w-1/2 h-auto">
                <img class="w-full h-auto" src="assets/images/logo/logo.png" alt="Logo image">
            </div>
            <div class="w-1/2 h-auto">
                <h1>Access Denied!</h1>
                <h4>We regret to inform you that your access to this resource is currently restricted. To resolve this matter and regain access, we kindly request that you reach out to our dedicated support team. Please direct your inquiry to <a href="{{supportUrl}}">dl.Spotsupport@Takeda.com</a>, and one of our team members will assist you promptly.
                    <br><br>Thank you for your understanding and cooperation.
                </h4>
            </div>
        </div>
    </div>
</div>