<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Project Requirements Edit</div>
    <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                                     href="javascript:void(0)" title="Close">
        <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
    </a>
    </div>
</div>
<form class="w-full overflow-hidden" [formGroup]="projectRequirementsForm" (ngSubmit)="submitProjectRequirementsEdit()"
      style="overflow-y: scroll; height: 95vh;">
    <div class=" form-ask-need h-[87vh] overflow-y-scroll">
        <spot-input-date formControlName="proposedExecutionStart"  [label]="'Proposed Execution Start'"
                         [placeholder]="'Choose a date'">
        </spot-input-date>
        <spot-input-date formControlName="proposedExecutionEnd"  [label]="'Proposed Execution End'"
                         [placeholder]="'Choose a date'">
        </spot-input-date>
        <spot-select formControlName="functionsRequiredId"  [label]="'# Functions Required'"
                     [placeholder]="'Select and/or Type to Search'" [showNoneOption]="true" [noneOptionCustomText]="'None'"
                     [dropDownArray]="getFunctionsRequired()" [idPointer]="'lookUpId'"
                     [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-select>
        <spot-input class="w-full read-only" [showLabel]="true" [label]="'Estimated FTEs'" formControlName="estimatedFTE"
                    [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"> </spot-input>
        <spot-select formControlName="shutdownRequired"  [label]="'Shutdown Required'"
                     [placeholder]="'Select and/or Type to Search'" [showNoneOption]="true" [noneOptionCustomText]="'None'"
                     [dropDownArray]="getYesNo()" [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                     [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-select>
        <spot-select formControlName="regulatoryApprovalNeeded"  [label]="'Regulatory Approval Needed'"
                     [placeholder]="'Select and/or Type to Search'" [showNoneOption]="true" [noneOptionCustomText]="'None'"
                     [dropDownArray]="getYesNo()" [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                     [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-select>
        <spot-input class="w-full read-only" [showLabel]="true" [label]="'CAPEX (Total Estimate ' + this.localCurrency.localCurrencyAbbreviation + ')'" formControlName="totalCapExBaseCase"
                    [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"> </spot-input>
        <spot-input class="w-full read-only" [showLabel]="true" [label]="'OPEX (Total Estimate ' + this.localCurrency.localCurrencyAbbreviation + ')'" formControlName="totalNonFTEOpExBaseCase"
                    [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"> </spot-input>
        <spot-select formControlName="planFundingRequired"  [label]="'Plan Funding Required'"
                     [placeholder]="'Select and/or Type to Search'" [showNoneOption]="true" [noneOptionCustomText]="'None'"
                     [dropDownArray]="getYesNo()" [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                     [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-select>
        <spot-input class="w-full read-only" [showLabel]="true" [label]="'How Much (' + this.localCurrency.localCurrencyAbbreviation + ')'" formControlName="howMuch"
                    [autoAddDecimal]="false" [inputType]="'Number'" [decimalCount]="0"> </spot-input>
        <spot-select formControlName="budgetInPlan"  [label]="'Budget in Plan'"
                     [placeholder]="'Select and/or Type to Search'" [showNoneOption]="true" [noneOptionCustomText]="'None'"
                     [dropDownArray]="getYesNo()" [dropDownArrayType]="'object'" [idPointer]="'lookUpId'"
                     [valuePointer]="'lookUpName'" [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
        </spot-select>
    </div>
    <div class="flex items-start justify-between  form-ask-need">
        <a class="w-25" mat-flat-button [color]="'primary'"
           (click)="this.projectHubService.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>
