<mat-drawer-container class="flex-auto h-full" [ngStyle]="{ 'position' : FxRateDrawer.opened ? 'fixed' : 'relative'}">
    <!-- Drawer -->
    <mat-drawer [ngClass]="{'w-1qua': true, 'dark:bg-gray-900': true, 'overflow-hidden': true}" [autoFocus]="false"
        [mode]="'over'" [position]="'end'" #FxRateDrawer>
        <div class="h-screen">
            <div class="flex items-start justify-between bg-primary sidepanel-header">
                <div class="text-on-primary" style="padding-top: 65px">
                    <div>Fx Rate</div>
                </div>
                <div style="padding-top: 69px"><a (click)="FxRateDrawer.toggle()"
                        href="javascript:void(0)" title="Close">
                        <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
                    </a>
                </div>
            </div>
            <div class="pl-3 w-full overflow-hidden">
                <div class="overflow-y-hidden datatable-bl-83 h-[77.5vh]" id="fundingRequestsTableDiv">
                    <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                        class="material datatable-an-80 font-medium text-sm text-default whitespace-nowrap cursor-pointer fast-load-table"
                        [rows]="localCurrency">
                        <ngx-datatable-column name="Currency Code" prop="localCurrencyAbbreviation" [flexGrow]="2.5">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <p>{{value}}</p>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Exchange Rate to JPY" prop="fixRate" [flexGrow]="2.5">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <p>{{value.toFixed(5)}}</p>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div style="text-align: right !important;">
                <button class="apply-button" mat-flat-button [color]="'primary'" (click)="FxRateDrawer.toggle()">
                    OK
                </button>
            </div>
        </div>

    </mat-drawer>
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6 flex-auto p-6 sm:p-10">
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 w-full min-w-0 mt-12">
            <div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden bg-card shadow rounded-2xl">
                <div class="flex flex-col flex-auto  overflow-hidden p-6 w-full" style="height: 90vh !important;">
                    <div>
                        <div class="pb-3 pt-0 flex items-center justify-between">
                            <form class="w-full grid-cols-4 grid" [formGroup]="ForecastForm">
                                <spot-singleselect-autocomplete class="w-full custom" formControlName="ForecastType"
                                    name="ForecastType" [label]="'Forecast Type'" [placeholder]="'Forecast Type'"
                                    [valuePointer]="'lookUpName'" [dropDownArray]="getForecastType()"
                                    [sortByType]="'custom'" [customSortPointer]="'lookUpOrder'">
                                </spot-singleselect-autocomplete>
                                <spot-singleselect-autocomplete
                                    *ngIf="ForecastForm.controls.PM.value != '' || ForecastForm.controls.PM.value.length != 0"
                                    class="w-full custom" formControlName="Currency" name="Currency"
                                    [label]="'Currency'" [placeholder]="'Currency'" [valuePointer]="'lookUpName'"
                                    [dropDownArray]="getForecastType()" [sortByType]="'custom'"
                                    [customSortPointer]="'lookUpOrder'">
                                </spot-singleselect-autocomplete>
                                <spot-multiselect-user-autocomplete formControlName="PM"
                                    [placeholder]="'Project Manager'" [label]="'Project Manager'" name="PM"
                                    [showLabel]="true">
                                </spot-multiselect-user-autocomplete>
                                <a class="customIcon"
                                    *ngIf="ForecastForm.controls.PM.value != '' || ForecastForm.controls.PM.value.length != 0"
                                    href="mailto:someone@example.com ? Subject = SPOT Project Management – Forecast / Budget Updates"><mat-icon
                                        [svgIcon]="'heroicons_solid:mail'"></mat-icon></a>
                            </form>
                            <div class="flex items-center justify-center">
                                <button class="text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                                    (click)=openDrawer()>
                                    <mat-icon svgIcon="heroicons_solid:currency-dollar"></mat-icon>&nbsp; FxRates
                                </button>
                            </div>
                        </div>

                        <div class="mxflex flex-col flex-auto bg-card mt-6 shadow rounded-2xl overflow-hidden">
                            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarH]="true"
                                [scrollbarV]="false" columnMode="force"
                                class="font-medium text-sm text-default whitespace-nowrap datatable-CX-80"
                                [rows]="fundingRequests">
                                <ngx-datatable-column name="Reference" prop="reference" [width]="100" [sortable]="false"
                                    [resizeable]="false" [frozenLeft]="true">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Currency" prop="reference" [width]="100" [sortable]="false"
                                    [resizeable]="false" [frozenLeft]="true">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="LBE" prop="reference" [width]="100" [sortable]="false"
                                    [resizeable]="false" [frozenLeft]="true">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Historical" prop="reference" [width]="120"
                                    [sortable]="false" [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Apr" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="May" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jun" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jul" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Aug" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Sep" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Oct" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Nov" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Dec" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jan" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Feb" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Mar" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2023" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Apr" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="May" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jun" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jul" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Aug" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Sep" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Oct" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Nov" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Dec" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jan" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Feb" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Mar" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2024" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2025" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2026" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2027" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2028+" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="TotalCAPEX" prop="reference" [width]="120"
                                    [sortable]="false" [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>

                        <div class="mxflex flex-col flex-auto bg-card mt-6 shadow rounded-2xl overflow-hidden">
                            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarH]="true"
                                [scrollbarV]="false" columnMode="force"
                                class="font-medium text-sm text-default whitespace-nowrap datatable-CX-80"
                                [rows]="fundingRequests">
                                <ngx-datatable-column name="Budget ID" prop="reference" [width]="100" [sortable]="false"
                                    [resizeable]="false" [frozenLeft]="true">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Project ID" prop="reference" [width]="100"
                                    [sortable]="false" [resizeable]="false" [frozenLeft]="true">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Project Name" prop="reference" [width]="100"
                                    [sortable]="false" [resizeable]="false" [frozenLeft]="true">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="PM" prop="reference" [width]="100" [sortable]="false"
                                    [resizeable]="false" [frozenLeft]="true">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Currency" prop="reference" [width]="100" [sortable]="false"
                                    [resizeable]="false" [frozenLeft]="true">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Historical" prop="reference" [width]="120"
                                    [sortable]="false" [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Apr" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="May" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jun" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jul" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Aug" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Sep" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Oct" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Nov" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Dec" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jan" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Feb" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Mar" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2023" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Apr" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="May" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jun" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jul" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Aug" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Sep" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Oct" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Nov" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Dec" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Jan" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Feb" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Mar" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2024" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2025" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2026" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2027" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="FY2028+" prop="reference" [width]="120" [sortable]="false"
                                    [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Total CAPEX" prop="reference" [width]="120"
                                    [sortable]="false" [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Period Submitted By" prop="reference" [width]="120"
                                    [sortable]="false" [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Period Submitted Date/Time" prop="reference" [width]="120"
                                    [sortable]="false" [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Period Submitted Reference" prop="reference" [width]="120"
                                    [sortable]="false" [resizeable]="false">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <p>{{value}}</p>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-drawer-container>