<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header" style="margin-bottom: 10px">
        <div class="text-on-primary" style="padding-top: 6px">Incomplete Milestone(s)/Ask/Need(s)/Issue(s)</div>
        <div style="padding-top: 2px">
            <a (click)="this.projectHubService.toggleDrawerOpen('', '', [], '')
                            " href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <div class="pl-3 mt-3 min-h-[88vh]">
        <a style="color:red" > Before the project can be set to completed, all milestones, ask/needs and risk/issues need to be closed!</a>
        <div *ngIf="showMilestoneTable" class="w-full overflow-hidden mt-3 max-h-[30vh]">
            <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">
                Incomplete Milestone(s)
            </div>
            <ngx-datatable class="datatable-state-check material font-medium text-sm text-secondary whitespace-nowrap"
                           [rows]="scheduleNgxData" #scheduleTable columnMode="flex" [headerHeight]="'auto'" [rowHeight]="'auto'"
                           [scrollbarV]="false" [rowClass]="getRowClass">
                <ngx-datatable-column name="Milestone" prop="milestone" [resizeable]="false" [sortable]="false"
                                      [flexGrow]="0.9">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)"
                           [ngClass]="{'closed': row.completionDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>
                            <strong>
                                <p *ngIf="value == 'Execution Start - ' || value == 'Execution End - '" class="nostartName">{{value}}
                                    Insert Milestone Name</p>
                            </strong>
                            <p *ngIf="value != 'Execution Start - ' && value != 'Execution End - '">{{value}}</p>
                        </a>
                        <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
                            <spot-textarea [rows]="3" formControlName="milestone" name="milestone" [showLabel]="false">
                                <!-- [placeholder]="'Milestone Name'" -->
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Planned Finish" prop="plannedFinish" [resizeable]="false" [sortable]="false"
                                      [flexGrow]="0.7">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)"
                           [ngClass]="{'closed': row.completionDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>{{value |
                            date:'dd-MMM-yyyy'}}
                        </a>
                        <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
                            <spot-input-date formControlName="plannedFinish" name="plannedFinish" [showLabel]="false">
                            </spot-input-date>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Baseline Finish" prop="baselineFinish" [resizeable]="false" [sortable]="false"
                                      [flexGrow]="0.6">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a (click)="milestoneTableEditRow(rowIndex)"
                           [ngClass]="{'closed': row.completionDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>{{value |
                            date:'dd-MMM-yyyy'}}
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Variance" prop="variance" [resizeable]="false" [sortable]="false" [flexGrow]="0.4">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <div class="variance" [ngClass]="{'closed': row.completionDate != null}">
                            {{calculateVariance(row)}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Responsible Person" prop="responsiblePersonName" [resizeable]="false"
                                      [sortable]="false" [flexGrow]="0.7">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)"
                           [ngClass]="{'closed': row.completionDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
                            <spot-singleselect-user-autocomplete formControlName="responsiblePersonName" name="responsiblePersonName"
                                                                 [showLabel]="false">
                            </spot-singleselect-user-autocomplete>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Function Owner" prop="functionGroupId" [resizeable]="false" [sortable]="false"
                                      [flexGrow]="0.8">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)"
                           [ngClass]="{'closed': row.completionDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>
                            {{getLookUpName(value)}}
                        </a>
                        <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
                            <spot-singleselect-autocomplete formControlName="function" [showLabel]="false"
                                                            [valuePointer]="'lookUpName'" [dropDownArray]="getFunctionOwner()">
                            </spot-singleselect-autocomplete>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Completion Date" prop="completionDate" [resizeable]="false" [sortable]="false"
                                      [flexGrow]="0.7">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)"
                           [ngClass]="{'closed': row.completionDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>{{value |
                            date:'dd-MMM-yyyy'}}
                        </a>
                        <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
                            <spot-input-date formControlName="completionDate" name="completionDate" [showLabel]="false"
                                             [max]="'today'"></spot-input-date>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Comments" prop="comments" [resizeable]="false" [sortable]="false" [flexGrow]="0.7">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!milestoneTableEditStack.includes(rowIndex)" (click)="milestoneTableEditRow(rowIndex)"
                           [ngClass]="{'closed': row.completionDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="milestoneForm.controls[rowIndex]" *ngIf="milestoneTableEditStack.includes(rowIndex)">
                            <spot-textarea [rows]="3" formControlName="comments" name="comments" [showLabel]="false">
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <mat-divider *ngIf="showMilestoneTable"></mat-divider>
        <div *ngIf="showRiskIssueTable" class="w-full mt-7 max-h-[30vh]">
            <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">
                Incomplete Risk/Issue(s)
            </div>
            <ngx-datatable *ngIf="viewContent" [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false"
                           columnMode="flex"
                           class="material datatable-state-check font-medium text-sm text-secondary whitespace-nowrap cursor-pointer"
                           [rows]="riskIssuesNgxData" #riskIssueTable [rowClass]="getRowClass">
                <ngx-datatable-column name="Type" prop="riskIssueTypeId" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!riTableEditStack.includes(rowIndex)"
                           (click)="riTableEditRow(rowIndex)">
                            <p *ngIf="value == '6feabe5a-575a-4a08-85de-f429abc3f088'"
                               [ngClass]="{'closed': row.closeDate != null}">Risk</p>
                            <p *ngIf="value == '2d9dbd40-14ec-47b3-badd-c5a63eb3dbd5'"
                               [ngClass]="{'closed': row.closeDate != null}">Issue</p>
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-select formControlName="riskIssueTypeId" name="type" [placeholder]="'Type'"
                                         [dropDownArrayType]="'object'" [dropDownArray]="getissuetype()" [idPointer]="'lookUpId'"
                                         [valuePointer]="'lookUpName'">
                            </spot-select>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date Initiated" prop="logDate" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!riTableEditStack.includes(rowIndex)"
                           (click)="riTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value | date:'dd-MMM-yyyy'}}</p>
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-input-date formControlName="logDate" [showLabel]="false">
                            </spot-input-date>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="If This Happens" prop="ifHappens" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!riTableEditStack.includes(rowIndex)"
                           (click)="riTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="ifHappens" [showLabel]="false"></spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Probability" prop="probabilityId" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!riTableEditStack.includes(rowIndex)" (click)="riTableEditRow(rowIndex)" [ngClass]="{'closed': row.closeDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>
                            {{getLookUpName(value)}}
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-select formControlName="probabilityId" name="probability" [placeholder]="'Probability'"
                                         [dropDownArrayType]="'object'" [dropDownArray]="getProbability()" [idPointer]="'lookUpId'"
                                         [valuePointer]="'lookUpName'">
                            </spot-select>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="This is the result" prop="riskIssueResult" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!riTableEditStack.includes(rowIndex)"
                           (click)="riTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="riskIssueResult" [showLabel]="false"></spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Impact" prop="impactId" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!riTableEditStack.includes(rowIndex)" (click)="riTableEditRow(rowIndex)" [ngClass]="{'closed': row.closeDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>
                            {{getLookUpName(value)}}
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                                <spot-select formControlName="impactId" name="impact" [placeholder]="'Impact'"
                                             [dropDownArrayType]="'object'" [dropDownArray]="getimpact()" [idPointer]="'lookUpId'"
                                             [valuePointer]="'lookUpName'">
                                </spot-select>
                            </form>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Mitigation" prop="mitigation" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!riTableEditStack.includes(rowIndex)"
                           (click)="riTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="mitigation" [showLabel]="false"></spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Owner" prop="ownerName" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!riTableEditStack.includes(rowIndex)"
                           (click)="riTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-singleselect-user-autocomplete formControlName="owner" [showLabel]="false"
                                                                 [label]="'Owner'"
                                                                 [placeholder]="'Type Last, First Name or e-Mail Address and hit enter'">
                            </spot-singleselect-user-autocomplete>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Function Owner" prop="functionGroupId" [resizeable]="false" [sortable]="false"
                                      [flexGrow]="0.8">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!riTableEditStack.includes(rowIndex)" (click)="riTableEditRow(rowIndex)" [ngClass]="{'closed': row.closeDate != null}">
                            <p *ngIf="value == ''">&nbsp;</p>
                            {{getLookUpName(value)}}
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-select formControlName="functionGroupId" name="functionGroupId" [placeholder]="'Function'"
                                         [dropDownArrayType]="'object'" [dropDownArray]="getFunctionOwner()" [idPointer]="'lookUpId'"
                                         [valuePointer]="'lookUpName'">
                            </spot-select>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Due Date" prop="dueDate" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!riTableEditStack.includes(rowIndex)"
                           (click)="riTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value | date:'dd-MMM-yyyy'}}</p>
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-input-date formControlName="dueDate" [showLabel]="false">
                            </spot-input-date>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Close Date" prop="closeDate" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!riTableEditStack.includes(rowIndex)"
                           (click)="riTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value | date:'dd-MMM-yyyy'}}</p>
                        </a>
                        <form [formGroup]="riskIssueForm.controls[rowIndex]" *ngIf="riTableEditStack.includes(rowIndex)">
                            <spot-input-date formControlName="closeDate" [showLabel]="false">
                            </spot-input-date>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <mat-divider *ngIf="showRiskIssueTable"></mat-divider>
        <div *ngIf="showAskNeedsTable" class="w-full mt-7 max-h-[30vh]">
            <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">
                Incomplete Ask/Need
            </div>
            <ngx-datatable *ngIf="viewContent" [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false"
                           columnMode="flex"
                           class="material datatable-state-check font-medium text-sm text-secondary whitespace-nowrap cursor-pointer"
                           [rows]="askNeedsNgxData" #askNeedTable [rowClass]="getRowClass">
                <ngx-datatable-column name="Ask Or Need" prop="askNeed1" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!anTableEditStack.includes(rowIndex)"
                           (click)="anTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="askNeedForm.controls[rowIndex]" *ngIf="anTableEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="askNeed1" [showLabel]="false"></spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Need From" prop="needFromName" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!anTableEditStack.includes(rowIndex)"
                           (click)="anTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="askNeedForm.controls[rowIndex]" *ngIf="anTableEditStack.includes(rowIndex)">
                            <spot-singleselect-user-autocomplete formControlName="needFrom" [showLabel]="false"
                                                                 [label]="'Team Member(s)'"
                                                                 [placeholder]="'Type Last, First Name or e-Mail Address and hit enter'">
                            </spot-singleselect-user-autocomplete>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Need Date" prop="needByDate" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!anTableEditStack.includes(rowIndex)"
                           (click)="anTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value | date:'dd-MMM-yyyy'}}</p>
                        </a>
                        <form [formGroup]="askNeedForm.controls[rowIndex]" *ngIf="anTableEditStack.includes(rowIndex)">
                            <spot-input-date formControlName="needByDate" [showLabel]="false">
                            </spot-input-date>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Comments" prop="comments" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!anTableEditStack.includes(rowIndex)"
                           (click)="anTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value}}</p>
                        </a>
                        <form [formGroup]="askNeedForm.controls[rowIndex]" *ngIf="anTableEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="comments" [showLabel]="false"></spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Close Date" prop="closeDate" [flexGrow]="1" [resizeable]="false"
                                      [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a [ngClass]="{'closed': row.closeDate != null}" *ngIf="!anTableEditStack.includes(rowIndex)"
                           (click)="anTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>
                            <p>{{value | date:'dd-MMM-yyyy'}}</p>
                        </a>
                        <form [formGroup]="askNeedForm.controls[rowIndex]" *ngIf="anTableEditStack.includes(rowIndex)">
                            <spot-input-date formControlName="closeDate" [showLabel]="false">
                            </spot-input-date>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <div class="pr-6 pl-6 flex justify-between items-center w-full mt-3 mb-3">
        <a class="min-w-26" mat-flat-button [color]="'primary'"
           (click)="this.projectHubService.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit"
                (click)="onSubmit()">
            Submit
        </button>
    </div>
</div>
