<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Budget Details Edit</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                                         href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a>
        </div>
    </div>
    <form class="pl-3 w-full overflow-hidden" [formGroup]="budgetInfoForm" (ngSubmit)="submitBudgetInfo()">
        <div [ngClass]="'overflow-y-scroll overflow-x-hidden h-[86.5vh] pt-3 pr-3'">
            <spot-input-date class="w-full read-only" formControlName="assetPlaced" *ngIf="mode=='Asset-In-Service'"
                             [label]="'Asset Placed In Service (Estimate)'" [placeholder]="'Asset Placed In Service (Estimate)'">
            </spot-input-date>
            <div class="flex justify-between items-center mt-3 mb-6" *ngIf="mode=='OPEX'">
                <div class="flex justify-start gap-1 items-center font-medium">OPEX Required
                </div>
                <div>
                    <mat-slide-toggle formControlName="opexRequired"></mat-slide-toggle>
                </div>
            </div>
        </div>
        <div class="pr-3 flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'"
               (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit" >
                Submit
            </button>
        </div>
    </form>
</div>
