<div class="flex items-start justify-between bg-primary sidepanel-header">
    <div class="text-on-primary" style="padding-top: 6px">Overall Status</div>
    <div style="padding-top: 2px"><a (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')"
            href="javascript:void(0)" title="Close">
            <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
        </a></div>
</div>
<form class="w-full form-ask-need" [formGroup]="overallStatusform" (ngSubmit)="submitoverall()"
    style="overflow-y: scroll; height: 95vh;">
    <div class="flex items-start justify-between">
        <mat-form-field [ngClass]="formFieldHelpers" class="w-25" [floatLabel]="'always'">
            <mat-label>Status Through</mat-label>
            <input matInput [matDatepicker]="picker1" [max]="today" [placeholder]="'Choose a date'"
                formControlName="statusThrough" name="statusThrough">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field [ngClass]="formFieldHelpers" class="w-25" [floatLabel]="'always'">
            <mat-label>Last Updated</mat-label>
            <input matInput [matDatepicker]="picker2" [max]="today" [placeholder]="'Last Updated'"
                formControlName="statusLastUpdated" name="statusLastUpdated">
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pl-3 w-full" [floatLabel]="'always'">
        <mat-label>Status Indicator</mat-label>
        <mat-select [placeholder]="'Status Indicator'" formControlName="overallStatusId" name="overallStatusId">
            <mat-option value="">None</mat-option>
            <mat-option value="fdac9aff-0e20-41ef-a851-5d259a4697cc">Green</mat-option>
            <mat-option value="1AB9DC30-D39F-4673-9F11-1F3E7DE1C8D2">Yellow</mat-option>
            <mat-option value="e8f4b0cd-813c-4f7c-a9b5-b955982985d9">Red</mat-option>
        </mat-select>
    </mat-form-field>
    <spot-textarea formControlName="overallStatusDescription" name="overallStatusDescription" [label]="'Overall Status'"
        [placeholder]="'Provide an explanation/justification for any red stop light status indicator.'"
        [showHint]="true" [hint]="'Provide an explanation/justification for any red stop light status indicator.'">
    </spot-textarea>
    <spot-textarea formControlName="recentAccomplishments" name="recentAccomplishments"
        [label]="'Recent Accomplishments'"
        [placeholder]="'Provide a summary/list of major accomplishments since last reporting cycle.'" [showHint]="true"
        [hint]="'Provide a summary/list of major accomplishments since last reporting cycle.'">
    </spot-textarea>
    <spot-textarea formControlName="nextSteps" name="nextSteps" [label]="'Next Priorities'"
        [placeholder]="'Provide a summary for what items/actions the project team will be focusing on in the immediate short term.'"
        [showHint]="true"
        [hint]="'Provide a summary for what items/actions the project team will be focusing on in the immediate short term.'">
    </spot-textarea>
    <div class="flex items-start justify-between pt-6">
        <a class="w-25" mat-flat-button [color]="'primary'"
            (click)="this.projecthubservice.toggleDrawerOpen('', '',[],'')">
            Cancel
        </a>
        <button class="w-25" mat-flat-button [color]="'primary'" type="submit">
            Submit
        </button>
    </div>
</form>