<div *ngIf="viewContent">
    <div class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Bulk Edit Operational Performance</div>
        <div style="padding-top: 2px">
            <a (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)" href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <div class="w-full bg-card rounded-2xl">
        <div class="p-3  flex items-center justify-between">
            <div>
            </div>
            <button class="ml-4 text-primary bg-gray-200"
                *ngIf="projecthubservice.roleControllerControl.projectBenefits" mat-flat-button [color]="'primary-200'"
                (click)="addOP()">
                <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
            </button>
        </div>
        <div class="h-[80vh] overflow-hidden pl-3">
            <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
                class="w-full datatable-op-80 material font-medium text-sm text-secondary whitespace-nowrap cursor-default"
                [rows]="projectViewDetails.overallPerformace" #operationalPerformanceTable>
                <ngx-datatable-column name="Status" [resizeable]="false" [sortable]="false" prop="status"
                    [flexGrow]="0.8">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!operationalPerformanceEditStack.includes(rowIndex)"
                            (click)="operationalPerformanceTableEditRow(rowIndex)">

                            <div class="flex items-center justify-start gap-3">
                                <mat-icon
                                    svgIcon="{{(indicator.getIndicators(getIndicator(value), 'circle')).icontype}}"
                                    class="{{(indicator.getIndicators(getIndicator(value), 'circle')).iconcolor}}">
                                </mat-icon>
                                {{ getLookUpName(value)}}
                            </div>
                        </a>
                        <form [formGroup]="operationalPerformanceForm.controls[rowIndex]"
                            *ngIf="operationalPerformanceEditStack.includes(rowIndex)">
                            <div class="flex justify-start items-center gap-3">
                                <mat-icon
                                    svgIcon="{{(indicator.getIndicators(getIndicator(operationalPerformanceForm.controls[rowIndex]['controls']['status'].value), 'circle')).icontype}}"
                                    class="{{(indicator.getIndicators(getIndicator(operationalPerformanceForm.controls[rowIndex]['controls']['status'].value), 'circle')).iconcolor}}">
                                </mat-icon>
                                <spot-select class="w-full" formControlName="status" [showLabel]="false"
                                    [label]="'Status'" [placeholder]="'Status'" [valuePointer]="'lookUpName'"
                                    [idPointer]="'lookUpId'" [dropDownArrayType]="'object'"
                                    [dropDownArray]="getStatus()" [sortByType]="'custom'"
                                    [customSortPointer]="'lookUpOrder'">
                                </spot-select>
                            </div>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="KPI" prop="kpiid" [flexGrow]="1.6">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!operationalPerformanceEditStack.includes(rowIndex)"
                            (click)="operationalPerformanceTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>{{getKPIName(value)}}
                        </a>
                        <form [formGroup]="operationalPerformanceForm.controls[rowIndex]"
                            *ngIf="operationalPerformanceEditStack.includes(rowIndex)">
                            <spot-singleselect-autocomplete formControlName="kpiid" [showLabel]="false" [label]="'KPI'"
                                [placeholder]="'KPI'" [valuePointer]="'kpiname'"
                                [dropDownArray]="projecthubservice.kpiMasters">
                            </spot-singleselect-autocomplete>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Metric" prop="metric"
                    [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!operationalPerformanceEditStack.includes(rowIndex)"
                            (click)="operationalPerformanceTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="operationalPerformanceForm.controls[rowIndex]"
                            *ngIf="operationalPerformanceEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="metric" [showLabel]="false" [label]="'Metric'"
                                [placeholder]="'Metric'" [rows]="3">
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Baseline" prop="currentState"
                    [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!operationalPerformanceEditStack.includes(rowIndex)"
                            (click)="operationalPerformanceTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="operationalPerformanceForm.controls[rowIndex]"
                            *ngIf="operationalPerformanceEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="currentState" [showLabel]="false" [label]="'Baseline'"
                                [placeholder]="'Baseline'" [rows]="3">
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Target Performance"
                    prop="targetPerformance" [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!operationalPerformanceEditStack.includes(rowIndex)"
                            (click)="operationalPerformanceTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="operationalPerformanceForm.controls[rowIndex]"
                            *ngIf="operationalPerformanceEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="targetPerformance" [showLabel]="false"
                                [label]="'Target Performance'" [placeholder]="'Target Performance'" [rows]="3">
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Actual Performance"
                    prop="actualPerformance" [flexGrow]="1">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!operationalPerformanceEditStack.includes(rowIndex)"
                            (click)="operationalPerformanceTableEditRow(rowIndex)">
                            <p *ngIf="!value">&nbsp;</p>{{value}}
                        </a>
                        <form [formGroup]="operationalPerformanceForm.controls[rowIndex]"
                            *ngIf="operationalPerformanceEditStack.includes(rowIndex)">
                            <spot-textarea formControlName="actualPerformance" [showLabel]="false"
                                [label]="'Actual Performance'" [placeholder]="'Actual Performance'" [rows]="3">
                            </spot-textarea>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false"
                    name="Include In Project Dashboard Report (Max 3)" prop="includeInProjectDashboard"
                    [flexGrow]="0.5">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <a *ngIf="!operationalPerformanceEditStack.includes(rowIndex)"
                            (click)="operationalPerformanceTableEditRow(rowIndex)" class="w-full">
                            <p *ngIf="!value">&nbsp;</p>
                            <mat-icon svgIcon="heroicons_outline:check-circle" *ngIf="value == true"></mat-icon>
                        </a>
                        <form [formGroup]="operationalPerformanceForm.controls[rowIndex]"
                            *ngIf="operationalPerformanceEditStack.includes(rowIndex)" class="h-[45px]">
                            <mat-slide-toggle
                                [matTooltip]="this.operationalPerformanceForm.controls[rowIndex]['controls']['includeInProjectDashboard'].disabled ? 'Only 3 can be selected at a time for dashboard report display' : null"
                                (change)="disabler()" class="h-full overflow-visible"
                                formControlName="includeInProjectDashboard">
                            </mat-slide-toggle>
                        </form>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [flexGrow]="0.3" [resizeable]="false"
                    [sortable]="false" [draggable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded"
                        ngx-datatable-cell-template>

                        <div class="flex items-center justify-start">
                            <a href="javascript:void(0)" title="Delete Single"
                                *ngIf="projecthubservice.roleControllerControl.projectBenefits"
                                (click)="deleteOP(rowIndex)">
                                <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                            </a>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <div class="flex items-start justify-between mt-6 px-6">
        <a class="w-1/6" mat-flat-button [color]="'primary'" type="button"
            (click)="projecthubservice.toggleDrawerOpen('', '',[],'',true)">
            Cancel
        </a>
        <button class="w-1/6" mat-flat-button [color]="'primary'" (click)="submitOP()" type="button">
            Submit
        </button>
    </div>
</div>