<form class="w-full" [formGroup]="askneedform" (ngSubmit)="submitaskneed()">
    <div class="flex items-start justify-between">
        <mat-form-field [ngClass]="formFieldHelpers" class="w-45" [floatLabel]="'always'">
            <mat-label>Ask/Need</mat-label>
            <input matInput [placeholder]="'Ask/Need'" formControlName="askNeed1" name="askNeed1">
        </mat-form-field>
        <mat-form-field [ngClass]="formFieldHelpers" class="w-45" [floatLabel]="'always'">
            <mat-label>Log Date</mat-label>
            <input matInput [matDatepicker]="picker1" [placeholder]="'Choose a date'" formControlName="logDate"
                name="logDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <app-user-single-dropdown [formgroup]="askneedform" [label]="'Need By'"></app-user-single-dropdown>
    <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
        <mat-label>Need By Date</mat-label>
        <input matInput [matDatepicker]="picker2" [placeholder]="'Choose a date'" formControlName="needByDate"
            name="needByDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
        <mat-label>Comments</mat-label>
        <textarea matInput [rows]="5" [placeholder]="'Comments'" formControlName="comments" name="comments"
            matTextareaAutosize></textarea>
    </mat-form-field>
    <mat-form-field [ngClass]="formFieldHelpers" class="w-full" [floatLabel]="'always'">
        <mat-label>Close Date</mat-label>
        <input matInput [matDatepicker]="picker3" [placeholder]="'Choose a date'" formControlName="closeDate"
            name="closeDate">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <div class="flex items-start justify-between incuded-in-dash">
        <mat-slide-toggle formControlName="includeInReport">Include in Project Dashboard</mat-slide-toggle>
    </div>
    <button class="w-full" mat-flat-button [color]="'primary'" type="submit">
        Submit
    </button>
</form>