<div class="p-6 pb-3 pt-0 flex items-center justify-between">
    <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Risks/Issues</div>

    <div class="text-primary">
        <div class="flex items-start justify-between">
            <div style="padding-right: 5px;">
                <button class="min-w-26 ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'" *ngIf="projecthubservice.roleControllerControl.projectHub.projectBoard.askNeedEdit"
                        (click)="projecthubservice.toggleDrawerOpen('RiskIssuesBulkEdit', 'new', [], projectid, true)">
                    <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>&nbsp; Bulk Edit
                </button>
                <button class="ml-4 text-primary bg-gray-200" *ngIf="editable" mat-flat-button [color]="'primary-200'"
                    (click)="projecthubservice.toggleDrawerOpen('RiskIssue', 'new', [], projectid)">
                    <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>&nbsp; Add New
                </button>
            </div>
            <div>
                <form [formGroup]="localIncludedItems">
                    <mat-slide-toggle class="primary slider-adjust" formControlName="toggle" (checked)="projecthubservice.includeClosedItems.riskIssue.value"  (change)="toggleRiskIssue($event)" >
                        Include Closed
                        Items</mat-slide-toggle>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="overflow-x-auto mx-6">
    <ngx-datatable [headerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarV]="false" columnMode="flex"
        class="pr-6 material font-medium text-sm text-secondary whitespace-nowrap cursor-pointer" [rows]="riskIssuesngxdata"
        [sorts]="[{ prop: 'dueDate', dir: 'asc' }]" #riskIssuesTable [rowClass]="getRowClass">
        <ngx-datatable-column name="Status" prop="indicator" [resizeable]="false" [flexGrow]="0.5">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <mat-icon svgIcon="{{(indicator.getIndicators(value, 'circle')).icontype}}"
                    class="{{(indicator.getIndicators(value, 'circle')).iconcolor}}">
                </mat-icon>
                &nbsp;
                &nbsp;
                <mat-icon [matTooltip]="getlinkname(row.riskIssueUniqueId)" *ngIf="islink(row.riskIssueUniqueId)"
                    svgIcon="heroicons_outline:link"></mat-icon>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Type" prop="riskIssueTypeId" [flexGrow]="0.5">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p *ngIf="value == '6feabe5a-575a-4a08-85de-f429abc3f088'"
                    [ngClass]="{'closed': row.closeDate != null}">Risk</p>
                <p *ngIf="value == '2d9dbd40-14ec-47b3-badd-c5a63eb3dbd5'"
                    [ngClass]="{'closed': row.closeDate != null}">Issue</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Date Initiated" prop="logDate" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [ngClass]="{'closed': row.closeDate != null}">{{value | date:'dd-MMM-yyyy'}}</p>
            </ng-template>
        </ngx-datatable-column>



        <ngx-datatable-column name="If This Happens" prop="ifHappens" [flexGrow]="6">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [ngClass]="{'closed': row.closeDate != null}">{{value}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Due Date" prop="dueDate" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [ngClass]="{'closed': row.closeDate != null}">{{value | date:'dd-MMM-yyyy'}}</p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="1" [resizeable]="false" [sortable]="false" [draggable]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                <div class="flex items-center justify-start gap-6">
                    <a href="javascript:void(0)" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                        <mat-icon *ngIf='!expanded' svgIcon="heroicons_outline:chevron-down"></mat-icon>
                        <mat-icon *ngIf='expanded' svgIcon="heroicons_outline:chevron-up"></mat-icon>

                    </a>
                    <a href="javascript:void(0)" *ngIf="editable" title="Edit Single"
                        (click)="projecthubservice.toggleDrawerOpen('RiskIssue', row.riskIssueUniqueId, projectViewDetails.riskIssuesData)">
                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>

                    </a>
                    <a href="javascript:void(0)" title="Delete Single"
                                *ngIf="editable"
                                (click)="deleteRiskIssue(row.riskIssueUniqueId)">
                                <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                            </a>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-row-detail [rowHeight]="'auto'" #riskIssueRowDetail (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                <div style="padding: 10px 0 0 0;">
                    <div class="flex items-start justify-between">
                        <div [ngClass]="{'closed': row.closeDate != null}">
                            <strong class="strong">This Is The Result:</strong>
                            {{row.riskIssueResult}}
                        </div>
                    </div>
                </div>
                <div style="padding: 10px 0 0 0;">
                    <div class="flex items-start justify-between">
                        <div [ngClass]="{'closed': row.closeDate != null}">
                            <strong>Mitigation:</strong>
                            {{row.mitigation}}
                        </div>
                    </div>
                </div>
                <div style="padding: 10px 0 0 0;">
                    <div class="flex items-start justify-between">
                        <div [ngClass]="{'closed': row.closeDate != null}">
                            <strong class="strong">Owner:</strong>
                            {{row.ownerName}}
                        </div>
                    </div>
                </div>
                <div style="padding: 10px 0 0 0;">
                    <div class="flex items-start justify-between">
                        <div [ngClass]="{'closed': row.closeDate != null}">
                            <strong class="strong">Function:</strong>
                            {{lookup.get(row.functionGroupId)}}
                        </div>
                    </div>
                </div>

                <div style="padding: 10px 0 0 0;">
                    <div class="flex items-start justify-between">
                        <div [ngClass]="{'closed': row.closeDate != null}">
                            <strong>Due Date:</strong>
                            {{row.dueDate | date:'dd-MMM-yyyy'}}
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-row-detail>

    </ngx-datatable>
</div>
