<div *ngIf="viewContent" class="w-full">
    <!-- <div class="flex flex-col justify-between items-center bg-card p-6 pt-3 pb-4 m-8 mb-5 mt-0 shadow rounded-2xl">
        <div class="flex justify-between items-start w-full">
            <div class="w-[73%]">
                <span class="font-bold text-primary text-2xl">
                    
                </span>
            </div>
        </div>
    </div> -->
    <div class="w-full">
        <div class="flex flex-auto justify-between items-center bg-card p-6 pt-3 pb-4 m-8 mb-5 mt-0 shadow rounded-2xl">
            <div class="flex justify-between items-start w-full">
                <div class="w-full">
                    <div class="flex justify-between items-center w-full">
                        <div class="w-full font-bold text-primary text-2xl">
                            Project Dashboards
                        </div>
                        <div class="w-full"></div>
                        <div class="w-full">
                            <p class="font-bold text-l">Last Generated</p>
                        </div>
                    </div>
                    <div class="flex flex-auto w-full">
                        <div class="flex justify-between items-center w-full gap-3">
                            <p class="font-bold text-l">
                                Performance Dashboard
                            </p>
                        </div>
                        <div class="flex justify-between items-center w-full gap-3">
                            <div class="w-1/2">
                                <button class="min-w-26 mt-3 w-full" mat-flat-button [color]="'primary'" type="submit"
                                    (click)="generatePD()">
                                    Generate Document
                                </button>
                            </div>
                        </div>

                        <div class="flex flex-auto w-full flex-col mt-5">
                            <div class="ml-2">
                                <span *ngIf="reportInfoData.performanceReportLastGenerated"
                                    class="font-bold text-primary">
                                    {{reportInfoData.performanceReportLastGenerated | date:'dd-MMM-yyyy'}}
                                </span>
                                <span *ngIf="!reportInfoData.performanceReportLastGenerated"
                                    class="font-bold text-primary">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-auto w-full" *ngIf="!projectHubService.isStrategicIniative">
                        <div class="flex justify-between items-center w-full gap-3">
                            <p class="font-bold text-l">
                                Budget Dashboard
                            </p>
                        </div>
                        <div class="flex justify-between items-center w-full gap-3">
                            <div class="w-1/2">
                                <button class="min-w-26 mt-3 w-full" mat-flat-button [color]="'primary'" type="submit"
                                    (click)="generateBD()">
                                    Generate Document
                                </button>
                            </div>
                        </div>

                        <div class="flex flex-auto w-full flex-col mt-6">
                            <div class="ml-2">
                                <span *ngIf="reportInfoData.budgetReportLastGenerated" class="font-bold text-primary">
                                    {{reportInfoData.budgetReportLastGenerated | date:'dd-MMM-yyyy'}}
                                </span>
                                <span *ngIf="!reportInfoData.budgetReportLastGenerated" class="font-bold text-primary">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-auto w-full" *ngIf="!projectHubService.isStrategicIniative">
                        <div class="flex justify-between items-center w-full gap-3">
                            <p class="font-bold text-l">
                                GMSGQ Product Team Dashboard
                            </p>
                        </div>
                        <div class="flex justify-between items-center w-full gap-3">
                            <div class="w-1/2">
                                <button class="min-w-26 mt-3 w-full" mat-flat-button [color]="'primary'" type="submit"
                                    (click)="generatePTD()">
                                    Generate Document
                                </button>
                            </div>
                        </div>

                        <div class="flex flex-auto w-full flex-col mt-6">
                            <div class="ml-2">
                                <span *ngIf="reportInfoData.productTeamReportLastGenerated"
                                    class="font-bold text-primary">
                                    {{reportInfoData.productTeamReportLastGenerated | date:'dd-MMM-yyyy'}}
                                </span>
                                <span *ngIf="!reportInfoData.productTeamReportLastGenerated"
                                    class="font-bold text-primary">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>>
    </div>
</div>