<fuse-drawer [name]="'rightDrawer'" [opened]="projecthubservice.drawerOpenedright"
    (openedChanged)="projecthubservice.drawerOpenedChanged($event)" [mode]="'over'" #myDiv [position]="'right'"
    [ngClass]="{'bulkEdit':projecthubservice.isBulkEdit , 'fuse-drawer-large':projecthubservice.fuseDrawerLarge}">
    <div>
        <app-ask-need-view-edit *ngIf="projecthubservice.itemtype == 'AskNeed'"></app-ask-need-view-edit>
        <app-ask-need-bulk-edit *ngIf="projecthubservice.itemtype == 'AskNeedBulkEdit'"></app-ask-need-bulk-edit>
        <app-ask-need-link *ngIf="projecthubservice.itemtype == 'LinkAskNeeds'"></app-ask-need-link>
        <app-overall-status-edit *ngIf="projecthubservice.itemtype == 'Overall'"></app-overall-status-edit>
        <app-risk-issue-view-edit *ngIf="projecthubservice.itemtype == 'RiskIssue'"></app-risk-issue-view-edit>
        <app-risk-issue-view-edit *ngIf="projecthubservice.itemtype == 'ProjectCharterRiskIssueAddSingle'" [viewElements]="['ifThisHappens','thisIsTheResult','mitigation','type','includeInCharter']" ></app-risk-issue-view-edit>
        <app-risk-issue-view-edit *ngIf="projecthubservice.itemtype == 'BusinessCaseRiskIssueAddSingle'" [viewElements]="['ifThisHappens','probability','thisIsTheResult','impact','mitigation','type','owner']" ></app-risk-issue-view-edit>
        <app-schedule-view-edit *ngIf="projecthubservice.itemtype == 'Schedule'"></app-schedule-view-edit>
        <app-schedule-view-edit *ngIf="projecthubservice.itemtype == 'BusinessCaseScheduleAddNew'" [viewElements]="['milestone','plannedFinish','functionOwner','includeInBusinessCase']" ></app-schedule-view-edit>
        <app-schedule-view-bulk-edit
            *ngIf="projecthubservice.itemtype == 'scheduleBulkEdit'"></app-schedule-view-bulk-edit>
            <app-schedule-view-bulk-edit
            *ngIf="projecthubservice.itemtype == 'scheduleBaselineEdit'" [mode]="'Baseline-Log'"></app-schedule-view-bulk-edit>
        <app-schedule-view-bulk-edit *ngIf="projecthubservice.itemtype == 'scheduleBulkEditCloseOut'" [mode]="'Project-Close-Out'"></app-schedule-view-bulk-edit>
        <app-schedule-view-bulk-edit *ngIf="projecthubservice.itemtype == 'scheduleBulkEditCharter'" [mode]="'Project-Charter'"></app-schedule-view-bulk-edit>
        <app-schedule-view-bulk-edit *ngIf="projecthubservice.itemtype == 'TimelineEditOptionO1'" [optionType]="'recommended-option'" [mode]="'Business-Case'"></app-schedule-view-bulk-edit>
        <app-schedule-view-bulk-edit *ngIf="projecthubservice.itemtype == 'TimelineEditOptionO2'" [optionType]="'option-2'" [mode]="'Business-Case'" ></app-schedule-view-bulk-edit>
        <app-schedule-view-bulk-edit *ngIf="projecthubservice.itemtype == 'TimelineEditOptionO3'" [optionType]="'option-3'" [mode]="'Business-Case'"></app-schedule-view-bulk-edit>
        <app-schedule-link *ngIf="projecthubservice.itemtype == 'LinkMilestones'"></app-schedule-link>
        <app-project-team-add-single
            *ngIf="projecthubservice.itemtype == 'ProjectTeamAddSingle'"></app-project-team-add-single>
        <app-project-team-add-single *ngIf="projecthubservice.itemtype == 'ProjectTeamAddSingleProjectProposal'"
            [mode]="'Project-Proposal'"></app-project-team-add-single>
        <app-project-team-add-single *ngIf="projecthubservice.itemtype == 'ProjectTeamAddSingleProjectCharter'"
            [mode]="'Project-Charter'"></app-project-team-add-single>
        <app-project-team-bulk-edit
            *ngIf="projecthubservice.itemtype == 'ProjectTeamBulkEdit'"></app-project-team-bulk-edit>
        <app-project-team-bulk-edit *ngIf="projecthubservice.itemtype == 'ProjectTeamBulkEditProjectProposal'"
            [mode]="'Project-Proposal'"></app-project-team-bulk-edit>
        <app-project-team-bulk-edit *ngIf="projecthubservice.itemtype == 'ProjectTeamBulkEditProjectCharter'"
            [mode]="'Project-Charter'"></app-project-team-bulk-edit>
            <app-project-charter-scope-single-edit
            *ngIf="projecthubservice.itemtype == 'Project-Charter-Scope'"></app-project-charter-scope-single-edit>

        <app-operational-performance-edit
            *ngIf="projecthubservice.itemtype == 'OperationalPerformanceSingleEdit'"></app-operational-performance-edit>
        <app-operational-performance-edit
                *ngIf="projecthubservice.itemtype == 'OperationalPerformanceSingleEditCloseOut'" [mode]="'Project-Close-Out'"></app-operational-performance-edit>
                <app-operational-performance-edit
                *ngIf="projecthubservice.itemtype == 'OperationalPerformanceSingleEditCharter'" [mode]="'Project-Charter'"></app-operational-performance-edit>
        <app-data-quality-page *ngIf="projecthubservice.itemtype == 'DataQuality'"></app-data-quality-page>
        <app-operational-performance-bulk-edit
            *ngIf="projecthubservice.itemtype == 'OperationalPerformanceBulkEdit'"></app-operational-performance-bulk-edit>
            <app-funding-bulk-edit
            *ngIf="projecthubservice.itemtype == 'FundingBulkEdit'"></app-funding-bulk-edit>
        <app-operational-performance-bulk-edit
                *ngIf="projecthubservice.itemtype == 'OperationalPerformanceBulkEditCloseOut'" [mode]="'Project-Close-Out'"></app-operational-performance-bulk-edit>
                <app-operational-performance-bulk-edit
                *ngIf="projecthubservice.itemtype == 'OperationalPerformanceBulkEditCharter'" [mode]="'Project-Charter'"></app-operational-performance-bulk-edit>
                <app-primary-kpi-single-edit
            *ngIf="projecthubservice.itemtype == 'PrimaryKPISingleEdit'"></app-primary-kpi-single-edit>
        <app-link-project *ngIf="projecthubservice.itemtype == 'LinkProject'"></app-link-project>
        <app-update-parent *ngIf="projecthubservice.itemtype == 'UpdateParent'"></app-update-parent>
        <app-general-info-single-edit
            *ngIf="projecthubservice.itemtype == 'GeneralInfoSingleEdit'"></app-general-info-single-edit>
        <app-close-out-outcomes-single-edit
            *ngIf="projecthubservice.itemtype == 'Close-Out-Outcome'"></app-close-out-outcomes-single-edit>
        <app-general-info-single-edit *ngIf="projecthubservice.itemtype == 'GeneralInfoSingleEditCloseOut'" [subCallLocation]="'CloseOut'"
            [viewElements]="['problemTitle','portfolioOwner','excecutionScope','owningOrganization','primaryProduct','otherImpactedProducts','closeOutApprovedDate','parentProject','sponsor', 'projectManager']"></app-general-info-single-edit>
        <app-general-info-single-edit *ngIf="projecthubservice.itemtype == 'GeneralInfoSingleEditProjectCharter'" [subCallLocation]="'ProjectCharter'" [viewElements]="['problemTitle','portfolioOwner','excecutionScope','owningOrganization','primaryProduct','otherImpactedProducts','approvedDate']"></app-general-info-single-edit>
        <app-general-info-single-edit *ngIf="projecthubservice.itemtype == 'GeneralInfoSingleEditProjectProposal'" [subCallLocation]="'ProjectProposal'" [viewElements]='["problemTitle", "portfolioOwner", "owningOrganization", "opU", "primaryProduct", "otherImpactedProducts", "projectDescription","projectProposalApprovedDate", "functionGroupID", "whynotgoforNextBestAlternative", "proposalStatement", "projectReviewedYN"]'></app-general-info-single-edit>
        <app-general-info-single-edit *ngIf="projecthubservice.itemtype == 'GeneralInfoSingleEditBusinessCase'" [subCallLocation]="'BusinessCase'" [viewElements]='["problemTitle", "portfolioOwner", "owningOrganization", "opU", "primaryProduct", "otherImpactedProducts", "projectDescription", "excecutionScope", "sponsor", "BCAuthor", "StrategicRationale","RiskImpact","AdditionalAuthor","businessCaseApprovedDate"]'></app-general-info-single-edit>
        <app-quality-ref-bulk-edit
            *ngIf="projecthubservice.itemtype == 'QualityRefBulkEdit'"></app-quality-ref-bulk-edit>
        <app-oe-project-single-edit
            *ngIf="projecthubservice.itemtype == 'OEProjectSingleEdit'"></app-oe-project-single-edit>
        <app-tech-transfer-single-edit
            *ngIf="projecthubservice.itemtype == 'TechTransferSingleEdit'"></app-tech-transfer-single-edit>
        <app-strategic-drivers
            *ngIf="projecthubservice.itemtype == 'StrategicDriversSingleEdit'"></app-strategic-drivers>
        <app-strategic-drivers *ngIf="projecthubservice.itemtype == 'StrategicDriversSingleEditCloseOut'" [subCallLocation]="'CloseOut'"  [viewElements]="['isGoodPractise']"></app-strategic-drivers>
        <app-strategic-drivers *ngIf="projecthubservice.itemtype == 'StrategicDriversSingleEditProjectCharter'" [subCallLocation]="'ProjectCharter'" [viewElements]="['primaryKPI','isAgile','agilePrimaryWorkstream','agileSecondaryWorkstream','agileWave']"></app-strategic-drivers>
        <app-strategic-drivers *ngIf="projecthubservice.itemtype == 'StrategicDriversSingleEditProjectProposal'" [subCallLocation]="'ProjectProposal'" [viewElements]='["primaryKPI", "isAgile", "agilePrimaryWorkstream", "agileSecondaryWorkstream", "agileWave", "isPobos", "pobosCategory", "isGmsgqltannualMustWin", "strategicYear", "annualMustWinID", "isSiteAssessment", "siteAssessmentCategory"]'></app-strategic-drivers>
        <app-phase-state *ngIf="projecthubservice.itemtype == 'PhaseState'"></app-phase-state>
        <app-state-check *ngIf="projecthubservice.itemtype == 'StateCheck'"></app-state-check>
        <app-risk-issue-view-bulk-edit *ngIf="projecthubservice.itemtype == 'RiskIssuesBulkEdit'"></app-risk-issue-view-bulk-edit>
        <app-risk-issue-view-bulk-edit *ngIf="projecthubservice.itemtype == 'ProjectCharterRiskIssueBulkEdit'"  [viewElements]="['ifThisHappens','thisIsTheResult','mitigation','type','includeInCharter', 'status','isLink']"></app-risk-issue-view-bulk-edit>
        <app-risk-issue-view-bulk-edit *ngIf="projecthubservice.itemtype == 'BusinessCaseIssueBulkEdit'"  [viewElements]="['ifThisHappens','probability','thisIsTheResult','impact', 'mitigation','type','owner']"></app-risk-issue-view-bulk-edit>
        <app-risk-issues-link *ngIf="projecthubservice.itemtype == 'LinkRiskIssues'"></app-risk-issues-link>
        <app-key-assumption-view-bulk-edit
            *ngIf="projecthubservice.itemtype == 'KeyAssumptionBulkEdit'"></app-key-assumption-view-bulk-edit>
        <app-key-assumption-view-edit
            *ngIf="projecthubservice.itemtype == 'KeyAssumption'"></app-key-assumption-view-edit>
        <app-key-assumptions-add-single *ngIf="projecthubservice.itemtype == 'KeyAsssumptionsAddSingle'"></app-key-assumptions-add-single>
        <app-key-assumptions-add-single *ngIf="projecthubservice.itemtype == 'BusinessCaseKeyAssumptionAddSingle'" [viewElements]="['keyAssumption', 'whyIsThisAssumptionValid','includeInBusinessCase']"></app-key-assumptions-add-single>
        <app-key-assumptions-add-single *ngIf="projecthubservice.itemtype == 'ProjectCharterKeyAssumptionAddSingle'" [viewElements]="['keyAssumption', 'whyIsThisAssumptionValid','includeInCharter']"></app-key-assumptions-add-single>
        <app-key-assumptions-bulk-edit *ngIf="projecthubservice.itemtype == 'KeyAsssumptionsBulkEdit'"></app-key-assumptions-bulk-edit>
        <app-key-assumptions-bulk-edit *ngIf="projecthubservice.itemtype == 'ProjectCharterKeyAssumptionBulkEdit'" [viewElements]="['keyAssumption', 'whyIsThisAssumptionValid','includeInCharter']"></app-key-assumptions-bulk-edit>
        <app-key-assumptions-bulk-edit *ngIf="projecthubservice.itemtype == 'BusinessCaseKeyAssumptionBulkEdit'" [viewElements]="['keyAssumption', 'whyIsThisAssumptionValid','includeInBusinessCase']"></app-key-assumptions-bulk-edit>
        <app-standard-milestone-sets *ngIf="projecthubservice.itemtype == 'StandardMilestoneSets'"></app-standard-milestone-sets>
        <app-option-info-edit *ngIf="projecthubservice.itemtype == 'OptionInfoEditRC'" [optionType]="'recommended-option'"></app-option-info-edit>
        <app-option-info-edit *ngIf="projecthubservice.itemtype == 'OptionInfoEditO2'" [optionType]="'option-2'"></app-option-info-edit>
        <app-option-info-edit *ngIf="projecthubservice.itemtype == 'OptionInfoEditO3'" [optionType]="'option-3'"></app-option-info-edit>
        <app-feasibility-edit *ngIf="projecthubservice.itemtype == 'FeasibilityEditRC'" [optionType]="'recommended-option'"></app-feasibility-edit>
        <app-feasibility-edit *ngIf="projecthubservice.itemtype == 'FeasibilityEditO2'" [optionType]="'option-2'"></app-feasibility-edit>
        <app-feasibility-edit *ngIf="projecthubservice.itemtype == 'FeasibilityEditO3'" [optionType]="'option-3'"></app-feasibility-edit>
        <app-lesson-learned-bulk-edit *ngIf="projecthubservice.itemtype == 'LessonLearnedBulkEdit'"></app-lesson-learned-bulk-edit>
        <app-lesson-learned-single-edit *ngIf="projecthubservice.itemtype == 'LessonLearnedSingleEdit'"></app-lesson-learned-single-edit>
        <app-key-takeaway-single-edit *ngIf="projecthubservice.itemtype == 'keyTakeawaysSingleEdit'"></app-key-takeaway-single-edit>
    </div>
</fuse-drawer>
<fuse-vertical-navigation [appearance]="navigationAppearance" [navigation]="projecthubservice.menuData" [mode]="'side'"
    [name]="'projecthub-navigation'" [autoCollapse]="true" [opened]="true" class=" fixed mt-0 bg-card print:hidden"
    style="margin-top: 4rem !important; z-index: 48;">
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- Logo -->
        <div class="flex items-center justify-end mt-3 mr-5" #container>

            <button class="text-primary text-md" mat-icon-button [color]="'primary-200'"
                (click)="[toggleNavigationAppearance(),toggleSideNav()]">
                <!--<mat-icon *ngIf="!drawerOpened" svgIcon="heroicons_outline:arrow-narrow-right"></mat-icon>
            &nbsp; Menu &nbsp;<mat-icon *ngIf="drawerOpened"
                svgIcon="heroicons_outline:arrow-narrow-left"></mat-icon>-->
                <mat-icon svgIcon="heroicons_outline:lock-open" class="icon-size-8"
                    *ngIf="navigationAppearance==='dense'">
                </mat-icon>
                <mat-icon svgIcon="heroicons_solid:lock-closed" class="text-primary icon-size-8"
                    *ngIf="navigationAppearance==='default'"></mat-icon>
            </button>
        </div>
    </ng-container>
    <ng-container fuseVerticalNavigationContentFooter>
        <div style="padding-bottom: 6rem !important;"></div>
    </ng-container>
</fuse-vertical-navigation>
<div class="flex flex-col flex-auto w-full min-w-0 scroll-fixed"
    [ngClass]="navigationAppearance=='default'?'project-hub-default':'project-hub-dense'"
    [ngStyle]="{ 'position' : projecthubservice.drawerOpenedright ? 'fixed' : 'relative'}">
    <div class="p-8 pb-6 pt-2">
        <div class="w-full bg-card shadow rounded-2xl">
            <div class="flex-1 min-w-0 p-6 pt-1" [ngClass]="{'text-gray-400': projectDetails.isArchived}">
                <!-- Title -->
                <div class="flex justify-between gap-8 mt-2">
                    <h2 class="text-3xl font-extrabold tracking-tight leading-7 sm:leading-10">
                        <span
                            *ngIf="projectDetails.isArchived && !projectDetails.isConfidential">[ARCHIVED]&nbsp;</span>
                        <span *ngIf="projectDetails.isConfidential && !projectDetails.isArchived">[CONF]&nbsp;</span>
                        <span *ngIf="projectDetails.isConfidential && projectDetails.isArchived">[ARCHIVED
                            CONF]&nbsp;</span>
                        {{projectDetails.problemId}} - {{projectDetails.problemTitle}}
                    </h2>
                    <div class=" flex items-center">
                        <div class="w-full pr-3 text-right whitespace-pre" [ngClass]="isCursorPointer()"
                            (click)="openPhaseStateDrawer()">
                            <p>Project State</p>
                            <span
                                [ngClass]="getStateClass(portfolioDetails.projStatus)">{{portfolioDetails.projStatus}}</span>
                        </div>
                        <div class="p-3" [ngClass]="getStartPhaseClass()" style="z-index: 10;"
                            (click)="openPhaseStateDrawer()">Initiate</div>
                        <div class="p-3" [ngClass]="getPhaseClass('Define')" style="z-index: 9;"
                            (click)="openPhaseStateDrawer()">Define</div>
                        <div class="p-3" [ngClass]="getPhaseClass('Plan')" style="z-index: 8;"
                            (click)="openPhaseStateDrawer()">Plan</div>
                        <div class="p-3" [ngClass]="getPhaseClass('Execute')" style="z-index: 7;"
                            (click)="openPhaseStateDrawer()">Execute</div>
                        <div class="p-3" [ngClass]="getPhaseClass('Close')" style="z-index: 6;"
                            (click)="openPhaseStateDrawer()">Close</div>
                        <div class="p-3" [ngClass]="getEndPhaseClass()" style="z-index: 5;"
                            (click)="openPhaseStateDrawer()">Track</div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-start justify-between py-4">
                    <div class="flex justify-between items-center gap-12 text-xl">
                        <div class="flex items-center gap-4">
                            <p>Overall Status</p>
                            <mat-icon
                                svgIcon="{{(indicator.getIndicators(spotLightIndicator.overallIndicator, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(spotLightIndicator.overallIndicator, 'overall')).iconcolor}} icon-size-12">
                            </mat-icon>
                        </div>
                        <div class="flex items-center gap-4">
                            <p> Schedule</p>
                            <mat-icon
                                svgIcon="{{(indicator.getIndicators(spotLightIndicator.scheduleIndicator, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(spotLightIndicator.scheduleIndicator, 'overall')).iconcolor}} icon-size-12">
                            </mat-icon>
                        </div>
                        <div class="flex items-center gap-4">
                            <p> Risk/Issues</p>
                            <mat-icon
                                svgIcon="{{(indicator.getIndicators(spotLightIndicator.riskIndicator, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(spotLightIndicator.riskIndicator, 'overall')).iconcolor}} icon-size-12">
                            </mat-icon>
                        </div>
                        <div class="flex items-center gap-4">
                            <p> Ask/Needs </p>
                            <mat-icon
                                svgIcon="{{(indicator.getIndicators(spotLightIndicator.askNeedIndicator, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(spotLightIndicator.askNeedIndicator, 'overall')).iconcolor}} icon-size-12">
                            </mat-icon>
                        </div>
                        <div class="flex items-center gap-4">
                            <p> Budget</p>
                            <mat-icon
                                svgIcon="{{(indicator.getIndicators(spotLightIndicator.budgetIndicator, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(spotLightIndicator.budgetIndicator, 'overall')).iconcolor}} icon-size-12">
                            </mat-icon>
                        </div>
                        <div class="flex items-center gap-4">
                            <p> Spend </p>
                            <mat-icon
                                svgIcon="{{(indicator.getIndicators(spotLightIndicator.spendIndicator, 'overall')).icontype}}"
                                class="{{(indicator.getIndicators(spotLightIndicator.spendIndicator, 'overall')).iconcolor}} icon-size-12">
                            </mat-icon>
                        </div>
                    </div>
                    <button class="min-w-26 ml-4 text-primary bg-gray-200" mat-flat-button [color]="'primary-200'"
                        (click)="projecthubservice.toggleDrawerOpen('DataQuality', 'new', [] , '',false,true)">
                        <b>Data Quality:&nbsp;</b><a
                            [ngStyle]="{color:getColor(dataQualityPercentage)}">{{dataQualityPercentageString}}</a>
                    </button>
                </div>
                <div class="flex shrink-0 items-center justify-between sm:mt-0">

                </div>

            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
