.w-3qua {
    width: 75vw;
}

.pb-5rem{
    padding-bottom: 5rem;
}

fuse-drawer {
    min-width: 50vw;
    max-width: 50vw
}

fuse-drawer .fuse-drawer-content {
    display: block !important;

}

.apply-button {
    margin: 20px 0px 175px 0px !important;
    width: 100%;
}

.bottom-arrow {
    border: 1px solid;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 51%, 0% 0%);

}
// START POINTER
.pointer-start {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary);
    color: var(--fuse-on-primary);
    padding-left: 30px !important;
    border-radius: 20px 0 0 20px;
}

.pointer-start:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-primary);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
.pointer-start-unselect {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary-200);
    color: var(--fuse-on-primary);
    padding-left: 30px !important;
    border-radius: 20px 0 0 20px;
}

.pointer-start-unselect:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-primary-200);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
//END START POINTER

//START NORMAL POINTER
.pointer {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary);
    color: var(--fuse-on-primary);
    padding-left: 30px !important;
}

.pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-bg-default);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

.pointer:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-primary);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}


.pointer-unselect {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary-200);
    color: var(--fuse-on-primary);
    border-color: #4c9bcf;
    padding-left: 30px !important;
}

.pointer-unselect:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-bg-default);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

.pointer-unselect:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-primary-200);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
//END NORMAL POINTER

//START LAST POINTER
.pointer-last {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary);
    color: var(--fuse-on-primary);
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 0px 20px 20px 0;
}

.pointer-last:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-bg-default);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}



.pointer-last-unselect {
    margin-right: 5px;
    position: relative;
    background-color: var(--fuse-primary-200);
    color: var(--fuse-on-primary);
    border-color: #4c9bcf;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 0px 20px 20px 0;
}

.pointer-last-unselect:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid var(--fuse-bg-default);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}


// END LAST POINTER
