<div class="flex flex-col flex-auto w-full px-8" *ngIf="viewContent">
    <div class="flex bg-card rounded-2xl p-3 pb-0 justify-between items-center">
        <div class="w-full">
            <form class="w-full p-6 pb-3 pt-0" [formGroup]="KeyTakeawayForm">
                <div class="mr-4 text-xl font-medium tracking-tight leading-6 truncate text-primary">Key Takeaways</div>
                <spot-textarea class="w-full read-only" formControlName="keyTakeaways" name="keyTakeaways">
                </spot-textarea>
            </form>
        </div>
        <div class="w-10">
            <a href="javascript:void(0)" *ngIf="projecthubservice.roleControllerControl.projectBenefits"
                title="Edit Single"
                (click)="projecthubservice.toggleDrawerOpen('keyTakeawaysSingleEdit',this.projectData , keyTakeaways, id)">
                <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
            </a>
        </div>
    </div>
    <div class="xl:col-span-6 flex flex-col mt-6 p-3 bg-card shadow rounded-2xl overflow-hidden">
        <app-lesson-learned-table [Editable]="editable"></app-lesson-learned-table>
    </div>
</div>