<form [formGroup]="form" class="form w-full" [ngClass]="{'custom-label-with-hint': showHint && hintPostion == 'tooltip'}">
    <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full" [floatLabel]="'always'">
        <mat-label class="items-center flex" *ngIf="showLabel">{{label}}<mat-icon class="pe"
                *ngIf="showHint && hintPostion == 'tooltip'" matTooltip="{{hint}}">help</mat-icon>
        </mat-label>
        <mat-chip-list #chipList class="chiplist" formControlName="chipList" [required]="Required">
            <mat-chip *ngFor="let item of selectedOption" (removed)="removeOption(item)">
                {{item[valuePointer]}}
                <button matChipRemove *ngIf="!isDisabled">
                    <mat-icon inline=true>cancel</mat-icon>
                </button>
            </mat-chip>
                <input #input matInput (focus)="changeInput()" formControlName="control" [placeholder]="placeholder"
                    [matAutocomplete]="singleSelect" [matChipInputFor]="chipList">
        </mat-chip-list>
        <mat-autocomplete autoActiveFirstOption #singleSelect="matAutocomplete"
            (optionSelected)="onFunctionSelect($event)">
            <ng-container *ngFor="let function of filteredDropDownValues | async">
                <mat-option [value]="function" *ngIf="isOptionSelected(function)">
                    {{function[valuePointer]}}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
        <mat-hint *ngIf="showHint && hintPostion == 'mat-hint'">{{hint}}</mat-hint>
    </mat-form-field>
</form>