<div *ngIf="viewContent">
    <div *ngIf="viewType == 'SidePanel'" class="flex items-start justify-between bg-primary sidepanel-header">
        <div class="text-on-primary" style="padding-top: 6px">Local Attributes</div>
        <div style="padding-top: 2px"><a (click)="projectHubService.toggleDrawerOpen('', '',[],'')"
                href="javascript:void(0)" title="Close">
                <mat-icon class="text-on-primary" svgIcon="heroicons_outline:x"></mat-icon>
            </a>
        </div>
    </div>
    <form class="pl-3 w-full overflow-hidden" [formGroup]="localAttributeForm" (ngSubmit)="submitLA($event)">
        <div [ngClass]="{'overflow-y-scroll overflow-x-hidden h-[86.5vh] pt-3 pr-3': viewType == 'SidePanel'}">
                <div *ngFor="let item of data">
                    <div [ngSwitch]="item.dataType">
                        <spot-input (focusout)="addNewItem(item.uniqueId, $event)" *ngSwitchCase="'6'" class="w-full" formControlName={{item.uniqueId}} name={{item.uniqueId}}
                            [label]=item.name [placeholder]=item.name>
                        </spot-input>
                        <div *ngIf="!item.isMulti">
                        <spot-singleselect-autocomplete (focusout)="addNewItem(item.uniqueId, $event)" *ngSwitchCase="'3'" formControlName={{item.uniqueId}} class="w-full"
                            name={{item.uniqueId}} [label]=item.name [placeholder]=item.name [valuePointer]="'lookUpName'"
                            [dropDownArray]="getLookup(item.lookupParentId)">
                        </spot-singleselect-autocomplete>
                        </div>
                        <div *ngIf="item.isMulti">
                        <spot-multiselect-autocomplete *ngSwitchCase="'3'" formControlName={{item.uniqueId}}
                            class="w-full" name={{item.uniqueId}} [label]=item.name
                            [placeholder]=item.name [valuePointer]="'lookUpName'" [idPointer]="'lookUpId'"
                            [dropDownArray]="getLookup(item.lookupParentId)">
                        </spot-multiselect-autocomplete>
                        </div>
                        <mat-form-field (focusout)="addNewItem(item.uniqueId, $event)" *ngSwitchCase="'4'" class="w-full" [floatLabel]="'always'">
                            <mat-label>{{item.name}}</mat-label>
                            <input matInput formControlName={{item.uniqueId}} type="number" max="100" min="0" placeholder="0"
                                pattern="^\d*(\.\d{0,2})?$"/>
                        </mat-form-field>
                        <spot-input-date *ngSwitchCase="'2'" class="w-full read-only"
                            formControlName={{item.uniqueId}} name={{item.uniqueId}} [label]=item.name
                            [placeholder]=item.name>
                        </spot-input-date>
                        <div *ngIf="!item.isMulti">
                        <spot-singleselect-user-autocomplete *ngSwitchCase="'5'" formControlName={{item.uniqueId}} [label]=item.name
                            name={{item.uniqueId}} [showLabel]="true">
                        </spot-singleselect-user-autocomplete>
                        </div>
                        <div *ngIf="item.isMulti" >
                        <spot-multiselect-user-autocomplete *ngSwitchCase="'5'" formControlName={{item.uniqueId}}
                            [label]=item.name name={{item.uniqueId}} [showLabel]="true">
                        </spot-multiselect-user-autocomplete>
                        </div>
                    </div>
                </div>
        </div>
        <div *ngIf="viewType == 'SidePanel'" class="pr-3 flex items-start justify-between mt-6">
            <a class="min-w-26" mat-flat-button [color]="'primary'" (click)="projectHubService.toggleDrawerOpen('', '',[],'')">
                Cancel
            </a>
            <button class="min-w-26" mat-flat-button [color]="'primary'" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>